{
  "host": "demo.accelbyte.io",
  "info": {
    "description": "Justice Chat Service",
    "title": "justice-chat-service",
    "version": "demo"
  },
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "description": "API Docs",
    "url": "https://demo.accelbyte.io/chat/apidocs"
  },
  "securityDefinitions": {
    "HasPermission": {
      "authorizationUrl": "https://dummy.oauth.net/auth",
      "flow": "accessCode",
      "scopes": {},
      "tokenUrl": "https://dumy.oauth.net/token",
      "type": "oauth2"
    },
    "HasScope": {
      "authorizationUrl": "https://dummy.oauth.net/auth",
      "flow": "accessCode",
      "scopes": {},
      "tokenUrl": "https://dumy.oauth.net/token",
      "type": "oauth2"
    },
    "authorization": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "paths": {
    "/chat/admin/namespaces/{namespace}/chats": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get chat history in a namespace.",
        "operationId": "adminChatHistory",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "chat ID of chat",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "chatId",
            "type": "array"
          },
          {
            "description": "end date",
            "in": "query",
            "name": "endCreatedAt",
            "type": "integer"
          },
          {
            "description": "keyword containing in message",
            "in": "query",
            "name": "keyword",
            "type": "string"
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "anyof: createdAt:asc / createdAt:desc",
            "in": "query",
            "name": "order",
            "type": "string"
          },
          {
            "description": "sender user ID",
            "in": "query",
            "name": "senderUserId",
            "type": "string"
          },
          {
            "description": "shard id",
            "in": "query",
            "name": "shardId",
            "type": "string"
          },
          {
            "description": "start date",
            "in": "query",
            "name": "startCreatedAt",
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "topic ID that receive the chat",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "topic",
            "type": "array"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.ChatMessageWithPaginationResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get chat history",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/namespace-topic": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create new namespace group topic in a namespace.",
        "operationId": "adminCreateNamespaceTopic",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.CreateNamespaceTopicParams"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/api.CreateTopicResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Use to create namespace group. Message that send to this group send to connected user in a namespace",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [CREATE]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get chat list of topic in a namespace.",
        "operationId": "adminTopicList",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "PERSONAL or GROUP",
            "in": "query",
            "name": "topicType",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/models.TopicResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get list of topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create new group topic in a namespace.",
        "operationId": "adminCreateTopic",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.CreateTopicParams"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/api.CreateTopicResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Use to create group. Only group admin can use this operation",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [CREATE]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/channel": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get channel chat list of topic in a namespace.",
        "operationId": "adminChannelTopicList",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "name",
            "in": "query",
            "name": "topicName",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.ChannelTopicWithPaginationResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get list of channel topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/channel/summary": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get chat list of topic in a namespace.",
        "operationId": "adminChannelTopicSummary",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.ChannelTopicSummaryResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get channel topic summary",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/log": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get chat log of topic in a namespace.",
        "operationId": "adminQueryTopicLog",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "end date",
            "in": "query",
            "name": "endCreatedAt",
            "type": "integer"
          },
          {
            "description": "default: 1000",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "senderUserId (actor, can be admin or the user itself)",
            "in": "query",
            "name": "senderUserId",
            "type": "string"
          },
          {
            "description": "start date",
            "in": "query",
            "name": "startCreatedAt",
            "type": "integer"
          },
          {
            "description": "topicId",
            "in": "query",
            "name": "topicId",
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "topicIds",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "topicIds",
            "type": "array"
          },
          {
            "description": "userId",
            "in": "query",
            "name": "userId",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.TopicLogWithPaginationResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin query topic log",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/{topic}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete topic in a namespace.",
        "operationId": "adminDeleteTopic",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID that receive the chat",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/message.ActionDeleteTopicResult"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Use to delete group. Only group admin can use this operation",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [DELETE]"
            ]
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update group topic in a namespace.",
        "operationId": "adminUpdateTopic",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.UpdateTopicParams"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID that receive the chat",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/api.CreateTopicResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Use to update group information. Only group admin can use this operation",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/{topic}/ban-members": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Ban users in some topic. banned user not assigned to shard for channel topic, and cannot send and query chat.",
        "operationId": "adminBanTopicMembers",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.BanTopicMemberParam"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID that receive the chat",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.BanTopicMemberResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admins ban user in group topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/{topic}/channel": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get chat list of topic in a namespace.",
        "operationId": "adminChannelTopicInfo",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.ChannelTopicResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "404": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get channel topic detail",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/{topic}/chats": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Get chat history in a namespace.",
        "operationId": "adminTopicChatHistory",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID that receive the chat",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          },
          {
            "description": "end date",
            "in": "query",
            "name": "endCreatedAt",
            "type": "integer"
          },
          {
            "description": "keyword containing in message",
            "in": "query",
            "name": "keyword",
            "type": "string"
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "anyof: createdAt:asc / createdAt:desc",
            "in": "query",
            "name": "order",
            "type": "string"
          },
          {
            "description": "sender user ID",
            "in": "query",
            "name": "senderUserId",
            "type": "string"
          },
          {
            "description": "shard id",
            "in": "query",
            "name": "shardId",
            "type": "string"
          },
          {
            "description": "start date",
            "in": "query",
            "name": "startCreatedAt",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.ChatMessageWithPaginationResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get chat history",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Send message to chat topic as system.",
        "operationId": "adminSendChat",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.SendChatParams"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID that receive the chat",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/models.ChatMessageResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admins send chat to group topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/{topic}/chats/{chatId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete chat.",
        "operationId": "adminDeleteChat",
        "parameters": [
          {
            "description": "chat ID od the chat",
            "in": "path",
            "name": "chatId",
            "required": true,
            "type": "string"
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID of the chat",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admins delete chat",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [DELETE]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/{topic}/members": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get topic members.",
        "operationId": "adminTopicMembers",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          },
          {
            "description": "only show banned member",
            "in": "query",
            "name": "isBanned",
            "type": "boolean",
            "x-omitempty": false
          },
          {
            "description": "only show moderator member",
            "in": "query",
            "name": "isModerator",
            "type": "boolean",
            "x-omitempty": false
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "shard ID",
            "in": "query",
            "name": "shardId",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.TopicMemberWithPaginationResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get topic member",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/{topic}/shards": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get shard list from topic.",
        "operationId": "adminTopicShards",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get shard list of topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/{topic}/unban-members": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Unban users in some topic.",
        "operationId": "adminUnbanTopicMembers",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.UnbanTopicMemberParam"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID that receive the chat",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.UnbanTopicMemberResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admins unban user in group topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topic/{topic}/user/{userId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Remove member from topic in a namespace.",
        "operationId": "adminRemoveTopicMember",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID that will removed user from",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          },
          {
            "description": "user ID that will be removed from topic",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/message.ActionAddUserToTopicResult"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin remove user from topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [UPDATE]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add new member for topic in a namespace.",
        "operationId": "adminAddTopicMember",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.AddMemberParams"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID that will added user to",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          },
          {
            "description": "user ID that will be added to topic",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/message.ActionAddUserToTopicResult"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin add user to topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/topics": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get topics in a namespace.",
        "operationId": "adminQueryTopic",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "include topic's members",
            "in": "query",
            "name": "includeMembers",
            "type": "boolean",
            "x-omitempty": false
          },
          {
            "description": "include past members (user that had left topic)",
            "in": "query",
            "name": "includePastMembers",
            "type": "boolean",
            "x-omitempty": false
          },
          {
            "description": "include topic that has been removed.\u003cbr/\u003e\u003cb\u003eNOTE:\u003c/b\u003e only soft deleted topics are available",
            "in": "query",
            "name": "includePastTopics",
            "type": "boolean",
            "x-omitempty": false
          },
          {
            "description": "default: 100",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "topic",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "topic",
            "type": "array"
          },
          {
            "description": "topicSubType",
            "enum": [
              "CLAN",
              "NAMESPACE",
              "NORMAL",
              "PARTY",
              "SESSION"
            ],
            "in": "query",
            "name": "topicSubType",
            "type": "string"
          },
          {
            "description": "topicType",
            "enum": [
              "GROUP",
              "PERSONAL"
            ],
            "in": "query",
            "name": "topicType",
            "type": "string"
          },
          {
            "description": "userId",
            "in": "query",
            "name": "userId",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/models.TopicInfo"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin query topics",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      }
    },
    "/chat/admin/namespaces/{namespace}/users/{userId}/topics": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get user\u0026#39;s topics in a namespace.",
        "operationId": "adminQueryUsersTopic",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "userId",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          },
          {
            "description": "when true will include topics that user already left",
            "in": "query",
            "name": "includePastTopics",
            "type": "boolean",
            "x-omitempty": false
          },
          {
            "description": "default: 100",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "topicSubType",
            "enum": [
              "CLAN",
              "NAMESPACE",
              "NORMAL",
              "PARTY",
              "SESSION"
            ],
            "in": "query",
            "name": "topicSubType",
            "type": "string"
          },
          {
            "description": "topicType",
            "enum": [
              "GROUP",
              "PERSONAL"
            ],
            "in": "query",
            "name": "topicType",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.TopicLogWithPaginationResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin query user's topics",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:TOPIC [READ]"
            ]
          }
        ]
      }
    },
    "/chat/public/namespaces/{namespace}/muted": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "get chat muted topics in a namespace.",
        "operationId": "publicGetMutedTopics",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/api.MutedTopicResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "public get muted at topics",
        "tags": [
          "topic"
        ],
        "x-security": []
      }
    },
    "/chat/public/namespaces/{namespace}/topic": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "get chat list of topic in a namespace.",
        "operationId": "publicTopicList",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "PERSONAL or GROUP",
            "in": "query",
            "name": "topicType",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/models.ChatMessageResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "public get list of topic",
        "tags": [
          "topic"
        ],
        "x-security": []
      }
    },
    "/chat/public/namespaces/{namespace}/topic/{topic}/ban-members": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Ban topic members in a group topic.",
        "operationId": "publicBanTopicMembers",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.PublicBanTopicMembersRequest"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/models.PublicBanTopicMembersResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "public ban topic members in a group topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "groupPermissions": [
              "NAMESPACE:{namespace}:CHAT:TOPIC [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/public/namespaces/{namespace}/topic/{topic}/chats": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "get chat history in a namespace.",
        "operationId": "publicChatHistory",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID that receive the chat",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "anyof: createdAt:asc / createdAt:desc",
            "in": "query",
            "name": "order",
            "type": "string"
          },
          {
            "description": "lastChatCreatedAt",
            "in": "query",
            "name": "startCreatedAt",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/models.ChatMessageResponse"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "public get chat history",
        "tags": [
          "topic"
        ],
        "x-security": []
      }
    },
    "/chat/public/namespaces/{namespace}/topic/{topic}/chats/{chatId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete chat.",
        "operationId": "publicDeleteChat",
        "parameters": [
          {
            "description": "chat ID od the chat",
            "in": "path",
            "name": "chatId",
            "required": true,
            "type": "string"
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID of the chat",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "public delete chat",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "groupPermissions": [
              "NAMESPACE:{namespace}:CHAT:TOPIC [DELETE]"
            ]
          }
        ]
      }
    },
    "/chat/public/namespaces/{namespace}/topic/{topic}/mute": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Mute user.",
        "operationId": "publicMuteUser",
        "parameters": [
          {
            "description": "Duration is in seconds",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.MuteUserRequest"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "public mute user in a topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "groupPermissions": [
              "NAMESPACE:{namespace}:CHAT:TOPIC [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/public/namespaces/{namespace}/topic/{topic}/unban-members": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Unban topic members in a group topic.",
        "operationId": "publicUnbanTopicMembers",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.PublicUnbanTopicMembersRequest"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/models.PublicUnbanTopicMembersResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "public unban topic members in a group topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "groupPermissions": [
              "NAMESPACE:{namespace}:CHAT:TOPIC [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/public/namespaces/{namespace}/topic/{topic}/unmute": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Unmute user.",
        "operationId": "publicUnmuteUser",
        "parameters": [
          {
            "description": "Duration is in seconds",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.UnmuteUserRequest"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "topic ID",
            "in": "path",
            "name": "topic",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "public unmute user in a topic",
        "tags": [
          "topic"
        ],
        "x-security": [
          {
            "groupPermissions": [
              "NAMESPACE:{namespace}:CHAT:TOPIC [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/config": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get chat config of all namespaces.",
        "operationId": "adminGetAllConfigV1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.ConfigList"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get all namespaces config",
        "tags": [
          "config"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:*:CHAT:CONFIG [READ]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/config/namespaces/{namespace}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get chat config of a namespace.",
        "operationId": "adminGetConfigV1",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.ConfigResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get namespace config",
        "tags": [
          "config"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:CONFIG [READ]"
            ]
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update chat config of a namespace.",
        "operationId": "adminUpdateConfigV1",
        "parameters": [
          {
            "description": "chat config",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.ConfigResponse"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.ConfigResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "412": {
            "description": "Precondition Failed",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin update namespace config",
        "tags": [
          "config"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:CONFIG [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/config/namespaces/{namespace}/export": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "\n\t\t\t\tExport chat configuration to a json file. The file can then be imported from the /import endpoint. \n\t\t\t\t",
        "operationId": "ExportConfig",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/models.ConfigExport"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.Error"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Export chat config to a json file.",
        "tags": [
          "config"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:CONFIG [READ]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/config/namespaces/{namespace}/import": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "\n\t\t\t\tImport config configuration from file. The existing configuration will be replaced.\n\t\t\t\tThe json file to import can be obtained from the /export endpoint. \n\t\t\t\t",
        "operationId": "ImportConfig",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "file to be imported",
            "in": "formData",
            "name": "file",
            "type": "file"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.ImportConfigResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.Error"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Import chat config from a json file.",
        "tags": [
          "config"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:CONFIG [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/inbox/namespaces/{namespace}/categories": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get inbox categories",
        "operationId": "adminGetInboxCategories",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/models.GetInboxCategoriesResponseItem"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get inbox categories",
        "tags": [
          "inbox"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:CATEGORY [READ]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add inbox category.",
        "operationId": "adminAddInboxCategory",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.AddInboxCategoryRequest"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.AddInboxCategoryResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "add inbox category",
        "tags": [
          "inbox"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:CATEGORY [CREATE]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/inbox/namespaces/{namespace}/categories/{category}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete inbox category",
        "operationId": "adminDeleteInboxCategory",
        "parameters": [
          {
            "description": "category",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin delete inbox category",
        "tags": [
          "inbox"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:CATEGORY [DELETE]"
            ]
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "Update inbox category",
        "operationId": "adminUpdateInboxCategory",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.UpdateInboxCategoryRequest"
            }
          },
          {
            "description": "category",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin update inbox category",
        "tags": [
          "inbox"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:CATEGORY [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/inbox/namespaces/{namespace}/categories/{category}/schema.json": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get category schema.",
        "operationId": "adminGetCategorySchema",
        "parameters": [
          {
            "description": "category",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.JSONSchemaType"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "404": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get category schema",
        "tags": [
          "inbox"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:CATEGORY [READ]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/inbox/namespaces/{namespace}/message/{messageId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete inbox message",
        "operationId": "adminDeleteInboxMessage",
        "parameters": [
          {
            "description": "message",
            "in": "path",
            "name": "messageId",
            "required": true,
            "type": "string"
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "only for testing purposes, to force delete data",
            "in": "query",
            "name": "force",
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin delete inbox message",
        "tags": [
          "inbox"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:INBOX [DELETE]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/inbox/namespaces/{namespace}/messages": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get inbox messages",
        "operationId": "adminGetInboxMessages",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "active only",
            "in": "query",
            "name": "activeOnly",
            "type": "boolean",
            "x-omitempty": false
          },
          {
            "description": "end created at",
            "in": "query",
            "name": "endCreatedAt",
            "type": "integer"
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "message ids",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "messageId",
            "type": "array"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "anyof: createdAt:asc / createdAt:desc",
            "in": "query",
            "name": "order",
            "type": "string"
          },
          {
            "description": "message scope",
            "enum": [
              "NAMESPACE",
              "USER"
            ],
            "in": "query",
            "name": "scope",
            "type": "string"
          },
          {
            "description": "start created at",
            "in": "query",
            "name": "startCreatedAt",
            "type": "integer"
          },
          {
            "description": "message status",
            "enum": [
              "DRAFT",
              "SENT",
              "UNSENT"
            ],
            "in": "query",
            "name": "status",
            "type": "string"
          },
          {
            "description": "transient message filter",
            "in": "query",
            "name": "transient",
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.GetInboxMessagesResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get inbox messages",
        "tags": [
          "inbox"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:INBOX [READ]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Save inbox message",
        "operationId": "adminSaveInboxMessage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SaveInboxMessageRequest"
            }
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.SaveInboxMessageResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin save inbox message",
        "tags": [
          "inbox"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:INBOX [CREATE]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/inbox/namespaces/{namespace}/messages/{inbox}/unsend": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Unsend inbox message",
        "operationId": "adminUnsendInboxMessage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.UnsendInboxMessageRequest"
            }
          },
          {
            "description": "message",
            "in": "path",
            "name": "inbox",
            "required": true,
            "type": "string"
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.UnsendInboxMessageResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin unsend inbox message",
        "tags": [
          "inbox"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:INBOX [UPDATE]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/inbox/namespaces/{namespace}/messages/{inbox}/users": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get inbox users",
        "operationId": "adminGetInboxUsers",
        "parameters": [
          {
            "description": "message id",
            "in": "path",
            "name": "inbox",
            "required": true,
            "type": "string"
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "description": "message status",
            "enum": [
              "READ",
              "UNREAD"
            ],
            "in": "query",
            "name": "status",
            "type": "string"
          },
          {
            "description": "userId",
            "in": "query",
            "name": "userId",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.GetInboxUsersResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "admin get inbox users",
        "tags": [
          "inbox"
        ],
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CHAT:INBOX [READ]"
            ]
          }
        ]
      }
    },
    "/chat/v1/admin/inbox/namespaces/{namespace}/messages/{messageId}": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "Update inbox message",
        "operationId": "adminUpdateInboxMessage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.UpdateInboxMessageRequest"
            }
          },
          {
            "description": "message",
            "in": "path",
            "name": "messageId",
            "required": true,
            "type": "string"
          },
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/restapi.ErrorResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error",
[...]
