{
  "host": "demo.accelbyte.io",
  "info": {
    "contact": {
      "email": "engineering@accelbyte.io",
      "name": "Engineering Platform Team at AccelByte",
      "url": "https://accelbyte.io"
    },
    "description": "Custom Service Manager",
    "title": "custom-service-manager",
    "version": "1.27.0"
  },
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "description": "API Docs",
    "url": "https://stage.accelbyte.io/csm/apidocs"
  },
  "securityDefinitions": {
    "authorization": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "paths": {
    "/csm/v1/admin/namespaces/{namespace}/apps": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [READ]\u0026lt;/code\u0026gt;\n\nGets the List of Apps for AB-Extend Customer\n\nAvailable scenario:\n\t- scenario 1: \u0026lt;code\u0026gt;function-override\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;- scenario 2: \u0026lt;code\u0026gt;service-extension\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;- scenario 3: \u0026lt;code\u0026gt;event-handler\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;\n\n\t",
        "operationId": "GetAppListV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.GetAppListV1Request"
            }
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetAppListV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Gets the List of Apps for AB-Extend Customer",
        "tags": [
          "App"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [DELETE]\u0026lt;/code\u0026gt;\n\t\t\nDelete App by given DeploymentID\n\nThis endpoint intended to delete ECR repo, ECR manifests, service images, uninstall helm-release, \nand update the deleted_at in DB by given App Name.\n\nRequired: Valid Access Token\n",
        "operationId": "DeleteAppV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Force App Deletion",
            "in": "query",
            "name": "forced",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete App by Åpp Name",
        "tags": [
          "App"
        ],
        "x-errorCodes": {}
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [READ]\u0026lt;/code\u0026gt;\n\nGets the App By Name\n\t",
        "operationId": "GetAppV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetAppV1Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Gets the App By Name",
        "tags": [
          "App"
        ],
        "x-errorCodes": {}
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]\u0026lt;/code\u0026gt;\n\nUpdate App Partially",
        "operationId": "UpdateAppV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.UpdateAppV1Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.UpdateAppV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update App Partially",
        "tags": [
          "App"
        ],
        "x-errorCodes": {}
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [CREATE]\u0026lt;/code\u0026gt;\n\nCreates new App for AB-Extend Customers\n\nAvailable scenario:\n\t- scenario 1: \u0026lt;code\u0026gt;function-override\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;- scenario 2: \u0026lt;code\u0026gt;service-extension\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;- scenario 3: \u0026lt;code\u0026gt;event-handler\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;\nDefault: \u0026lt;code\u0026gt;function-override\u0026lt;/code\u0026gt;\n\n",
        "operationId": "CreateAppV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.CreateAppV1Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.CreateAppV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Creates new App for AB-Extend Customers",
        "tags": [
          "App"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/deployments": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:DEPLOYMENT [CREATE]\u0026lt;/code\u0026gt;\n\nCreates Deployment for extend service\n\nThis endpoint intended to apply the helm release or deploying the custom service image.\nLogic in this endpoint:\n\t- Getting the repo from AppHistory table and image tag from request\n\t- Getting the Helm Manifest template from S3\n\t- Filling the Helm Manifest values\n\t- Installing the Helm Manifest to deploy the custom service image into K8s based on given namespace\n\t- Storing the filled Helm Manifest to S3\n\t- Storing the Deployment information to Database\n\nRequired: Valid Access Token\n",
        "operationId": "CreateDeploymentV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.CreateDeploymentV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.CreateDeploymentV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Creates Deployment",
        "tags": [
          "Deployment"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/images": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:IMAGE [DELETE]\u0026lt;/code\u0026gt;\n\nDeletes the images uploaded to the repository\n\t",
        "operationId": "DeleteAppImagesV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.DeleteAppImagesV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Deletes the images",
        "tags": [
          "Image"
        ],
        "x-errorCodes": {}
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:IMAGE [READ]\u0026lt;/code\u0026gt;\n\nGet a list of container images\n\nDefault \u0026#39;cached\u0026#39; parameter is \u0026#39;true\u0026#39;\n",
        "operationId": "GetAppImageListV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "default": "true",
            "description": "Get Cached Images",
            "in": "query",
            "name": "cached",
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetAppImageListV1Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get a list of container images",
        "tags": [
          "Image"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/release": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [READ]\u0026lt;/code\u0026gt;\n\nGets the Latest Release Version info of this App\n\t",
        "operationId": "GetAppReleaseV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetAppReleaseV1Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Gets the Latest Release Version info of this App",
        "tags": [
          "App"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/secrets": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [READ]\u0026lt;/code\u0026gt;\n\nGet list of environment secrets per app\nAvailable Deployment Status: \n\u0026lt;code\u0026gt;deployed\u0026lt;/code\u0026gt; = app config is already deployed\n\u0026lt;code\u0026gt;undeployed\u0026lt;/code\u0026gt; = app config is not deployed yet and need restart and deploy of the app to be deployed\n\t",
        "operationId": "GetListOfSecretsV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetListOfConfigurationsV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get list of environment secrets",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {}
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [CREATE]\u0026lt;/code\u0026gt;\n\nSave an environment secret.\n      Request body:\n   - configName\t\t: environment secret name - Required.\n   - source\t\t\t: source of the configuration value (plaintext or ssm) - Required.\n   - value\t\t\t: configuration value - Required.\n   - description\t: description of the configuration - Optional.\n   - applyMask\t\t: mask the value in the Helm manifest for sensitive information (true or false) - Optional.\n\n      ",
        "operationId": "SaveSecretV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.SaveConfigurationV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.SaveConfigurationV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Save an environment secret",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/secrets/{configId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [DELETE]\u0026lt;/code\u0026gt;\n\nDelete an environment secret.\n\t",
        "operationId": "DeleteSecretV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Config ID",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete an environment secret",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {}
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [UPDATE]\u0026lt;/code\u0026gt;\n\nUpdate an environment secret.\n      Request body:\n   - value\t\t\t: configuration value - Required.\n   - description\t: description of the configuration - Optional.\n   - applyMask\t\t: mask the value in the Helm manifest for sensitive information (true or false) - Optional.\n\n      ",
        "operationId": "UpdateSecretV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.UpdateConfigurationV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Config ID",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.UpdateConfigurationV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update an environment secret",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/start": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]\u0026lt;/code\u0026gt;\n\nStarts the Application\n\t",
        "operationId": "StartAppV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.StartAppV1Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.StartAppV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Starts the Application",
        "tags": [
          "App"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/stop": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]\u0026lt;/code\u0026gt;\n\nStops the Application\n\t",
        "operationId": "StopAppV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.StopAppV1Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.StopAppV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Stops the Application",
        "tags": [
          "App"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/variables": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:VARIABLE [READ]\u0026lt;/code\u0026gt;\n\nGet list of environment variables per app\nAvailable Deployment Status: \n\u0026lt;code\u0026gt;deployed\u0026lt;/code\u0026gt; = app config is already deployed\n\u0026lt;code\u0026gt;undeployed\u0026lt;/code\u0026gt; = app config is not deployed yet and need restart and deploy of the app to be deployed\n\t",
        "operationId": "GetListOfVariablesV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetListOfConfigurationsV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get list of environment variables",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {}
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:VARIABLE [CREATE]\u0026lt;/code\u0026gt;\n\nSave an environment variable.\n      Request body:\n   - configName\t\t: environment variable name - Required.\n   - source\t\t\t: source of the configuration value (plaintext or ssm) - Required.\n   - value\t\t\t: configuration value - Required.\n   - description\t: description of the configuration - Optional.\n   - applyMask\t\t: mask the value in the Helm manifest for sensitive information (true or false) - Optional.\n\n      ",
        "operationId": "SaveVariableV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.SaveConfigurationV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.SaveConfigurationV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Save an environment variable",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/variables/{configId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:VARIABLE [DELETE]\u0026lt;/code\u0026gt;\n\nDelete an environment variable.\n\t",
        "operationId": "DeleteVariableV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Config ID",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete an environment variable",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {}
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:VARIABLE [UPDATE]\u0026lt;/code\u0026gt;\n\nUpdate an environment variable.\n      Request body:\n   - value\t\t\t: configuration value - Required.\n   - description\t: description of the configuration - Optional.\n   - applyMask\t\t: mask the value in the Helm manifest for sensitive information (true or false) - Optional.\n\n      ",
        "operationId": "UpdateVariableV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.UpdateConfigurationV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Config ID",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.UpdateConfigurationV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update an environment variable",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/deployments": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:DEPLOYMENT [READ]\u0026lt;/code\u0026gt;\n\t\t\nFilters the List of Deployments\n\nThis endpoint intended to get list of Deployment done for the given publisher and game.\n\nRequired: Valid Access Token\n",
        "operationId": "GetListOfDeploymentV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.GetDeploymentListV1Request"
            }
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetDeploymentListV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Fetches the List of Deployments",
        "tags": [
          "Deployment"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/deployments/{deploymentId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:DEPLOYMENT [DELETE]\u0026lt;/code\u0026gt;\n\nDelete Deployment information by given DeploymentID\n\nThis endpoint intended to delete helm release object and update the deleted_at in DB by given Deployment ID.\n\nRequired: Valid Access Token\n",
        "operationId": "DeleteDeploymentV1",
        "parameters": [
          {
            "description": "Deployment ID",
            "in": "path",
            "name": "deploymentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete Deployment by Deployment ID",
        "tags": [
          "Deployment"
        ],
        "x-errorCodes": {}
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:DEPLOYMENT [READ]\u0026lt;/code\u0026gt;\n\t\t\nGet Deployment information by given DeploymentID\n\nThis endpoint intended to get Deployment information by given Deployment ID from Deployment Table.\n\nRequired: Valid Access Token\n",
        "operationId": "GetDeploymentV1",
        "parameters": [
          {
            "description": "Deployment ID",
            "in": "path",
            "name": "deploymentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetDeploymentV1Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get Deployment by Deployment ID",
        "tags": [
          "Deployment"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v1/messages": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "get the list of messages.",
        "operationId": "publicGetMessages",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/log.AppMessageDeclaration"
              },
              "type": "array"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "get service messages",
        "tags": [
          "Messages"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [READ]\u0026lt;/code\u0026gt;\n\nGet list of extend apps on a given game namespace",
        "operationId": "GetAppListV2",
        "parameters": [
          {
            "description": "Available scenario:\n- scenario 3: \u003ccode\u003eevent-handler\u003c/code\u003e\n- scenario 1: \u003ccode\u003efunction-override\u003c/code\u003e\n- scenario 2: \u003ccode\u003eservice-extension\u003c/code\u003e\n\n\nAvailable app status:\n- \u003ccode\u003eapp-creating\u003c/code\u003e\n- \u003ccode\u003eapp-creation-failed\u003c/code\u003e\n- \u003ccode\u003eapp-creation-timeout\u003c/code\u003e\n- \u003ccode\u003eapp-undeployed\u003c/code\u003e\n- \u003ccode\u003edeployment-in-progress\u003c/code\u003e\n- \u003ccode\u003edeployment-failed\u003c/code\u003e\n- \u003ccode\u003edeployment-timeout\u003c/code\u003e\n- \u003ccode\u003edeployment-running\u003c/code\u003e\n- \u003ccode\u003edeployment-down\u003c/code\u003e\n- \u003ccode\u003eapp-stopping\u003c/code\u003e\n- \u003ccode\u003eapp-stop-failed\u003c/code\u003e\n- \u003ccode\u003eapp-stop-timeout\u003c/code\u003e\n- \u003ccode\u003eapp-stopped\u003c/code\u003e\n- \u003ccode\u003eapp-removing\u003c/code\u003e\n- \u003ccode\u003eapp-removed\u003c/code\u003e\n- \u003ccode\u003eapp-remove-timeout\u003c/code\u003e\n\n\nPut empty object {} for no filter",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.GetAppListV2Request"
            }
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Maximum number of apps items returned",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Starting point offset items",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of apps",
            "schema": {
              "$ref": "#/definitions/apimodel.GetAppListV2Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get list of extend apps on a given game namespace",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [DELETE]\u0026lt;/code\u0026gt;\n\t\nDelete extend app by given {app} name\n\nThis endpoint will delete app information, configuration, deployments and all related manifest from \ndb, storage and cluster\n",
        "operationId": "DeleteAppV2",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Force app deletion, if 'true' will proceed delete regardless of current app status (default: false)",
            "in": "query",
            "name": "forced",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete extend app by name",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {}
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [READ]\u0026lt;/code\u0026gt;\n\t\nGet extend app by name\n\nAvailable scenario:\n- scenario 2: \u0026lt;code\u0026gt;service-extension\u0026lt;/code\u0026gt;\n- scenario 3: \u0026lt;code\u0026gt;event-handler\u0026lt;/code\u0026gt;\n- scenario 1: \u0026lt;code\u0026gt;function-override\u0026lt;/code\u0026gt;\n\n\nAvailable app status:\n- \u0026lt;code\u0026gt;app-creating\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-creation-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-creation-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-undeployed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-in-progress\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-running\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-down\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stopping\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stop-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stop-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stopped\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-removing\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-removed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-remove-timeout\u0026lt;/code\u0026gt;\n\n\t",
        "operationId": "GetAppV2",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apimodel.AppItem"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get extend app by name",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {}
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]\u0026lt;/code\u0026gt;\n\nUpdate app info provided on request body",
        "operationId": "UpdateAppV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.UpdateAppV2Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.AppItem"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update app info",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {}
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [CREATE]\u0026lt;/code\u0026gt;\n\nCreate new extend app with name provided by {app} path parameter and specified scenario type\n\nAvailable scenario:\n- scenario 1: \u0026lt;code\u0026gt;function-override\u0026lt;/code\u0026gt;\n- scenario 2: \u0026lt;code\u0026gt;service-extension\u0026lt;/code\u0026gt;\n- scenario 3: \u0026lt;code\u0026gt;event-handler\u0026lt;/code\u0026gt;\n\n\nAvailable app status:\n- \u0026lt;code\u0026gt;app-creating\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-creation-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-creation-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-undeployed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-in-progress\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-running\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-down\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stopping\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stop-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stop-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stopped\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-removing\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-removed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-remove-timeout\u0026lt;/code\u0026gt;\n\n",
        "operationId": "CreateAppV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.CreateAppV2Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.AppItem"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create new extend app",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/deployments": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:DEPLOYMENT [CREATE]\u0026lt;/code\u0026gt;\n\nCreates Deployment for extend service\n\nThis Endpoint will create new deployment and apply all of the secrets and variable as environment variable\n\nRequired: \n\t- Valid Access Token\n\t- Valid Image Version Created on Uploading image with docker or other method\n\t- Valid App name\n\t- Valid Namespace name\n\n",
        "operationId": "CreateDeploymentV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.CreateDeploymentV2Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apimodel.CreateDeploymentV2Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Creates Deployment",
        "tags": [
          "Deployment V2"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/images": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:IMAGE [DELETE]\u0026lt;/code\u0026gt;\n\nDeletes list of provided image tags from the app image repository\n\t",
        "operationId": "DeleteAppImagesV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.DeleteAppImagesV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete app images",
        "tags": [
          "Image V2"
        ],
        "x-errorCodes": {}
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:IMAGE [READ]\u0026lt;/code\u0026gt;\n\nGet a list of container images\n\nDefault \u0026#39;cached\u0026#39; parameter is \u0026#39;true\u0026#39;\n",
        "operationId": "GetAppImageListV2",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "default": "true",
            "description": "Get Cached Images",
            "in": "query",
            "name": "cached",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apimodel.GetAppImageListV2Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get a list of container images",
        "tags": [
          "Image V2"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/resources": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]\u0026lt;/code\u0026gt;\n\nUpdate app resources provided on request body",
        "operationId": "UpdateAppResourcesV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.UpdateAppResourceRequest"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.AppItem"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update app info",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/resources/form": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]\u0026lt;/code\u0026gt;\n\nUpdate app resources provided on request body",
        "operationId": "UpdateAppResourcesResourceLimitFormV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.IncreaseLimitFormRequest"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Request Resource Limit to be increased",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/secrets": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [READ]\u0026lt;/code\u0026gt;\n\t\nGet list of environment secrets per app\nAvailable Deployment Status: \n\u0026lt;code\u0026gt;deployed\u0026lt;/code\u0026gt; = app config is already deployed\n\u0026lt;code\u0026gt;undeployed\u0026lt;/code\u0026gt; = app config is not deployed yet and need restart and deploy of the app to be deployed\n\t",
        "operationId": "GetListOfSecretsV2",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apimodel.GetListOfConfigurationsV2Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get list of environment secrets",
        "tags": [
          "Configuration V2"
        ],
        "x-errorCodes": {}
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [CREATE]\u0026lt;/code\u0026gt;\n\nSave an environment secret.\nSecret will always be masked.\n      Request body:\n   - configName\t\t: environment secret name - Required.\n   - source\t\t\t: source of the configuration value (plaintext or ssm) - Required.\n   - value\t\t\t: configuration value - Required.\n   - description\t: description of the configuration - Optional.\n\n      ",
        "operationId": "SaveSecretV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.SaveSecretConfigurationV2Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.SaveConfigurationV2Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Save an environment secret",
        "tags": [
          "Configuration V2"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/secrets/{configId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [DELETE]\u0026lt;/code\u0026gt;\n\t\nDelete an environment secret by its config id\n\t",
        "operationId": "DeleteSecretV2",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Config ID",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete an environment secret",
        "tags": [
          "Configuration V2"
        ],
        "x-errorCodes": {}
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [UPDATE]\u0026lt;/code\u0026gt;\n\nUpdate an environment secret. \nSecret will always be masked.\nRequest body:\n   - value\t\t\t: configuration value - Required.\n   - description\t: description of the configuration - Optional.\n\n",
        "operationId": "UpdateSecretV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.UpdateSecretConfigurationV2Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Config ID",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.UpdateConfigurationV2Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update an environment secret",
        "tags": [
          "Configuration V2"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/start": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]\u0026lt;/code\u0026gt;\n\t\t\nStarts the Application\n\t",
        "operationId": "StartAppV2",
        "parameters": [
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "This means the request to start the application is accepted, and it will be processed in the background."
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Starts the Application",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/stop": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]\u0026lt;/code\u0026gt;\n\t\nStops the Application\n\t",
        "operationId": "StopAppV2",
        "parameters": [
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "This means the request to stop the application is accepted, and it will be processed in the background."
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Stops the Application",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {}
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/subscriptions": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP:ALERT:SUBSCRIPTION [READ]\u0026lt;/code\u0026gt;\n\nRequest param:\n- notificationType : type of the subscribed app notification\n\t- values: \n\t    - all\n\t\t- app-down\n\t\t- critical-vulnerability\n\nGet a list of the app notification subscriber\n",
        "operationId": "GetNotificationSubscriberListV2",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Notification Type",
            "in": "query",
            "name": "notificationType",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apimodel.GetNotificationSubscriberListResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get a list of the app notification subscriber",
        "tags": [
          "Notification Subscription"
        ],
        "x-errorCodes": {}
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Required permission : \u0026lt;code\u0026gt;ADMIN:NAMESPACE:{namespace}:EXTEND:APP:ALERT:SUBSCRIPTION [CREATE]\u0026lt;/code\u0026gt;\n\nSubscribe the user(s) an app notification.\n\nRequest body:\n- notificationType\t\t: type of the app notification to be subscribed - Required.\n\t- values: \n\t\t- \u0026#34;all\u0026#34;\n\t\t- \u0026#34;app-down\u0026#34;\n\t\t- \u0026#34;critical-vulnerability\u0026#34;\n- subscribers\t\t\t: user(s) to subscribe the app notification - Required.\n",
        "operationId": "SubscribeAppNotificationV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.SubscribeNotificationRequest"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apimodel.SubscribeNotificationResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
[...]
