{
  "host": "demo.accelbyte.io",
  "info": {
    "contact": {
      "email": "engineering@accelbyte.io",
      "name": "Engineering Platform Team at AccelByte",
      "url": "https://accelbyte.io"
    },
    "description": "Custom Service Manager",
    "title": "custom-service-manager",
    "version": "1.34.0"
  },
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "description": "API Docs",
    "url": "https://stage.accelbyte.io/csm/apidocs"
  },
  "securityDefinitions": {
    "authorization": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "paths": {
    "/csm/v1/admin/namespaces/{namespace}/app-ui": {
      "get": {
        "consumes": [
          "application/json",
          "multipart/form-data"
        ],
        "description": "Retrieves a paginated list of App UI instances. Supports filtering by name and pagination using limit/offset.",
        "operationId": "ListAppUI",
        "parameters": [
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit for pagination",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Filter by app UI name",
            "in": "query",
            "name": "name",
            "type": "string"
          },
          {
            "description": "Offset for pagination",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.ListAppUIResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "List all App UI instances in the namespace",
        "tags": [
          "App UI"
        ],
        "x-errorCodes": {},
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APPUI [READ]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json",
          "multipart/form-data"
        ],
        "description": "Creates a new App UI configuration. The App UI can be hosted either by AccelByte (default) or externally.",
        "operationId": "CreateAppUI",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.CreateAppUIRequest"
            }
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/apimodel.AppUIResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create a new App UI instance",
        "tags": [
          "App UI"
        ],
        "x-errorCodes": {},
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APPUI [CREATE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/app-ui/{appUiName}": {
      "delete": {
        "consumes": [
          "application/json",
          "multipart/form-data"
        ],
        "description": "Permanently deletes an App UI instance and schedules cleanup of associated S3 assets.",
        "operationId": "DeleteAppUI",
        "parameters": [
          {
            "description": "App UI Name",
            "in": "path",
            "name": "appUiName",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete an App UI instance",
        "tags": [
          "App UI"
        ],
        "x-errorCodes": {},
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APPUI [DELETE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/app-ui/{appUiName}/files/upload": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Uploads a ZIP archive containing App UI static assets (HTML, CSS, JS, etc.). Files are stored in S3 and served with immutable caching.",
        "operationId": "UploadAppUIFile",
        "parameters": [
          {
            "description": "Zip file containing App UI assets",
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "file"
          },
          {
            "description": "App UI Name",
            "in": "path",
            "name": "appUiName",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Version of the App UI assets, can be left empty by default is 'default'",
            "in": "query",
            "name": "version",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.UploadFileResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Upload App UI assets as a zip file",
        "tags": [
          "App UI"
        ],
        "x-errorCodes": {},
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APPUI [UPDATE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Gets the List of Apps for AB-Extend Customer\n\nAvailable scenario:\n\t- scenario 1: \u0026lt;code\u0026gt;function-override\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;- scenario 2: \u0026lt;code\u0026gt;service-extension\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;- scenario 3: \u0026lt;code\u0026gt;event-handler\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;\n\n\t",
        "operationId": "GetAppListV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.GetAppListV1Request"
            }
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetAppListV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Gets the List of Apps for AB-Extend Customer",
        "tags": [
          "App"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v1/list",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [READ]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Delete App by given DeploymentID\n\nThis endpoint intended to delete ECR repo, ECR manifests, service images, uninstall helm-release, \nand update the deleted_at in DB by given App Name.\n\nRequired: Valid Access Token\n",
        "operationId": "DeleteAppV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Force App Deletion",
            "in": "query",
            "name": "forced",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete App by Åpp Name",
        "tags": [
          "App"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v1/delete",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [DELETE]"
            ]
          }
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Gets the App By Name\n\t",
        "operationId": "GetAppV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetAppV1Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Gets the App By Name",
        "tags": [
          "App"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v1/get",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [READ]"
            ]
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Update App Partially",
        "operationId": "UpdateAppV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.UpdateAppV1Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.UpdateAppV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update App Partially",
        "tags": [
          "App"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v1/update",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]"
            ]
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Creates new App for AB-Extend Customers\n\nAvailable scenario:\n\t- scenario 1: \u0026lt;code\u0026gt;function-override\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;- scenario 2: \u0026lt;code\u0026gt;service-extension\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;- scenario 3: \u0026lt;code\u0026gt;event-handler\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;\nDefault: \u0026lt;code\u0026gt;function-override\u0026lt;/code\u0026gt;\n\n",
        "operationId": "CreateAppV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.CreateAppV1Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.CreateAppV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Creates new App for AB-Extend Customers",
        "tags": [
          "App"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v1/create",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [CREATE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/deployments": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Creates Deployment for extend service\n\nThis endpoint intended to apply the helm release or deploying the custom service image.\nLogic in this endpoint:\n\t- Getting the repo from AppHistory table and image tag from request\n\t- Getting the Helm Manifest template from S3\n\t- Filling the Helm Manifest values\n\t- Installing the Helm Manifest to deploy the custom service image into K8s based on given namespace\n\t- Storing the filled Helm Manifest to S3\n\t- Storing the Deployment information to Database\n\nRequired: Valid Access Token\n",
        "operationId": "CreateDeploymentV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.CreateDeploymentV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.CreateDeploymentV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Creates Deployment",
        "tags": [
          "Deployment"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/deployments/v1/create",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:DEPLOYMENT [CREATE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/images": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Deletes the images uploaded to the repository\n\t",
        "operationId": "DeleteAppImagesV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.DeleteAppImagesV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Deletes the images",
        "tags": [
          "Image"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/images/v1/delete",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:IMAGE [DELETE]"
            ]
          }
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Get a list of container images\n\nDefault \u0026#39;cached\u0026#39; parameter is \u0026#39;true\u0026#39;\n",
        "operationId": "GetAppImageListV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "default": "true",
            "description": "Get Cached Images",
            "in": "query",
            "name": "cached",
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetAppImageListV1Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get a list of container images",
        "tags": [
          "Image"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/images/v1/list",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:IMAGE [READ]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/release": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Gets the Latest Release Version info of this App\n\t",
        "operationId": "GetAppReleaseV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetAppReleaseV1Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Gets the Latest Release Version info of this App",
        "tags": [
          "App"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v1/get-release-info",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [READ]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/secrets": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Get list of environment secrets per app\nAvailable Deployment Status: \n\u0026lt;code\u0026gt;deployed\u0026lt;/code\u0026gt; = app config is already deployed\n\u0026lt;code\u0026gt;undeployed\u0026lt;/code\u0026gt; = app config is not deployed yet and need restart and deploy of the app to be deployed\n\t",
        "operationId": "GetListOfSecretsV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetListOfConfigurationsV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get list of environment secrets",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/config/v1/list-secrets",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [READ]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Save an environment secret.\n      Request body:\n   - configName\t\t: environment secret name - Required.\n   - source\t\t\t: source of the configuration value (plaintext or ssm) - Required.\n   - value\t\t\t: configuration value - Required.\n   - description\t: description of the configuration - Optional.\n   - applyMask\t\t: mask the value in the Helm manifest for sensitive information (true or false) - Optional.\n\n      ",
        "operationId": "SaveSecretV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.SaveConfigurationV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.SaveConfigurationV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Save an environment secret",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/config/v1/create-secret",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [CREATE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/secrets/{configId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Delete an environment secret.\n\t",
        "operationId": "DeleteSecretV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Config ID",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete an environment secret",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/config/v1/delete-secret",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [DELETE]"
            ]
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Update an environment secret.\n      Request body:\n   - value\t\t\t: configuration value - Required.\n   - description\t: description of the configuration - Optional.\n   - applyMask\t\t: mask the value in the Helm manifest for sensitive information (true or false) - Optional.\n\n      ",
        "operationId": "UpdateSecretV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.UpdateConfigurationV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Config ID",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.UpdateConfigurationV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update an environment secret",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/config/v1/update-secret",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:SECRET [UPDATE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/start": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Starts the Application\n\t",
        "operationId": "StartAppV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.StartAppV1Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.StartAppV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Starts the Application",
        "tags": [
          "App"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v1/start",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/stop": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Stops the Application\n\t",
        "operationId": "StopAppV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.StopAppV1Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.StopAppV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Stops the Application",
        "tags": [
          "App"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v1/stop",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/variables": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Get list of environment variables per app\nAvailable Deployment Status: \n\u0026lt;code\u0026gt;deployed\u0026lt;/code\u0026gt; = app config is already deployed\n\u0026lt;code\u0026gt;undeployed\u0026lt;/code\u0026gt; = app config is not deployed yet and need restart and deploy of the app to be deployed\n\t",
        "operationId": "GetListOfVariablesV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetListOfConfigurationsV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get list of environment variables",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/config/v1/list-variables",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:VARIABLE [READ]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Save an environment variable.\n      Request body:\n   - configName\t\t: environment variable name - Required.\n   - source\t\t\t: source of the configuration value (plaintext or ssm) - Required.\n   - value\t\t\t: configuration value - Required.\n   - description\t: description of the configuration - Optional.\n   - applyMask\t\t: mask the value in the Helm manifest for sensitive information (true or false) - Optional.\n\n      ",
        "operationId": "SaveVariableV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.SaveConfigurationV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.SaveConfigurationV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Save an environment variable",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/config/v1/create-variable",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:VARIABLE [CREATE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/apps/{app}/variables/{configId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Delete an environment variable.\n\t",
        "operationId": "DeleteVariableV1",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Config ID",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete an environment variable",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/config/v1/delete-variable",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:VARIABLE [DELETE]"
            ]
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Update an environment variable.\n      Request body:\n   - value\t\t\t: configuration value - Required.\n   - description\t: description of the configuration - Optional.\n   - applyMask\t\t: mask the value in the Helm manifest for sensitive information (true or false) - Optional.\n\n      ",
        "operationId": "UpdateVariableV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.UpdateConfigurationV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Config ID",
            "in": "path",
            "name": "configId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/generated.UpdateConfigurationV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update an environment variable",
        "tags": [
          "Configuration"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/config/v1/update-variable",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:VARIABLE [UPDATE]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/deployments": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Filters the List of Deployments\n\nThis endpoint intended to get list of Deployment done for the given publisher and game.\n\nRequired: Valid Access Token\n",
        "operationId": "GetListOfDeploymentV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.GetDeploymentListV1Request"
            }
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetDeploymentListV1Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Fetches the List of Deployments",
        "tags": [
          "Deployment"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/deployments/v1/list",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:DEPLOYMENT [READ]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/deployments/{deploymentId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Delete Deployment information by given DeploymentID\n\nThis endpoint intended to delete helm release object and update the deleted_at in DB by given Deployment ID.\n\nRequired: Valid Access Token\n",
        "operationId": "DeleteDeploymentV1",
        "parameters": [
          {
            "description": "Deployment ID",
            "in": "path",
            "name": "deploymentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete Deployment by Deployment ID",
        "tags": [
          "Deployment"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/deployments/v1/delete",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:DEPLOYMENT [DELETE]"
            ]
          }
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Get Deployment information by given DeploymentID\n\nThis endpoint intended to get Deployment information by given Deployment ID from Deployment Table.\n\nRequired: Valid Access Token\n",
        "operationId": "GetDeploymentV1",
        "parameters": [
          {
            "description": "Deployment ID",
            "in": "path",
            "name": "deploymentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/generated.GetDeploymentV1Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get Deployment by Deployment ID",
        "tags": [
          "Deployment"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/deployments/v1/get",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:DEPLOYMENT [READ]"
            ]
          }
        ]
      }
    },
    "/csm/v1/admin/namespaces/{namespace}/files/{filePath}": {
      "get": {
        "description": "Serves static files provided for extend features, for example: serving App UI files. Files are served with immutable caching headers.",
        "operationId": "GetExtendFile",
        "parameters": [
          {
            "description": "Path to file under namespace assets",
            "in": "path",
            "name": "filePath",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve extend hosted static files",
        "tags": [
          "Extend Files"
        ],
        "x-errorCodes": {},
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:FILES [READ]"
            ]
          }
        ]
      }
    },
    "/csm/v1/messages": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "get the list of messages.",
        "operationId": "publicGetMessages",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/log.AppMessageDeclaration"
              },
              "type": "array"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "get service messages",
        "tags": [
          "Messages"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/public/service-messages/v1/list"
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Get list of extend apps on a given game namespace",
        "operationId": "GetAppListV2",
        "parameters": [
          {
            "description": "Available scenario:\n- scenario 1: \u003ccode\u003efunction-override\u003c/code\u003e\n- scenario 2: \u003ccode\u003eservice-extension\u003c/code\u003e\n- scenario 3: \u003ccode\u003eevent-handler\u003c/code\u003e\n\n\nAvailable app status:\n- \u003ccode\u003eapp-creating\u003c/code\u003e\n- \u003ccode\u003eapp-creation-failed\u003c/code\u003e\n- \u003ccode\u003eapp-creation-timeout\u003c/code\u003e\n- \u003ccode\u003eapp-undeployed\u003c/code\u003e\n- \u003ccode\u003edeployment-in-progress\u003c/code\u003e\n- \u003ccode\u003edeployment-failed\u003c/code\u003e\n- \u003ccode\u003edeployment-timeout\u003c/code\u003e\n- \u003ccode\u003edeployment-running\u003c/code\u003e\n- \u003ccode\u003edeployment-down\u003c/code\u003e\n- \u003ccode\u003eapp-stopping\u003c/code\u003e\n- \u003ccode\u003eapp-stop-failed\u003c/code\u003e\n- \u003ccode\u003eapp-stop-timeout\u003c/code\u003e\n- \u003ccode\u003eapp-stopped\u003c/code\u003e\n- \u003ccode\u003eapp-removing\u003c/code\u003e\n- \u003ccode\u003eapp-removed\u003c/code\u003e\n- \u003ccode\u003eapp-remove-timeout\u003c/code\u003e\n\n\nPut empty object {} for no filter",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.GetAppListV2Request"
            }
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Maximum number of apps items returned",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Starting point offset items",
            "in": "query",
            "name": "offset",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of apps",
            "schema": {
              "$ref": "#/definitions/apimodel.GetAppListV2Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get list of extend apps on a given game namespace",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v2/list",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [READ]"
            ]
          }
        ]
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete extend app by given {app} name\n\nThis endpoint will delete app information, configuration, deployments and all related manifest from \ndb, storage and cluster\n",
        "operationId": "DeleteAppV2",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Force app deletion, if 'true' will proceed delete regardless of current app status (default: false)",
            "in": "query",
            "name": "forced",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete extend app by name",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v2/delete",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [DELETE]"
            ]
          }
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get extend app by name\n\nAvailable scenario:\n- scenario 1: \u0026lt;code\u0026gt;function-override\u0026lt;/code\u0026gt;\n- scenario 2: \u0026lt;code\u0026gt;service-extension\u0026lt;/code\u0026gt;\n- scenario 3: \u0026lt;code\u0026gt;event-handler\u0026lt;/code\u0026gt;\n\n\nAvailable app status:\n- \u0026lt;code\u0026gt;app-creating\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-creation-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-creation-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-undeployed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-in-progress\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-running\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-down\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stopping\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stop-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stop-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stopped\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-removing\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-removed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-remove-timeout\u0026lt;/code\u0026gt;\n\n\t",
        "operationId": "GetAppV2",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apimodel.AppItem"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get extend app by name",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v2/get",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [READ]"
            ]
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "Update app info provided on request body%!(EXTRA string=ADMIN:NAMESPACE:{namespace}:EXTEND:APP, string=UPDATE)",
        "operationId": "UpdateAppV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.UpdateAppV2Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.AppItem"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update app info",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v2/update",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [UPDATE]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "[Deprecated] Please use v5 endpoint instead.\n\nCreate new extend app with name provided by {app} path parameter and specified scenario type\n\nAvailable scenario:\n- scenario 1: \u0026lt;code\u0026gt;function-override\u0026lt;/code\u0026gt;\n- scenario 2: \u0026lt;code\u0026gt;service-extension\u0026lt;/code\u0026gt;\n- scenario 3: \u0026lt;code\u0026gt;event-handler\u0026lt;/code\u0026gt;\n\n\nAvailable app status:\n- \u0026lt;code\u0026gt;app-creating\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-creation-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-creation-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-undeployed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-in-progress\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-running\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;deployment-down\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stopping\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stop-failed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stop-timeout\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-stopped\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-removing\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-removed\u0026lt;/code\u0026gt;\n- \u0026lt;code\u0026gt;app-remove-timeout\u0026lt;/code\u0026gt;\n\n",
        "operationId": "CreateAppV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.CreateAppV2Request"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.AppItem"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create new extend app",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/apps/v2/create",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP [CREATE]"
            ]
          }
        ]
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/apply": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Idempotent endpoint that creates or updates an Extend app from a declarative spec.\nUses three-way merge semantics (kubectl apply) for variables, secrets, and permissions.\n\nNote: \u0026lt;code\u0026gt;preferred_k8s_namespace\u0026lt;/code\u0026gt; is only used on the initial create call; it is ignored on subsequent apply calls.\nOn the first apply after creation the deletion phase is skipped (no prior apply state recorded).\n",
        "operationId": "ApplyAppConfigV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.ApplyAppConfigRequest"
            }
          },
          {
            "description": "App Name. Expected format: (^[A-Za-z](?:[A-Za-z0-9\\-]*[A-Za-z0-9])?$)",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.AppItem"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Declaratively create or update an extend app from a spec",
        "tags": [
          "App V2"
        ],
        "x-errorCodes": {},
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:APP []"
            ]
          }
        ]
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/asyncmessaging/topics/subscriptions": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Subscribe App queue to given Topic name list inside a game namespace.\n",
        "operationId": "CreateSubscriptionHandler",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.CreateSubscriptionRequest"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.CreateSubscriptionResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Subscribe To Topic",
        "tags": [
          "Async Messaging"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/topics/v2/subscribe",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:ASYNCMESSAGING:SUBSCRIPTIONS [CREATE]"
            ]
          }
        ]
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/asyncmessaging/topics/{topicName}/subscriptions": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Unsubscribe App queue from a topic by Topic Name.\n",
        "operationId": "UnsubscribeTopicHandler",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Topic Name",
            "in": "path",
            "name": "topicName",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.TopicSubscription"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Unsubscribe From Topic",
        "tags": [
          "Async Messaging"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/topics/v2/unsubscribe",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:ASYNCMESSAGING:SUBSCRIPTIONS [DELETE]"
            ]
          }
        ]
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/deployments": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Creates Deployment for extend service\n\nThis Endpoint will create new deployment and apply all of the secrets and variable as environment variable\n\nRequired: \n\t- Valid Access Token\n\t- Valid Image Version Created on Uploading image with docker or other method\n\t- Valid App name\n\t- Valid Namespace name\n\n",
        "operationId": "CreateDeploymentV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.CreateDeploymentV2Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apimodel.CreateDeploymentV2Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Creates Deployment",
        "tags": [
          "Deployment V2"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/deployments/v2/create",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:DEPLOYMENT [CREATE]"
            ]
          }
        ]
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/images": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Deletes list of provided image tags from the app image repository\n\t",
        "operationId": "DeleteAppImagesV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generated.DeleteAppImagesV1Request"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete app images",
        "tags": [
          "Image V2"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/images/v2/delete",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:IMAGE [DELETE]"
            ]
          }
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get a list of container images\n\nDefault \u0026#39;cached\u0026#39; parameter is \u0026#39;true\u0026#39;\n",
        "operationId": "GetAppImageListV2",
        "parameters": [
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "default": "true",
            "description": "Get Cached Images",
            "in": "query",
            "name": "cached",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apimodel.GetAppImageListV2Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get a list of container images",
        "tags": [
          "Image V2"
        ],
        "x-errorCodes": {},
        "x-operationid": "csm/admin/images/v2/list",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:EXTEND:IMAGE [READ]"
            ]
          }
        ]
      }
    },
    "/csm/v2/admin/namespaces/{namespace}/apps/{app}/keyvalue/credentials": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Generates a new credential for an extend app that is already integrated with a KeyValue cluster.\nReplaces the old credential. Integration status will transition to MODIFYING, then READY when complete.\nIf the same username and password are provided, returns the existing credential (idempotent).\n\nAcknowledgement for secure credential handling is only required at integrate-app; not needed for this endpoint.\n",
        "operationId": "CreateKeyValueCredentialV2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apimodel.CreateKeyValueCredentialRequest"
            }
          },
          {
            "description": "App Name",
            "in": "path",
            "name": "app",
            "required": true,
            "type": "string"
          },
          {
            "description": "Game Name",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/apimodel.CreateKeyValueCredentialResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/response.ErrorResponse"
            }
[...]
