{
  "host": "demo.accelbyte.io",
  "info": {
    "description": "This is analytics game telemetry to standardize avengers and justice telemetry",
    "title": "Analytics Game Telemetry",
    "version": "0.0.1"
  },
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "HTTPBearer": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    },
    "HasPermission": {
      "authorizationUrl": "https://dummy.oauth.net/auth",
      "flow": "accessCode",
      "scopes": {},
      "tokenUrl": "https://dumy.oauth.net/token",
      "type": "oauth2"
    },
    "HasScope": {
      "authorizationUrl": "https://dummy.oauth.net/auth",
      "flow": "accessCode",
      "scopes": {},
      "tokenUrl": "https://dumy.oauth.net/token",
      "type": "oauth2"
    }
  },
  "swagger": "2.0",
  "paths": {
    "/game-telemetry/v1/admin/events": {
      "get": {
        "description": "This endpoint requires valid JWT token and permission **ADMIN:ANALYTICS:TELEMETRY:{EventNamespace}** **READ**.\n\nThis endpoint retrieve the latest event from each event name on specific namespace.\n\n\u0026lt;p\u0026gt; Parameter:\n\n- **Namespace (required) (case-sensitive)**: telemetry namespace.\n            \u0026lt;p\u0026gt; Only accept input with valid characters. Allowed characters: \u0026lt;b\u0026gt;Aa-Zz0-9_.-\u0026lt;/b\u0026gt; \u0026lt;p\u0026gt;\n            \u0026lt;p\u0026gt; Example: accelbyte or accelbyte.game2 \u0026lt;/p\u0026gt;",
        "operationId": "admin_get_events_game_telemetry_v1_admin_events_get",
        "parameters": [
          {
            "in": "query",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {}
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "summary": "Admin Get Events",
        "tags": [
          "Gametelemetry Operations"
        ]
      }
    },
    "/game-telemetry/v1/admin/telemetrynamespace": {
      "get": {
        "description": "This endpoint requires valid JWT token and permission **ADMIN:ANALYTICS:TELEMETRY:{EventNamespace}** **READ**.\n\nThis endpoint retrieve namespace from kafka topic.",
        "operationId": "admin_get_namespace_game_telemetry_v1_admin_telemetrynamespace_get",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {}
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "summary": "Admin Get Namespace",
        "tags": [
          "Gametelemetry Operations"
        ]
      }
    },
    "/game-telemetry/v1/protected/events": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "This endpoint requires valid JWT token.\nThis endpoint does not require permission.\n\nThis endpoint send events into designated streaming pipeline and each request can contain single or multiple events.\n\u0026lt;p\u0026gt; Format of the event:\n\n- **EventNamespace (required)**: namespace of the relevant game with domain name format.\n                \u0026lt;p\u0026gt; Only accept input with valid characters. Allowed characters: \u0026lt;b\u0026gt;Aa-Zz0-9_.-\u0026lt;/b\u0026gt; \u0026lt;p\u0026gt;\n                \u0026lt;p\u0026gt; It is encouraged to use alphanumeric only characters. \u0026lt;b\u0026gt;_.-\u0026lt;/b\u0026gt; will be deprecated soon \u0026lt;p\u0026gt;\n                \u0026lt;p\u0026gt; Example: io.accelbyte.justice.dev.samplegame \u0026lt;/p\u0026gt;\n\n- **EventName (required)**: name of the event.\n                \u0026lt;p\u0026gt; Only accept input with valid characters. Allowed characters: \u0026lt;b\u0026gt;Aa-Zz0-9_.-\u0026lt;/b\u0026gt; \u0026lt;p\u0026gt;\n                \u0026lt;p\u0026gt; It is encouraged to use alphanumeric only characters. \u0026lt;b\u0026gt;_.-\u0026lt;/b\u0026gt; will be deprecated soon \u0026lt;p\u0026gt;\n                \u0026lt;p\u0026gt; Example: player_killed, mission_accomplished \u0026lt;/p\u0026gt;\n\n- **Payload (required)**: an arbitrary json with the payload of the said event",
        "operationId": "protected_save_events_game_telemetry_v1_protected_events_post",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/TelemetryBody"
              },
              "type": "array"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "summary": "Protected Save Events",
        "tags": [
          "Gametelemetry Operations"
        ]
      }
    },
    "/game-telemetry/v1/protected/steamIds/{steamId}/playtime": {
      "get": {
        "description": "This endpoint requires valid JWT token.\nThis endpoint does not require permission.\n\nThis endpoint retrieves player\u0026#39;s total playtime in Steam for a specific game (AppId) and store them in service\u0026#39;s cache.\n\nPlayers\u0026#39; Steam account must be set into public to enable the service fetch their total playtime data.",
        "operationId": "protected_get_playtime_game_telemetry_v1_protected_steamIds__steamId__playtime_get",
        "parameters": [
          {
            "in": "path",
            "name": "steamId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "title": "Response Protected Get Playtime Game Telemetry V1 Protected Steamids  Steamid  Playtime Get",
              "type": "object"
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "summary": "Protected Get Playtime",
        "tags": [
          "Gametelemetry Operations"
        ]
      }
    },
    "/game-telemetry/v1/protected/steamIds/{steamId}/playtime/{playtime}": {
      "put": {
        "description": "This endpoint requires valid JWT token.\nThis endpoint does not require permission.\n\nThis endpoint update player\u0026#39;s total playtime in a specific game (AppId) from service\u0026#39;s cache.",
        "operationId": "protected_update_playtime_game_telemetry_v1_protected_steamIds__steamId__playtime__playtime__put",
        "parameters": [
          {
            "in": "path",
            "name": "steamId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "playtime",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {}
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "summary": "Protected Update Playtime",
        "tags": [
          "Gametelemetry Operations"
        ]
      }
    }
  },
  "definitions": {
    "HTTPValidationError": {
      "properties": {
        "detail": {
          "items": {
            "$ref": "#/definitions/ValidationError"
          },
          "title": "Detail",
          "type": "array"
        }
      },
      "title": "HTTPValidationError",
      "type": "object"
    },
    "TelemetryBody": {
      "properties": {
        "EventId": {
          "title": "Eventid",
          "type": "string"
        },
        "EventName": {
          "title": "Eventname",
          "type": "string"
        },
        "EventNamespace": {
          "title": "Eventnamespace",
          "type": "string"
        },
        "EventTimestamp": {
          "format": "date-time",
          "title": "Eventtimestamp",
          "type": "string",
          "x-nullable": true
        },
        "Payload": {
          "title": "Payload",
          "type": "object"
        }
      },
      "required": [
        "EventNamespace",
        "EventName",
        "Payload"
      ],
      "title": "TelemetryBody",
      "type": "object"
    },
    "ValidationError": {
      "properties": {
        "loc": {
          "items": {
            "type": "string"
          },
          "title": "Location",
          "type": "array"
        },
        "msg": {
          "title": "Message",
          "type": "string"
        },
        "type": {
          "title": "Error Type",
          "type": "string"
        }
      },
      "required": [
        "loc",
        "msg",
        "type"
      ],
      "title": "ValidationError",
      "type": "object"
    }
  }
}