{
  "host": "demo.accelbyte.io",
  "info": {
    "contact": {
      "email": "engineering@accelbyte.io",
      "name": "Engineering Team at AccelByte",
      "url": "https://accelbyte.io"
    },
    "description": "Justice IAM Service",
    "title": "justice-iam-service",
    "version": "7.40.1"
  },
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "description": "API Docs",
    "url": "https://stage.accelbyte.io/iam/apidocs"
  },
  "securityDefinitions": {
    "authorization": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    },
    "basic": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic": []
    }
  ],
  "swagger": "2.0",
  "paths": {
    "/iam/.well-known/oauth-authorization-server/{namespace}": {
      "get": {
        "consumes": [
          "*/*"
        ],
        "description": " Implements RFC 8414((https://datatracker.ietf.org/doc/html/rfc8414)), providing a standardized mechanism for OAuth 2.0 clients to discover authorization server metadata. Clients can retrieve detailed information about server capabilities, supported grant types, cryptographic algorithms, and API locations without manual configuration.\n### Key Features:\n\tDynamic Discovery: Clients automatically discover server capabilities\n\tStandard Compliance: Implements RFC 8414 OAuth 2.0 Authorization Server Metadata\n\tSecurity Information: Provides details about supported security features\n\tAPI Discovery: Returns URLs for all OAuth APIs (authorization, token, revocation, etc.)\n### Request:\n\tMethod: GET\n\tPath: \u0026#39;/.well-known/oauth-authorization-server/{namespace}\u0026#39;\n\tHeaders: Accept: application/json\n### Response:\nReturns a JSON object containing comprehensive metadata about the OAuth authorization server configuration.\n",
        "operationId": "GetAuthorizationServerMetadataWithNamespace",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OAuth Authorization Metadata returned",
            "schema": {
              "$ref": "#/definitions/oauthcommon.ASMetadataResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "OAuth Authorization Server Metadata",
        "tags": [
          "OAuth2.0"
        ],
        "x-errorCodes": {},
        "x-operationid": "iam/public/oauth2/v1/get-authorization-server-metadata-by-namespace"
      }
    },
    "/iam/bans": {
      "get": {
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/bans [GET]_**",
        "operationId": "GetBansType",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/accountcommon.Bans"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get list of ban types",
        "tags": [
          "Bans"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/bans/v1/list",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:BAN [READ]",
              "BAN:ADMIN [READ]"
            ]
          }
        ]
      }
    },
    "/iam/bans/reasons": {
      "get": {
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/bans/reasons [GET]_**",
        "operationId": "GetListBanReason",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/accountcommon.BanReasons"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get list of ban reasons",
        "tags": [
          "Bans"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/bans/v1/list-reasons",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:BAN [READ]",
              "BAN:ADMIN [READ]"
            ]
          }
        ]
      }
    },
    "/iam/clients": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/clients [GET]_**",
        "operationId": "GetClients",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/clientmodel.ClientResponse"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get All Clients",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/list-all-deprecated",
        "x-security": [
          {
            "userPermissions": [
              "CLIENT [READ]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/clients [POST]_**\n\n**Note for Multi Tenant Mode (Confidential Client):**\nOnly Super admin can set permission with resource \u0026amp; action.\nStudio admin \u0026amp; game admin need set permission with permission module in _/v3/admin/namespaces/{namespace}/clients [POST]_.\n",
        "operationId": "CreateClient",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/clientmodel.ClientCreateRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/clientmodel.ClientCreationResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "409": {
            "description": "Client exists"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create Client",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/create-deprecated",
        "x-security": [
          {
            "userPermissions": [
              "CLIENT:ADMIN [CREATE]"
            ]
          }
        ]
      }
    },
    "/iam/clients/{clientId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/clients/{clientId} [DELETE]_**",
        "operationId": "DeleteClient",
        "parameters": [
          {
            "description": "Client ID",
            "in": "path",
            "name": "clientId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete Client",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/delete-deprecated",
        "x-security": [
          {
            "userPermissions": [
              "CLIENT:ADMIN [DELETE]"
            ]
          }
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/clients/{clientId} [GET]_**",
        "operationId": "GetClient",
        "parameters": [
          {
            "description": "Client ID",
            "in": "path",
            "name": "clientId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/clientmodel.ClientResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get Client",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/get-deprecated",
        "x-security": [
          {
            "userPermissions": [
              "CLIENT [READ]"
            ]
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/clients/{clientId} [PATCH]_**",
        "operationId": "UpdateClient",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/clientmodel.ClientUpdateRequest"
            }
          },
          {
            "description": "Client ID",
            "in": "path",
            "name": "clientId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/clientmodel.ClientResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update Client",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/update-deprecated",
        "x-security": [
          {
            "userPermissions": [
              "CLIENT:ADMIN [UPDATE]"
            ]
          }
        ]
      }
    },
    "/iam/clients/{clientId}/clientpermissions": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _iam/v3/admin/namespaces/{namespace}/clients/{clientId}/permissions [PUT]_**",
        "operationId": "UpdateClientPermission",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountcommon.ClientPermissions"
            }
          },
          {
            "description": "Client ID",
            "in": "path",
            "name": "clientId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update Client Permissions",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/update-permissions-deprecated",
        "x-security": [
          {
            "userPermissions": [
              "CLIENT:ADMIN [UPDATE]"
            ]
          }
        ]
      }
    },
    "/iam/clients/{clientId}/clientpermissions/{resource}/{action}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/clients/{clientId}/permissions/{resource}/{action} [DELETE]_**",
        "operationId": "DeleteClientPermission",
        "parameters": [
          {
            "description": "Action",
            "in": "path",
            "name": "action",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Client ID",
            "in": "path",
            "name": "clientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource Name",
            "in": "path",
            "name": "resource",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete Client Permission",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/delete-permission-deprecated",
        "x-security": [
          {
            "userPermissions": [
              "CLIENT:ADMIN [UPDATE]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "*/*"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/clients/{clientId}/permissions [POST]_**",
        "operationId": "AddClientPermission",
        "parameters": [
          {
            "description": "Action",
            "in": "path",
            "name": "action",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Client ID",
            "in": "path",
            "name": "clientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource Name",
            "in": "path",
            "name": "resource",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Add Client Permission",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/add-permissions",
        "x-security": [
          {
            "userPermissions": [
              "CLIENT:ADMIN [UPDATE]"
            ]
          }
        ]
      }
    },
    "/iam/clients/{clientId}/secret": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/{clientId}/secret [PUT]_**",
        "operationId": "UpdateClientSecret",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/clientmodel.ClientUpdateSecretRequest"
            }
          },
          {
            "description": "Client ID",
            "in": "path",
            "name": "clientId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update Client Secret",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/update-secret-deprecated",
        "x-security": [
          {
            "userPermissions": [
              "CLIENT:ADMIN [UPDATE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/clients": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/clients [GET]_**",
        "operationId": "GetClientsbyNamespace",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/clientmodel.ClientResponse"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get clients by namespace",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/list-deprecated",
        "x-security": [
          {
            "userPermissions": [
              "NAMESPACE:{namespace}:CLIENT [READ]"
            ]
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/v3/admin/namespaces/{namespace}/clients [POST]_**\n\n**Note for Multi Tenant Mode (Confidential Client):**\nOnly Super admin can set permission with resource \u0026amp; action.\nStudio admin \u0026amp; game admin need set permission with permission module in _/v3/admin/namespaces/{namespace}/clients [POST]_.\n",
        "operationId": "CreateClientByNamespace",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/clientmodel.ClientCreateRequest"
            }
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/clientmodel.ClientCreationResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "409": {
            "description": "Client exists"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create Client",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/create",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CLIENT [CREATE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/clients/{clientId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n**Endpoint migration guide**\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/clients/{clientId} [DELETE]_**",
        "operationId": "DeleteClientByNamespace",
        "parameters": [
          {
            "description": "Client ID",
            "in": "path",
            "name": "clientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete Client",
        "tags": [
          "Clients"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/clients/v1/delete",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:CLIENT:{clientId} [DELETE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/public/namespaces/{namespace}/users [POST]_**\n- **Substitute endpoint: _/iam/v4/public/namespaces/{namespace}/users [POST]_**\n- **Note:**\n\t1. v3 \u0026amp; v4 introduce optional verification code\n\t2. format difference（Pascal case =\u0026gt; Camel case)\n\nAvailable Authentication Types:\n1. **EMAILPASSWD**: an authentication type used for new user registration through email.\n2. **PHONEPASSWD**: an authentication type used for new user registration through phone number.\n\nCountry use ISO3166-1 alpha-2 two letter, e.g. US.",
        "operationId": "CreateUser",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.UserCreateRequest"
            }
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/model.UserCreateResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e1014001\u003c/td\u003e\u003ctd\u003eunable to parse request body\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e1014002\u003c/td\u003e\u003ctd\u003euser already exists\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create User",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "1014001": "unable to parse request body",
          "1014002": "user already exists",
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/public/users/v1/create",
        "x-security": [
          {
            "userPermissions": [
              "NAMESPACE:{namespace}:USER [CREATE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/admin": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint(Public): _/iam/v3/admin/namespaces/{namespace}/roles/{roleId}/users [GET]_**\n- **Note:**\n\tdifference in V3 response, format difference: Pascal case =\u0026gt; Camel case\n             \nSearches admin users which have the roleId\n\nNotes: only accepts admin role. Admin Role is role which have admin status and members.\nUse endpoint [GET] /roles/{roleId}/admin to check the role status",
        "operationId": "GetAdminUsersByRoleID",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "The cursor that points to query data for the next page",
            "in": "query",
            "name": "after",
            "type": "integer"
          },
          {
            "description": "The cursor that points to query data for the previous page",
            "in": "query",
            "name": "before",
            "type": "integer"
          },
          {
            "description": "the maximum number of data that may be returned (1...100)",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Role ID",
            "in": "query",
            "name": "roleId",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.GetAdminUsersResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20021\u003c/td\u003e\u003ctd\u003einvalid pagination parameter\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10157\u003c/td\u003e\u003ctd\u003especified role is not admin role\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          },
          "500": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20000\u003c/td\u003e\u003ctd\u003einternal server error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get Admin Users By RoleId",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "10157": "specified role is not admin role",
          "20000": "internal server error",
          "20001": "unauthorized access",
          "20002": "validation error",
          "20013": "insufficient permissions",
          "20021": "invalid pagination parameter"
        },
        "x-operationid": "iam/admin/users/v1/list-admins",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:USER [READ]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/byLoginId": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/public/namespaces/{namespace}/users [GET]_**",
        "operationId": "GetUserByLoginID",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Login id",
            "in": "query",
            "name": "loginId",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.PublicUserResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20008\u003c/td\u003e\u003ctd\u003euser not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "500": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20000\u003c/td\u003e\u003ctd\u003einternal server error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get User By Login Id",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "20000": "internal server error",
          "20002": "validation error",
          "20008": "user not found"
        },
        "x-operationid": "iam/public/users/v1/get-by-login-id",
        "x-security": [
          {
            "userPermissions": [
              "NAMESPACE:{namespace}:USER [READ]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/byPlatformUserID": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint(Public): _/iam/v3/public/namespaces/{namespace}/platforms/{platformId}/users/{platformUserId} [GET]_**\n- **Substitute endpoint(Admin): _/iam/v3/admin/namespaces/{namespace}/platforms/{platformId}/users/{platformUserId} [GET]_**\n- **Note:**\n\t1. difference in V3 response, format difference: Pascal case =\u0026gt; Camel case",
        "operationId": "GetUserByPlatformUserID",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Platform ID",
            "in": "query",
            "name": "platformID",
            "required": true,
            "type": "string"
          },
          {
            "description": "Platform User ID",
            "in": "query",
            "name": "platformUserID",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.PublicUserResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get User By Platform User ID",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/public/users/v1/get-by-platform-user-id",
        "x-security": [
          {
            "userPermissions": [
              "NAMESPACE:{namespace}:USER [READ]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/forgotPassword": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/public/namespaces/{namespace}/users/forgot [POST]_**\n\n**Special note for publisher-game scenario:** Game Client should provide game namespace path parameter and Publisher Client should provide publisher namespace path parameter.\n\nThe password reset code will be sent to the publisher account\u0026#39;s email address.",
        "operationId": "ForgotPassword",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.SendVerificationCodeRequest"
            }
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": [],
            "basic": []
          }
        ],
        "summary": "Request Password Reset Code",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/public/users/v1/request-password-reset"
      }
    },
    "/iam/namespaces/{namespace}/users/listByLoginIds": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint(query by email list): _/iam/v3/public/namespaces/{namespace}/users/bulk/basic [POST]_**\n- **Substitute endpoint(query by user id list): _/iam/v3/admin/namespaces/{namespace}/users/search/bulk [POST]_**",
        "operationId": "GetUsersByLoginIds",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "List of LoginIDs. Separated by comma.",
            "in": "query",
            "name": "loginIds",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.PublicUsersResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get a List of Users By Their Login Id",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/public/users/v1/list-by-login-ids",
        "x-security": [
          {
            "userPermissions": [
              "NAMESPACE:{namespace}:USER [READ]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/resetPassword": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/public/namespaces/{namespace}/users/reset [POST]_**",
        "operationId": "ResetPassword",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.ResetPasswordRequest"
            }
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e1014016\u003c/td\u003e\u003ctd\u003eunable to parse request body\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e1015073\u003c/td\u003e\u003ctd\u003enew password same as old password\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e1014021\u003c/td\u003e\u003ctd\u003everification code expired\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e1014019\u003c/td\u003e\u003ctd\u003everification code already used\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e1014020\u003c/td\u003e\u003ctd\u003everification code invalid\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e1014018\u003c/td\u003e\u003ctd\u003everification code not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e1014017\u003c/td\u003e\u003ctd\u003euser not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "500": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20000\u003c/td\u003e\u003ctd\u003einternal server error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": [],
            "basic": []
          }
        ],
        "summary": "Reset User Password",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "1014016": "unable to parse request body",
          "1014017": "user not found",
          "1014018": "verification code not found",
          "1014019": "verification code already used",
          "1014020": "verification code invalid",
          "1014021": "verification code expired",
          "1015073": "new password same as old password",
          "20000": "internal server error"
        },
        "x-operationid": "iam/public/users/v1/reset-password"
      }
    },
    "/iam/namespaces/{namespace}/users/search": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/users/search [GET]_**\nSearch all users that match the query on these fields: all login IDs (email address, phone number, and platform user id),\nuserID, display name, and on the specified namespace. If the query is not defined, then it searches all users on the specified namespace.",
        "operationId": "SearchUser",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "search query string (optional)",
            "in": "query",
            "name": "query",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.SearchUsersResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Search users",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/users/v1/search",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:USER:* [READ]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/{userId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/users/{userId}/information [DELETE]_**",
        "operationId": "DeleteUser",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete User",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/public/users/v1/delete",
        "x-security": [
          {
            "userPermissions": [
              "NAMESPACE:{namespace}:USER:{userId} [DELETE]"
            ]
          }
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint(Public): _/iam/v3/public/namespaces/{namespace}/users/{userId} [GET]_**\n- **Substitute endpoint(Admin): _/iam/v3/admin/namespaces/{namespace}/users/{userId} [GET]_**\n- **Note:**\n\tformat difference in response: Pascal case =\u0026gt; Camel case",
        "operationId": "GetUserByUserID",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.UserResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20008\u003c/td\u003e\u003ctd\u003euser not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10139\u003c/td\u003e\u003ctd\u003eplatform account not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "500": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20000\u003c/td\u003e\u003ctd\u003einternal server error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get User By User Id",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "10139": "platform account not found",
          "20000": "internal server error",
          "20008": "user not found"
        },
        "x-operationid": "iam/public/users/v1/get",
        "x-security": [
          {
            "userPermissions": [
              "NAMESPACE:{namespace}:USER:{userId} [READ]"
            ]
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint([PUT]): _/iam/v3/public/namespaces/{namespace}/users/me [PUT]_**\n- **Substitute endpoint([PATCH]): _/iam/v3/public/namespaces/{namespace}/users/me [PATCH]_**\n- **Substitute endpoint([PATCH]): _/iam/v4/public/namespaces/{namespace}/users/me [PATCH]_**\n- **Note:**\n\t1. Prefer [PATCH] if client support PATCH method\n\t2. Difference in V3/v4 request body, format difference: Pascal case =\u0026gt; Camel case\n\nSupports updating user based on given data. **Single request can update single field or multi fields.**\nSupported field {Country, DisplayName, LanguageTag}\nCountry use ISO3166-1 alpha-2 two letter, e.g. US.\n\n**Several case of updating email address**\n- User want to update email address of which have been verified, NewEmailAddress response field will be filled with new email address\n- User want to update email address of which have not been verified, {LoginId, OldEmailAddress, EmailAddress} response field will be filled with new email address.\n- User want to update email address of which have been verified and updated before, {LoginId, OldEmailAddress, EmailAddress} response field will be filled with verified email before. NewEmailAddress response field will be filled with newest email address.",
        "operationId": "UpdateUser",
        "parameters": [
          {
            "description": "\u003cul\u003e\u003cli\u003eCountry (Optional) \u003cbr\u003e use ISO3166-1 alpha-2 two letter, e.g. US.\u003c/li\u003e\u003cli\u003eDisplayName (Optional) string \u003c/li\u003e\u003cli\u003eLanguageTag (Optional) use Language e.g. en / en-US \u003c/li\u003e\u003c/ul\u003e",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.UserUpdateRequest"
            }
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.UserResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20019\u003c/td\u003e\u003ctd\u003eunable to parse request body\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10131\u003c/td\u003e\u003ctd\u003einvalid date of birth\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10155\u003c/td\u003e\u003ctd\u003ecountry is not defined\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10154\u003c/td\u003e\u003ctd\u003ecountry not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10130\u003c/td\u003e\u003ctd\u003euser under age\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10132\u003c/td\u003e\u003ctd\u003einvalid email address\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10139\u003c/td\u003e\u003ctd\u003eplatform account not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20008\u003c/td\u003e\u003ctd\u003euser not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10133\u003c/td\u003e\u003ctd\u003eemail already used\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "500": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20000\u003c/td\u003e\u003ctd\u003einternal server error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update User",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "10130": "user under age",
          "10131": "invalid date of birth",
          "10132": "invalid email address",
          "10133": "email already used",
          "10139": "platform account not found",
          "10154": "country not found",
          "10155": "country is not defined",
          "20000": "internal server error",
          "20001": "unauthorized access",
          "20008": "user not found",
          "20019": "unable to parse request body"
        },
        "x-operationid": "iam/public/users/v1/update",
        "x-security": [
          {
            "userPermissions": [
              "NAMESPACE:{namespace}:USER:{userId} [UPDATE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/{userId}/ban": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/users/{userId}/bans [POST]_**",
        "operationId": "BanUser",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.BanCreateRequest"
            }
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/model.UserBanResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20019\u003c/td\u003e\u003ctd\u003eunable to parse request body\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10139\u003c/td\u003e\u003ctd\u003eplatform account not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20008\u003c/td\u003e\u003ctd\u003euser not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10158\u003c/td\u003e\u003ctd\u003eban not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "500": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20000\u003c/td\u003e\u003ctd\u003einternal server error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Ban a single user",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "10139": "platform account not found",
          "10158": "ban not found",
          "20000": "internal server error",
          "20001": "unauthorized access",
          "20002": "validation error",
          "20008": "user not found",
          "20013": "insufficient permissions",
          "20019": "unable to parse request body"
        },
        "x-operationid": "iam/admin/users/v1/ban",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:BAN:USER:{userId} [CREATE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/{userId}/bans": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/users/{userId}/bans [GET]_**",
        "operationId": "GetUserBanHistory",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/model.UserBanResponse"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get user's bans history",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/users/v1/list-bans",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:BAN:USER:{userId} [READ]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/{userId}/bans/{banId}/disable": {
      "put": {
        "consumes": [
          "*/*"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/users/{userId}/bans/{banId} [PATCH]_**\n\n**Notes for using IAM in publisher - game studio scenarios**\nAllows:\n- The admin user in publisher namespace disables user’s ban in publisher namespace.\n- The admin user in game namespace disables user’s ban in game namespace.\n- The admin user in publisher namespace disables user’s ban in publisher namespace.\n\nOther scenarios are not supported and will return 403: Forbidden.",
        "operationId": "DisableUserBan",
        "parameters": [
          {
            "description": "Ban ID",
            "in": "path",
            "name": "banId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.UserBanResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10145\u003c/td\u003e\u003ctd\u003edisallow game access publisher user's ban\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10139\u003c/td\u003e\u003ctd\u003eplatform account not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20008\u003c/td\u003e\u003ctd\u003euser not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10158\u003c/td\u003e\u003ctd\u003eban not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "500": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20000\u003c/td\u003e\u003ctd\u003einternal server error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Disable ban for a single user.",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "10139": "platform account not found",
          "10145": "disallow game access publisher user's ban",
          "10158": "ban not found",
          "20000": "internal server error",
          "20001": "unauthorized access",
          "20008": "user not found"
        },
        "x-operationid": "iam/admin/users/v1/disable-ban",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:BAN:USER:{userId} [UPDATE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/{userId}/bans/{banId}/enable": {
      "put": {
        "consumes": [
          "*/*"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/users/{userId}/bans/{banId} [PATCH]_**",
        "operationId": "EnableUserBan",
        "parameters": [
          {
            "description": "Ban ID",
            "in": "path",
            "name": "banId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.UserBanResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10145\u003c/td\u003e\u003ctd\u003edisallow game access publisher user's ban\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10139\u003c/td\u003e\u003ctd\u003eplatform account not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20008\u003c/td\u003e\u003ctd\u003euser not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10158\u003c/td\u003e\u003ctd\u003eban not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e10144\u003c/td\u003e\u003ctd\u003euser has no bans\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "500": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20000\u003c/td\u003e\u003ctd\u003einternal server error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Enable ban for a single user",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "10139": "platform account not found",
          "10144": "user has no bans",
          "10145": "disallow game access publisher user's ban",
          "10158": "ban not found",
          "20000": "internal server error",
          "20001": "unauthorized access",
          "20008": "user not found"
        },
        "x-operationid": "iam/admin/users/v1/enable-ban",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:BAN:USER:{userId} [UPDATE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/{userId}/crosslink": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/public/namespaces/{namespace}/users/me/platforms/{platformId} [POST]_**\n\nAccess token from original namespace is needed as authorization header. Access token from designated account needed as form parameter to verify the ownership of that account.\nWhen platformID (device platfom ID) is specified, platform login method for that specific platform ID is removed.\nThis means to protect account from second hand device usage.",
        "operationId": "ListCrossNamespaceAccountLink",
        "parameters": [
          {
            "description": "Access token of the targeted account",
            "in": "formData",
            "name": "linkingToken",
            "required": true,
            "type": "string"
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Current platform ID",
            "in": "formData",
            "name": "platformId",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Operation succeeded"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Links existing account with another account in different namespace. ",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "20001": "unauthorized access",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/public/users/v1/link-accounts",
        "x-security": [
          {
            "userPermissions": [
              "NAMESPACE:{namespace}:USER:{userId} [UPDATE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/{userId}/disable": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/users/{userId}/status [PATCH]_**\n\nFor **Deletion Account** purpose fill the reason with:\n- **DeactivateAccount** : if your deletion request comes from user\n- **AdminDeactivateAccount** : if your deletion request comes from admin",
        "operationId": "DisableUser",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.DisableUserRequest"
            }
          },
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20019\u003c/td\u003e\u003ctd\u003eunable to parse request body\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "Data not found"
          },
          "500": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20000\u003c/td\u003e\u003ctd\u003einternal server error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Disable a user",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "20000": "internal server error",
          "20001": "unauthorized access",
          "20013": "insufficient permissions",
          "20019": "unable to parse request body"
        },
        "x-operationid": "iam/admin/users/v1/disable",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:USERSTATUS:USER:{userId} [UPDATE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/{userId}/enable": {
      "put": {
        "consumes": [
          "*/*"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/users/{userId}/status [PATCH]_**",
        "operationId": "EnableUser",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "403": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20013\u003c/td\u003e\u003ctd\u003einsufficient permissions\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20008\u003c/td\u003e\u003ctd\u003euser not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          },
          "500": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20000\u003c/td\u003e\u003ctd\u003einternal server error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Enable a user",
        "tags": [
          "Users"
        ],
        "x-errorCodes": {
          "20000": "internal server error",
          "20001": "unauthorized access",
          "20008": "user not found",
          "20013": "insufficient permissions"
        },
        "x-operationid": "iam/admin/users/v1/enable",
        "x-security": [
          {
            "userPermissions": [
              "ADMIN:NAMESPACE:{namespace}:USERSTATUS:USER:{userId} [UPDATE]"
            ]
          }
        ]
      }
    },
    "/iam/namespaces/{namespace}/users/{userId}/information": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "**This endpoint is deprecated.**\n### Endpoint migration guide\n- **Substitute endpoint: _/iam/v3/admin/namespaces/{namespace}/users/{userId}/information [DELETE]_**",
        "operationId": "DeleteUserInformation",
        "parameters": [
          {
            "description": "Accepts alphanumeric, with hyphens allowed between segments",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Operation succeeded"
          },
          "401": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eerrorCode\u003c/td\u003e\u003ctd\u003eerrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20001\u003c/td\u003e\u003ctd\u003eunauthorized access\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/rest.ErrorResponse"
            }
          },
[...]
