{
  "host": "demo.accelbyte.io",
  "info": {
    "contact": {
      "email": "engineering@accelbyte.io",
      "name": "Engineering Team at AccelByte",
      "url": "https://accelbyte.io"
    },
    "description": "Justice Legal Service",
    "title": "justice-legal-service",
    "version": "4.6.1"
  },
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Admin User Agreement"
    },
    {
      "name": "Admin User Eligibilities"
    },
    {
      "name": "Agreement"
    },
    {
      "name": "Agreement With Namespace"
    },
    {
      "name": "Anonymization"
    },
    {
      "name": "Base Legal Policies"
    },
    {
      "name": "Base Legal Policies With Namespace"
    },
    {
      "name": "Eligibilities"
    },
    {
      "name": "Localized Policy Versions"
    },
    {
      "name": "Localized Policy Versions With Namespace"
    },
    {
      "name": "Policies"
    },
    {
      "name": "Policies With Namespace"
    },
    {
      "name": "Policies With Namespace V2"
    },
    {
      "name": "Policy Versions"
    },
    {
      "name": "Policy Versions With Namespace"
    },
    {
      "name": "UserInfo"
    },
    {
      "name": "Utility"
    }
  ],
  "externalDocs": {
    "description": "API Docs",
    "url": "https://stage.accelbyte.io/agreement"
  },
  "securityDefinitions": {
    "authorization": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "paths": {
    "/agreement/admin/agreements/localized-policy-versions/preferences/namespaces/{namespace}/userId/{userId}": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "This API will Update Preference Consent",
        "operationId": "changePreferenceConsent",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User Id",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "items": {
                "$ref": "#/definitions/AcceptAgreementRequest"
              },
              "type": "array"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "operation successful"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40047\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.user_agreement_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Change Preference Consent",
        "tags": [
          "Agreement"
        ],
        "x-errorCodes": {
          "40047": "errors.net.accelbyte.platform.legal.user_agreement_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/agreements/policies/users/{userId}": {
      "get": {
        "description": "This API will return all accepted Legal Agreements for specified user",
        "operationId": "oldRetrieveAcceptedAgreements",
        "parameters": [
          {
            "description": "User Id",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/RetrieveAcceptedAgreementResponse"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve Accepted Legal Agreements",
        "tags": [
          "Agreement"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [READ]"
        }
      }
    },
    "/agreement/admin/agreements/policy-versions/users": {
      "get": {
        "description": "This API will return users who has accepted a specific policy version.",
        "operationId": "oldRetrieveAllUsersByPolicyVersion",
        "parameters": [
          {
            "in": "query",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "display name or email or username",
            "in": "query",
            "name": "keyword",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "limit",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "offset",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PagedRetrieveUserAcceptedAgreementResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40035\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve Users Accepting Legal Agreements",
        "tags": [
          "Agreement"
        ],
        "x-errorCodes": {
          "40035": "errors.net.accelbyte.platform.legal.policy_version_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [READ]"
        }
      }
    },
    "/agreement/admin/base-policies": {
      "get": {
        "description": "Retrieve all base policies.",
        "operationId": "retrieveAllLegalPolicies",
        "parameters": [
          {
            "default": false,
            "in": "query",
            "name": "visibleOnly",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/RetrieveBasePolicyResponse"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve All Base Legal Policy",
        "tags": [
          "Base Legal Policies"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create a legal policy.\u0026lt;br\u0026gt;Note:\u0026lt;br\u0026gt;\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;countryType\u0026lt;/i\u0026gt; field only accept COUNTRY or COUNTRY_GROUP.\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;COUNTRY_GROUP \u0026lt;i\u0026gt;countryType\u0026lt;/i\u0026gt; requires the \u0026lt;i\u0026gt;countryGroupName\u0026lt;/i\u0026gt; and \u0026lt;i\u0026gt;affectedCountries\u0026lt;/i\u0026gt; fields to be provided.\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;\u0026lt;li\u0026gt;policy with COUNTRY_GROUP type include multiple countries and apply the same policy across the entire list of countries\u0026lt;/li\u0026gt;",
        "operationId": "oldCreatePolicy",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateBasePolicyRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CreateBasePolicyResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40038\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_affected_client_id\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40026\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.not_allow_create_studio_policy\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40030\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_type_not_exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create a Base Legal Policy",
        "tags": [
          "Base Legal Policies"
        ],
        "x-errorCodes": {
          "20002": "validation error",
          "40026": "errors.net.accelbyte.platform.legal.not_allow_create_studio_policy",
          "40030": "errors.net.accelbyte.platform.legal.policy_type_not_exist",
          "40038": "errors.net.accelbyte.platform.legal.invalid_affected_client_id"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [CREATE]"
        }
      }
    },
    "/agreement/admin/base-policies/{basePolicyId}": {
      "get": {
        "description": "Retrieve a base policy.",
        "operationId": "oldRetrieveSinglePolicy",
        "parameters": [
          {
            "description": "BasePolicy Id",
            "in": "path",
            "name": "basePolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveBasePolicyResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40031\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.base_policy_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve a Base Legal Policy",
        "tags": [
          "Base Legal Policies"
        ],
        "x-errorCodes": {
          "40031": "errors.net.accelbyte.platform.legal.base_policy_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [READ]"
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "Update an existing base policy.\u0026lt;br\u0026gt;Note:\u0026lt;br\u0026gt;\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;countryType\u0026lt;/i\u0026gt; field only accept COUNTRY or COUNTRY_GROUP.\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;COUNTRY_GROUP \u0026lt;i\u0026gt;countryType\u0026lt;/i\u0026gt; requires the \u0026lt;i\u0026gt;countryGroupName\u0026lt;/i\u0026gt; and \u0026lt;i\u0026gt;affectedCountries\u0026lt;/i\u0026gt; fields to be provided.\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;\u0026lt;li\u0026gt;policy with COUNTRY_GROUP type include multiple countries and apply the same policy across the entire list of countries\u0026lt;/li\u0026gt;",
        "operationId": "oldPartialUpdatePolicy",
        "parameters": [
          {
            "description": "BasePolicy Id",
            "in": "path",
            "name": "basePolicyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdateBasePolicyRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateBasePolicyResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40032\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_base_policy\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40038\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_affected_client_id\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40030\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_type_not_exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update Base Legal Policy",
        "tags": [
          "Base Legal Policies"
        ],
        "x-errorCodes": {
          "40030": "errors.net.accelbyte.platform.legal.policy_type_not_exist",
          "40032": "errors.net.accelbyte.platform.legal.invalid_base_policy",
          "40038": "errors.net.accelbyte.platform.legal.invalid_affected_client_id"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/base-policies/{basePolicyId}/countries/{countryCode}": {
      "get": {
        "description": "Retrieve a Base Legal Policy based on a Particular Country.",
        "operationId": "oldRetrievePolicyCountry",
        "parameters": [
          {
            "description": "BasePolicy Id",
            "in": "path",
            "name": "basePolicyId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Country Code",
            "in": "path",
            "name": "countryCode",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrievePolicyResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40041\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve a Base Legal Policy based on a Particular Country",
        "tags": [
          "Base Legal Policies"
        ],
        "x-errorCodes": {
          "40041": "errors.net.accelbyte.platform.legal.policy_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [READ]"
        }
      }
    },
    "/agreement/admin/localized-policy-versions/versions/{policyVersionId}": {
      "get": {
        "description": "Retrieve versions of a particular country-specific policy.",
        "operationId": "oldRetrieveLocalizedPolicyVersions",
        "parameters": [
          {
            "description": "Policy Version Id",
            "in": "path",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/RetrieveLocalizedPolicyVersionResponse"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve Versions from Country-Specific Policy",
        "tags": [
          "Localized Policy Versions"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create a version of a particular country-specific policy.",
        "operationId": "oldCreateLocalizedPolicyVersion",
        "parameters": [
          {
            "description": "Policy Version Id",
            "in": "path",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateLocalizedPolicyVersionRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CreateLocalizedPolicyVersionResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40033\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_version\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40044\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.localized_policy_version_already_exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create a Localized Version from Country-Specific Policy",
        "tags": [
          "Localized Policy Versions"
        ],
        "x-errorCodes": {
          "40033": "errors.net.accelbyte.platform.legal.invalid_policy_version",
          "40044": "errors.net.accelbyte.platform.legal.localized_policy_version_already_exist"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [CREATE]"
        }
      }
    },
    "/agreement/admin/localized-policy-versions/{localizedPolicyVersionId}": {
      "get": {
        "description": "Retrieve a version of a particular country-specific policy.",
        "operationId": "oldRetrieveSingleLocalizedPolicyVersion",
        "parameters": [
          {
            "description": "Localized Policy Version Id",
            "in": "path",
            "name": "localizedPolicyVersionId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveLocalizedPolicyVersionResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e2912\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve a Localized Version from Country-Specific Policy",
        "tags": [
          "Localized Policy Versions"
        ],
        "x-errorCodes": {
          "2912": "errors.net.accelbyte.platform.legal.policy_version_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [READ]"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update a version of a particular country-specific policy.",
        "operationId": "oldUpdateLocalizedPolicyVersion",
        "parameters": [
          {
            "description": "Localized Policy Version Id",
            "in": "path",
            "name": "localizedPolicyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdateLocalizedPolicyVersionRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateLocalizedPolicyVersionResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40035\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_version\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update a Localized Version from Country-Specific Policy",
        "tags": [
          "Localized Policy Versions"
        ],
        "x-errorCodes": {
          "40035": "errors.net.accelbyte.platform.legal.invalid_policy_version"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/localized-policy-versions/{localizedPolicyVersionId}/attachments": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Request presigned URL for  upload attachment for a particular localized version of base policy.",
        "operationId": "oldRequestPresignedURL",
        "parameters": [
          {
            "description": "Localized Policy Version Id",
            "in": "path",
            "name": "localizedPolicyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UploadPolicyVersionAttachmentRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UploadLocalizedPolicyVersionAttachmentResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40034\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_file_type\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40037\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_localized_policy_version\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40042\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_freezed\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Request Presigned URL for Upload Document",
        "tags": [
          "Localized Policy Versions"
        ],
        "x-errorCodes": {
          "40034": "errors.net.accelbyte.platform.legal.invalid_file_type",
          "40037": "errors.net.accelbyte.platform.legal.invalid_localized_policy_version",
          "40042": "errors.net.accelbyte.platform.legal.policy_version_freezed"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [CREATE]"
        }
      }
    },
    "/agreement/admin/localized-policy-versions/{localizedPolicyVersionId}/default": {
      "patch": {
        "description": "Update a localized version policy to be the default.",
        "operationId": "oldSetDefaultLocalizedPolicy",
        "parameters": [
          {
            "description": "Localized Policy Version Id",
            "in": "path",
            "name": "localizedPolicyVersionId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40035\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_localize_policy_version\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Set Default Localized Policy",
        "tags": [
          "Localized Policy Versions"
        ],
        "x-errorCodes": {
          "40035": "errors.net.accelbyte.platform.legal.invalid_localize_policy_version"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/agreements": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "This API will return all accepted Legal Agreements for each user, including agreements of game users if publisher user has corresponding game account.",
        "operationId": "retrieveAcceptedAgreementsForMultiUsers",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UsersAgreementsRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/UserAgreementsResponse"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve Accepted Legal Agreements For Multi Users",
        "tags": [
          "Agreement With Namespace"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/agreements/policies/users/{userId}": {
      "get": {
        "description": "This API will return all accepted Legal Agreements for specified user.",
        "operationId": "retrieveAcceptedAgreements",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User Id",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "If it is true, API will only query the policy in this path namespace",
            "in": "query",
            "name": "excludeOtherNamespacesPolicies",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/RetrieveAcceptedAgreementResponse"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve Accepted Legal Agreements",
        "tags": [
          "Agreement With Namespace"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/agreements/policy-versions/users": {
      "get": {
        "description": "This API will return all users who has accepted a specific policy version.",
        "operationId": "retrieveAllUsersByPolicyVersion",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "[Only for publisher legal scenario] If it is true, when a game user accept this publisher legal, API will return publisher user id",
            "in": "query",
            "name": "convertGameUserId",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          },
          {
            "description": "display name or email or username",
            "in": "query",
            "name": "keyword",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "description": "limit",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "offset",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PagedRetrieveUserAcceptedAgreementResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40035\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve Users Accepting Legal Agreements",
        "tags": [
          "Agreement With Namespace"
        ],
        "x-errorCodes": {
          "40035": "errors.net.accelbyte.platform.legal.policy_version_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/agreements/policy-versions/users/export-csv/download": {
      "get": {
        "description": "This API will check the status of export process.\u0026lt;br\u0026gt;If the export process has been completed, the response body will include the download url.",
        "operationId": "downloadExportedAgreementsInCSV",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Export Id",
            "in": "query",
            "name": "exportId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DownloadExportedAgreementsInCSVResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40047\u003c/td\u003e\u003ctd\u003eExported agreements for exportId [{exportId}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Download Exported Users Accepted Agreements in CSV",
        "tags": [
          "Agreement With Namespace"
        ],
        "x-errorCodes": {
          "40047": "Exported agreements for exportId [{exportId}] not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/agreements/policy-versions/users/export-csv/initiate": {
      "post": {
        "description": "This API will initiate a worker to export list of users who has accepted a specific policy version into a CSV file.\u0026lt;br\u0026gt;To check the export state after initialize it, use `GET /admin/namespaces/{namespace}/agreements/policy-versions/users/export-csv/download` API.\u0026lt;br/\u0026gt;\u0026lt;br/\u0026gt;This Initiate API is \u0026lt;b\u0026gt;not allow\u0026lt;/b\u0026gt; multiple export worker running for the same namespace, it will return 409 http error if so.\u0026lt;br/\u0026gt;",
        "operationId": "initiateExportAgreementsToCSV",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Version Id",
            "in": "query",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Start time of signed_date to retrieve. Using ISO 8601 format yyyy-MM-dd'T'HH:mm:ss'Z', e.g. 2024-01-01T00:00:00Z",
            "in": "query",
            "name": "start",
            "required": true,
            "type": "string"
          },
          {
            "description": "End time of signed_date to retrieve, will use current time if not specified. Using ISO 8601 format yyyy-MM-dd'T'HH:mm:ss'Z', e.g. 2024-01-01T00:00:00Z",
            "in": "query",
            "name": "end",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InitiateExportAgreementsToCSVResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40027\u003c/td\u003e\u003ctd\u003eToo many export running currently\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40045\u003c/td\u003e\u003ctd\u003ePolicy version with id: [{policyVersionId}] not found on namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40071\u003c/td\u003e\u003ctd\u003ePrevious export still running for namespace [{namespace}] with exportId [{exportId}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Initiate Export Users Accepted Agreements to CSV",
        "tags": [
          "Agreement With Namespace"
        ],
        "x-errorCodes": {
          "40027": "Too many export running currently",
          "40045": "Policy version with id: [{policyVersionId}] not found on namespace [{namespace}]",
          "40071": "Previous export still running for namespace [{namespace}] with exportId [{exportId}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/base-policies": {
      "get": {
        "description": "Retrieve base policies in the namespace. Set `limit = -1` to retrieve all records",
        "operationId": "retrieveAllLegalPoliciesByNamespace",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "default": -1,
            "description": "Limit",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Offset",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "default": false,
            "in": "query",
            "name": "visibleOnly",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/RetrieveBasePolicyResponse"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve Base Legal Policy in the namespace",
        "tags": [
          "Base Legal Policies With Namespace"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create a legal policy.\u0026lt;br\u0026gt;Note:\u0026lt;br\u0026gt;\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;countryType\u0026lt;/i\u0026gt; field only accept COUNTRY or COUNTRY_GROUP.\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;COUNTRY_GROUP \u0026lt;i\u0026gt;countryType\u0026lt;/i\u0026gt; requires the \u0026lt;i\u0026gt;countryGroupName\u0026lt;/i\u0026gt; and \u0026lt;i\u0026gt;affectedCountries\u0026lt;/i\u0026gt; fields to be provided.\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;\u0026lt;li\u0026gt;policy with COUNTRY_GROUP type include multiple countries and apply the same policy across the entire list of countries\u0026lt;/li\u0026gt;",
        "operationId": "createPolicy",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateBasePolicyRequestV2"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CreateBasePolicyResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40032\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.base_policy_namespace_not_match\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40026\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.not_allow_create_studio_policy\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40030\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_type\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create a Base Legal Policy",
        "tags": [
          "Base Legal Policies With Namespace"
        ],
        "x-errorCodes": {
          "20002": "validation error",
          "40026": "errors.net.accelbyte.platform.legal.not_allow_create_studio_policy",
          "40030": "errors.net.accelbyte.platform.legal.invalid_policy_type",
          "40032": "errors.net.accelbyte.platform.legal.base_policy_namespace_not_match"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [CREATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/base-policies/{basePolicyId}": {
      "delete": {
        "description": "Delete base legal policy.Can only be deleted if match these criteria:\u0026lt;br\u0026gt;\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;Base policy don\u0026#39;t have published policy version\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;Policy version under base policy has never been accepted by any user\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "deleteBasePolicy",
        "parameters": [
          {
            "description": "BasePolicy Id",
            "in": "path",
            "name": "basePolicyId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40032\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_base_policy\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40068\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.base_policy_have_published_policy_version_and_already_accepted_by_user\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40069\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.base_policy_already_have_published_policy_version\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete Base Legal Policy",
        "tags": [
          "Base Legal Policies With Namespace"
        ],
        "x-errorCodes": {
          "40032": "errors.net.accelbyte.platform.legal.invalid_base_policy",
          "40068": "errors.net.accelbyte.platform.legal.base_policy_have_published_policy_version_and_already_accepted_by_user",
          "40069": "errors.net.accelbyte.platform.legal.base_policy_already_have_published_policy_version"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [DELETE]"
        }
      },
      "get": {
        "description": "Retrieve a base policy.",
        "operationId": "retrieveSinglePolicy",
        "parameters": [
          {
            "description": "BasePolicy Id",
            "in": "path",
            "name": "basePolicyId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveBasePolicyResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40041\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve a Base Legal Policy",
        "tags": [
          "Base Legal Policies With Namespace"
        ],
        "x-errorCodes": {
          "40041": "errors.net.accelbyte.platform.legal.policy_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "Update an existing base policy.\u0026lt;br\u0026gt;Note:\u0026lt;br\u0026gt;\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;countryType\u0026lt;/i\u0026gt; field only accept COUNTRY or COUNTRY_GROUP.\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;COUNTRY_GROUP \u0026lt;i\u0026gt;countryType\u0026lt;/i\u0026gt; requires the \u0026lt;i\u0026gt;countryGroupName\u0026lt;/i\u0026gt; and \u0026lt;i\u0026gt;affectedCountries\u0026lt;/i\u0026gt; fields to be provided.\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;\u0026lt;li\u0026gt;policy with COUNTRY_GROUP type include multiple countries and apply the same policy across the entire list of countries\u0026lt;/li\u0026gt;",
        "operationId": "partialUpdatePolicy",
        "parameters": [
          {
            "description": "BasePolicy Id",
            "in": "path",
            "name": "basePolicyId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdateBasePolicyRequestV2"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateBasePolicyResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40032\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_base_policy\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update Base Legal Policy",
        "tags": [
          "Base Legal Policies With Namespace"
        ],
        "x-errorCodes": {
          "40032": "errors.net.accelbyte.platform.legal.invalid_base_policy"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/base-policies/{basePolicyId}/countries/{countryCode}": {
      "get": {
        "description": "Retrieve a Base Legal Policy based on a Particular Country.",
        "operationId": "retrievePolicyCountry",
        "parameters": [
          {
            "description": "BasePolicy Id",
            "in": "path",
            "name": "basePolicyId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Country Code",
            "in": "path",
            "name": "countryCode",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrievePolicyResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40031\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.base_policy_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve a Base Legal Policy based on a Particular Country",
        "tags": [
          "Base Legal Policies With Namespace"
        ],
        "x-errorCodes": {
          "40031": "errors.net.accelbyte.platform.legal.base_policy_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/base-policies/{basePolicyId}/policies": {
      "get": {
        "description": "Retrieve all policies from Base Legal Policy.",
        "operationId": "retrieveAllPoliciesFromBasePolicy",
        "parameters": [
          {
            "description": "BasePolicy Id",
            "in": "path",
            "name": "basePolicyId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/RetrievePoliciesFromBasePolicyResponse"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40041\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve all policies from Base Legal Policy",
        "tags": [
          "Base Legal Policies With Namespace"
        ],
        "x-errorCodes": {
          "40041": "errors.net.accelbyte.platform.legal.policy_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create policy under base policy.\u0026lt;br\u0026gt;Note:\u0026lt;br\u0026gt;\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;countryType\u0026lt;/i\u0026gt; field only accept COUNTRY or COUNTRY_GROUP.\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;COUNTRY_GROUP policy requires the \u0026lt;i\u0026gt;countryGroupName\u0026lt;/i\u0026gt; and \u0026lt;i\u0026gt;countries\u0026lt;/i\u0026gt; fields to be provided.\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;\u0026lt;li\u0026gt;policy with COUNTRY_GROUP type include multiple countries and apply the same policy across the entire list of countries\u0026lt;/li\u0026gt;",
        "operationId": "createPolicyUnderBasePolicy",
        "parameters": [
          {
            "description": "BasePolicy Id",
            "in": "path",
            "name": "basePolicyId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreatePolicyRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CreatePolicyResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40032\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_base_policy\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create policy under base policy",
        "tags": [
          "Base Legal Policies With Namespace"
        ],
        "x-errorCodes": {
          "40032": "errors.net.accelbyte.platform.legal.invalid_base_policy"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [CREATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/localized-policy-versions/versions/{localizedPolicyVersionId}": {
      "delete": {
        "description": "Delete localized version policy.\u0026lt;br\u0026gt;Can only be deleted if match these criteria:\u0026lt;br\u0026gt;\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;Policy Version that this localized policy version belongs to is not active\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;Has never been accepted by any user\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "deleteLocalizedPolicy",
        "parameters": [
          {
            "description": "Localized Policy Version Id",
            "in": "path",
            "name": "localizedPolicyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40075\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.localized_policy_version_is_published_and_already_accepted_by_user\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40076\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.localized_policy_version_is_active\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete Localized Policy",
        "tags": [
          "Localized Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "40075": "errors.net.accelbyte.platform.legal.localized_policy_version_is_published_and_already_accepted_by_user",
          "40076": "errors.net.accelbyte.platform.legal.localized_policy_version_is_active"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [DELETE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/localized-policy-versions/versions/{policyVersionId}": {
      "get": {
        "description": "Retrieve versions of a particular country-specific policy.",
        "operationId": "retrieveLocalizedPolicyVersions",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Version Id",
            "in": "path",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/RetrieveLocalizedPolicyVersionResponse"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve Versions from Country-Specific Policy",
        "tags": [
          "Localized Policy Versions With Namespace"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create a version of a particular country-specific policy.",
        "operationId": "createLocalizedPolicyVersion",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Version Id",
            "in": "path",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateLocalizedPolicyVersionRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CreateLocalizedPolicyVersionResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40033\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_version\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40044\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.localized_policy_version_already_exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create a Localized Version from Country-Specific Policy",
        "tags": [
          "Localized Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "40033": "errors.net.accelbyte.platform.legal.invalid_policy_version",
          "40044": "errors.net.accelbyte.platform.legal.localized_policy_version_already_exist"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [CREATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/localized-policy-versions/{localizedPolicyVersionId}": {
      "get": {
        "description": "Retrieve a version of a particular country-specific policy.",
        "operationId": "retrieveSingleLocalizedPolicyVersion",
        "parameters": [
          {
            "description": "Localized Policy Version Id",
            "in": "path",
            "name": "localizedPolicyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveLocalizedPolicyVersionResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e2912\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve a Localized Version from Country-Specific Policy",
        "tags": [
          "Localized Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "2912": "errors.net.accelbyte.platform.legal.policy_version_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update a version of a particular country-specific policy.",
        "operationId": "updateLocalizedPolicyVersion",
        "parameters": [
          {
            "description": "Localized Policy Version Id",
            "in": "path",
            "name": "localizedPolicyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdateLocalizedPolicyVersionRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateLocalizedPolicyVersionResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40035\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_version\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update a Localized Version from Country-Specific Policy",
        "tags": [
          "Localized Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "40035": "errors.net.accelbyte.platform.legal.invalid_policy_version"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/localized-policy-versions/{localizedPolicyVersionId}/attachments": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Request presigned URL for  upload attachment for a particular localized version of base policy.",
        "operationId": "requestPresignedURL",
        "parameters": [
          {
            "description": "Localized Policy Version Id",
            "in": "path",
            "name": "localizedPolicyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UploadPolicyVersionAttachmentRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UploadLocalizedPolicyVersionAttachmentResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40034\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_file_type\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40037\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_localized_policy_version\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40042\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_freezed\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Request Presigned URL for Upload Document",
        "tags": [
          "Localized Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "40034": "errors.net.accelbyte.platform.legal.invalid_file_type",
          "40037": "errors.net.accelbyte.platform.legal.invalid_localized_policy_version",
          "40042": "errors.net.accelbyte.platform.legal.policy_version_freezed"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [CREATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/localized-policy-versions/{localizedPolicyVersionId}/default": {
      "patch": {
        "description": "Update a localized version policy to be the default.",
        "operationId": "setDefaultLocalizedPolicy",
        "parameters": [
          {
            "description": "Localized Policy Version Id",
            "in": "path",
            "name": "localizedPolicyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Set Default Localized Policy",
        "tags": [
          "Localized Policy Versions With Namespace"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/policies/versions/{policyVersionId}": {
      "delete": {
        "description": "Delete a policy version from policy.Can only be deleted if match these criteria:\u0026lt;br\u0026gt;\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;Policy version is not published\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;Policy version has never been accepted by any user\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "deletePolicyVersion",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Version Id",
            "in": "path",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40035\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_version\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40070\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_is_published_and_already_accepted_by_user\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40071\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_is_active\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete a Version of Policy",
        "tags": [
          "Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "40035": "errors.net.accelbyte.platform.legal.invalid_policy_version",
          "40070": "errors.net.accelbyte.platform.legal.policy_version_is_published_and_already_accepted_by_user",
          "40071": "errors.net.accelbyte.platform.legal.policy_version_is_active"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [DELETE]"
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "Update a particular policy version.",
        "operationId": "updatePolicyVersion",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Version Id",
            "in": "path",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdatePolicyVersionRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdatePolicyVersionResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40035\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_version\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40042\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_freezed\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40043\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.localized_policy_version_already_exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update a Version of Policy",
        "tags": [
          "Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "40035": "errors.net.accelbyte.platform.legal.invalid_policy_version",
          "40042": "errors.net.accelbyte.platform.legal.policy_version_freezed",
          "40043": "errors.net.accelbyte.platform.legal.localized_policy_version_already_exist"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/policies/versions/{policyVersionId}/latest": {
      "patch": {
        "description": "Manually publish a version of a particular country-specific policy.",
        "operationId": "publishPolicyVersion",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Version Id",
            "in": "path",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          },
          {
            "default": true,
            "description": "Should Notify",
            "in": "query",
            "name": "shouldNotify",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "operation successful"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40035\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_version\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40046\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.default_selection_not_provided\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40030\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.localized_policy_version_not_provided\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40039\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.localized_policy_version_already_latest\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40043\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.localized_policy_version_already_publish\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Manually Publish a Version from Country-Specific Policy",
        "tags": [
          "Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "40030": "errors.net.accelbyte.platform.legal.localized_policy_version_not_provided",
          "40035": "errors.net.accelbyte.platform.legal.invalid_policy_version",
          "40039": "errors.net.accelbyte.platform.legal.localized_policy_version_already_latest",
          "40043": "errors.net.accelbyte.platform.legal.localized_policy_version_already_publish",
          "40046": "errors.net.accelbyte.platform.legal.default_selection_not_provided"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/policies/versions/{policyVersionId}/unpublish": {
      "patch": {
        "description": "Un-publish a policy version from policy.Can only be un-publish if match these criteria:\u0026lt;br\u0026gt;\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;Policy version has never been accepted by any user\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "unpublishPolicyVersion",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Version Id",
            "in": "path",
            "name": "policyVersionId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40035\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_version\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40070\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_is_published_and_already_accepted_by_user\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Un-publish Version from Policy",
        "tags": [
          "Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "40035": "errors.net.accelbyte.platform.legal.invalid_policy_version",
          "40070": "errors.net.accelbyte.platform.legal.policy_version_is_published_and_already_accepted_by_user"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/policies/{policyId}": {
      "delete": {
        "description": "Delete policy.Can only be deleted if match these criteria:\u0026lt;br\u0026gt;\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;Policy is not default policy\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;Policy version under policy has never been accepted by any user\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "deletePolicy",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Id",
            "in": "path",
            "name": "policyId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40033\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_id\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40072\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_have_published_policy_version\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40073\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_have_published_policy_version_and_already_accepted_by_user\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40074\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_is_default_policy\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete Policy",
        "tags": [
          "Policies With Namespace"
        ],
        "x-errorCodes": {
          "40033": "errors.net.accelbyte.platform.legal.invalid_policy_id",
          "40072": "errors.net.accelbyte.platform.legal.policy_have_published_policy_version",
          "40073": "errors.net.accelbyte.platform.legal.policy_have_published_policy_version_and_already_accepted_by_user",
          "40074": "errors.net.accelbyte.platform.legal.policy_is_default_policy"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [DELETE]"
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "Update country-specific and country-group policy.",
        "operationId": "updatePolicy",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Id",
            "in": "path",
            "name": "policyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdatePolicyRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "operation successful"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40033\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_id\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update Country-Specific Policy",
        "tags": [
          "Policies With Namespace"
        ],
        "x-errorCodes": {
          "40033": "errors.net.accelbyte.platform.legal.invalid_policy_id"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/policies/{policyId}/default": {
      "patch": {
        "description": "Update a policy to be the default.",
        "operationId": "setDefaultPolicy",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Id",
            "in": "path",
            "name": "policyId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "operation successful"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40033\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy_id\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Set Default Policy",
        "tags": [
          "Policies With Namespace"
        ],
        "x-errorCodes": {
          "40033": "errors.net.accelbyte.platform.legal.invalid_policy_id"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [UPDATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/policies/{policyId}/versions": {
      "get": {
        "description": "Retrieve a version of a particular country specific policy. If version is not provided, the Legal Service will assume caller requesting all versions from country-specific policy.",
        "operationId": "retrieveSinglePolicyVersion",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Id",
            "in": "path",
            "name": "policyId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Version Id",
            "in": "query",
            "name": "versionId",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/RetrievePolicyVersionResponse"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40036\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.policy_version_id_not_found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve a Version from Country-Specific Policy",
        "tags": [
          "Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "40036": "errors.net.accelbyte.platform.legal.policy_version_id_not_found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create a version of a particular country-specific policy.",
        "operationId": "createPolicyVersion",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Policy Id",
            "in": "path",
            "name": "policyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreatePolicyVersionRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CreatePolicyVersionResponse"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eNumericErrorCode\u003c/td\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e40033\u003c/td\u003e\u003ctd\u003eerrors.net.accelbyte.platform.legal.invalid_policy\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create a Version from Country-Specific Policy",
        "tags": [
          "Policy Versions With Namespace"
        ],
        "x-errorCodes": {
          "40033": "errors.net.accelbyte.platform.legal.invalid_policy"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:*:LEGAL [CREATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/policy-types": {
      "get": {
        "description": "Retrieve all supported policy types.",
        "operationId": "retrieveAllPolicyTypes",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Offset",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/RetrievePolicyTypeResponse"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve All Policy Type",
        "tags": [
          "Base Legal Policies With Namespace"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:LEGAL [READ]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/users/{userId}/agreements/policies": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Accepts many legal policy versions all at once. Supply with localized version policy id and userId to accept an agreement.",
        "operationId": "indirectBulkAcceptVersionedPolicy",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User Id",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Client Id",
            "in": "query",
            "name": "clientId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Country Code",
            "in": "query",
            "name": "countryCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "items": {
                "$ref": "#/definitions/AcceptAgreementRequest"
              },
              "type": "array"
            }
          },
          {
            "description": "Publisher user Id",
            "in": "query",
            "name": "publisherUserId",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AcceptAgreementResponse"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Admin bulk accept Policy Versions",
        "tags": [
          "Admin User Agreement"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:USER:{userId}:LEGAL [CREATE]"
        }
      }
    },
    "/agreement/admin/namespaces/{namespace}/users/{userId}/eligibilities": {
      "get": {
[...]
