{
  "host": "demo.accelbyte.io",
  "info": {
    "contact": {
      "email": "engineering@accelbyte.io",
      "name": "Engineering Team at AccelByte",
      "url": "https://accelbyte.io"
    },
    "description": "Justice Platform Service",
    "title": "justice-platform-service",
    "version": "6.1.1"
  },
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Achievement(Platform)"
    },
    {
      "name": "Anonymization"
    },
    {
      "name": "Campaign"
    },
    {
      "name": "CatalogChanges"
    },
    {
      "name": "Category"
    },
    {
      "name": "Clawback"
    },
    {
      "name": "Currency"
    },
    {
      "name": "DLC"
    },
    {
      "name": "Entitlement"
    },
    {
      "name": "Fulfillment"
    },
    {
      "name": "FulfillmentScript"
    },
    {
      "name": "IAP"
    },
    {
      "name": "IAP(Notification)"
    },
    {
      "name": "IAP(Subscription)"
    },
    {
      "name": "Invoice"
    },
    {
      "name": "Item"
    },
    {
      "name": "KeyGroup"
    },
    {
      "name": "Order"
    },
    {
      "name": "Order(Dedicated)"
    },
    {
      "name": "Payment"
    },
    {
      "name": "Payment(Dedicated)"
    },
    {
      "name": "PaymentAccount"
    },
    {
      "name": "PaymentConfig"
    },
    {
      "name": "PaymentStation"
    },
    {
      "name": "Platform"
    },
    {
      "name": "Platform Account Closure"
    },
    {
      "name": "Revocation"
    },
    {
      "name": "Reward"
    },
    {
      "name": "Section"
    },
    {
      "name": "ServicePluginConfig"
    },
    {
      "name": "Session(Platform)"
    },
    {
      "name": "Store"
    },
    {
      "name": "Subscription"
    },
    {
      "name": "Ticket"
    },
    {
      "name": "TradeAction"
    },
    {
      "name": "View"
    },
    {
      "name": "Wallet"
    }
  ],
  "externalDocs": {
    "description": "API Docs",
    "url": "https://stage.accelbyte.io/platform"
  },
  "securityDefinitions": {
    "authorization": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "paths": {
    "/platform/admin/fulfillment/scripts": {
      "get": {
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;List all fulfillment scripts.",
        "operationId": "listFulfillmentScripts",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/FulfillmentScriptInfo"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "List all fulfillment scripts",
        "tags": [
          "FulfillmentScript"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:FULFILLMENT [READ]"
        }
      }
    },
    "/platform/admin/fulfillment/scripts/{id}": {
      "delete": {
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;Delete fulfillment script.",
        "operationId": "deleteFulfillmentScript",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "delete fulfillment script successfully"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete fulfillment script",
        "tags": [
          "FulfillmentScript"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:FULFILLMENT [DELETE]"
        }
      },
      "get": {
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;Get fulfillment script by id.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: get fulfillment script\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getFulfillmentScript",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FulfillmentScriptInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e38141\u003c/td\u003e\u003ctd\u003eFulfillment script does not exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get fulfillment script by id",
        "tags": [
          "FulfillmentScript"
        ],
        "x-errorCodes": {
          "38141": "Fulfillment script does not exist"
        },
        "x-security": {
          "userPermissions": "ADMIN:FULFILLMENT [READ]"
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;Update fulfillment script.",
        "operationId": "updateFulfillmentScript",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FulfillmentScriptUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FulfillmentScriptInfo"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e38141\u003c/td\u003e\u003ctd\u003eFulfillment script does not exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update fulfillment script",
        "tags": [
          "FulfillmentScript"
        ],
        "x-errorCodes": {
          "38141": "Fulfillment script does not exist"
        },
        "x-security": {
          "userPermissions": "ADMIN:FULFILLMENT [UPDATE]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;Create fulfillment script.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;/ul\u0026gt;Fulfillment scripts are used for adding custom fulfillment logic based on \u0026lt;b\u0026gt;ITEM_TYPE\u0026lt;/b\u0026gt;: [MEDIA,INGAMEITEM] for now, and the custom scripts only cover grantDays.\u0026lt;br\u0026gt;Example for grantDays: \u0026lt;br\u0026gt;\u0026lt;code\u0026gt;order \u0026amp;\u0026amp; ((order.currency \u0026amp;\u0026amp; order.currency.currencyCode) == \u0026#39;LP\u0026#39; || order.isFree) ? 30 : -1\u0026lt;/code\u0026gt;\u0026lt;br\u0026gt;",
        "operationId": "createFulfillmentScript",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FulfillmentScriptCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FulfillmentScriptInfo"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e38171\u003c/td\u003e\u003ctd\u003eFulfillment script already exists\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create fulfillment script",
        "tags": [
          "FulfillmentScript"
        ],
        "x-errorCodes": {
          "38171": "Fulfillment script already exists"
        },
        "x-security": {
          "userPermissions": "ADMIN:FULFILLMENT [CREATE]"
        }
      }
    },
    "/platform/admin/items/configs": {
      "get": {
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;This API is used to get all item type configs.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: the list of items\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "listItemTypeConfigs",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/ItemTypeConfigInfo"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get all item type configs",
        "tags": [
          "Item"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:ITEM:CONFIG [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;This API is used to create an item type config.\u0026lt;p\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: item type config data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "createItemTypeConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ItemTypeConfigCreate"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "item type config created"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30336\u003c/td\u003e\u003ctd\u003eItem type [{itemType}] does not support\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30371\u003c/td\u003e\u003ctd\u003eItem type config for type [{itemType}] and clazz [{clazz}] already exists\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create an Item Type Config",
        "tags": [
          "Item"
        ],
        "x-errorCodes": {
          "20002": "validation error",
          "30336": "Item type [{itemType}] does not support",
          "30371": "Item type config for type [{itemType}] and clazz [{clazz}] already exists"
        },
        "x-security": {
          "userPermissions": "ADMIN:ITEM:CONFIG [CREATE]"
        }
      }
    },
    "/platform/admin/items/configs/search": {
      "get": {
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;This API is used to get an item type config.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: item type config data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "searchItemTypeConfig",
        "parameters": [
          {
            "enum": [
              "APP",
              "BUNDLE",
              "CODE",
              "COINS",
              "EXTENSION",
              "INGAMEITEM",
              "LOOTBOX",
              "MEDIA",
              "OPTIONBOX",
              "SEASON",
              "SUBSCRIPTION"
            ],
            "in": "query",
            "name": "itemType",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "clazz",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ItemTypeConfigInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30541\u003c/td\u003e\u003ctd\u003eItem type config [{id}] doesn't exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get an item type config",
        "tags": [
          "Item"
        ],
        "x-errorCodes": {
          "30541": "Item type config [{id}] doesn't exist"
        },
        "x-security": {
          "userPermissions": "ADMIN:ITEM:CONFIG [READ]"
        }
      }
    },
    "/platform/admin/items/configs/{id}": {
      "delete": {
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;This API is used to delete an item type config permanently.",
        "operationId": "deleteItemTypeConfig",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Delete item successfully"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30541\u003c/td\u003e\u003ctd\u003eItem type config [{id}] doesn't exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete an item type config",
        "tags": [
          "Item"
        ],
        "x-errorCodes": {
          "30541": "Item type config [{id}] doesn't exist"
        },
        "x-security": {
          "userPermissions": "ADMIN:ITEM:CONFIG [DELETE]"
        }
      },
      "get": {
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;This API is used to get an item type config.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: item type config data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getItemTypeConfig",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ItemTypeConfigInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30541\u003c/td\u003e\u003ctd\u003eItem type config [{id}] doesn't exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get an item type config",
        "tags": [
          "Item"
        ],
        "x-errorCodes": {
          "30541": "Item type config [{id}] doesn't exist"
        },
        "x-security": {
          "userPermissions": "ADMIN:ITEM:CONFIG [READ]"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "\u0026lt;b\u0026gt;[Not supported yet in AGS Shared Cloud]\u0026lt;/b\u0026gt;This API is used to update an item type config.\u0026lt;p\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: item type config data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "updateItemTypeConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ItemTypeConfigUpdate"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ItemTypeConfigInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30541\u003c/td\u003e\u003ctd\u003eItem type config [{id}] doesn't exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30371\u003c/td\u003e\u003ctd\u003eItem type config for type [{itemType}] and clazz [{clazz}] already exists\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update an Item Type Config",
        "tags": [
          "Item"
        ],
        "x-errorCodes": {
          "20002": "validation error",
          "30371": "Item type config for type [{itemType}] and clazz [{clazz}] already exists",
          "30541": "Item type config [{id}] doesn't exist"
        },
        "x-security": {
          "userPermissions": "ADMIN:ITEM:CONFIG [UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/campaigns": {
      "get": {
        "description": "Query campaigns, if name is presented, it\u0026#39;s fuzzy match.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: slice of campaigns\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "queryCampaigns",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "default": 20,
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "default": 0,
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "tag",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CampaignPagingSlicedResult"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Query campaigns",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create campaign.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: created campaign\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "createCampaign",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CampaignCreate"
            }
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CampaignInfo"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37121\u003c/td\u003e\u003ctd\u003eInvalid currency namespace [{namespace}] in discount config: {tips}\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37171\u003c/td\u003e\u003ctd\u003eCampaign [{name}] already exists in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create campaign",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {
          "20002": "validation error",
          "37121": "Invalid currency namespace [{namespace}] in discount config: {tips}",
          "37171": "Campaign [{name}] already exists in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [CREATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/campaigns/{campaignId}": {
      "get": {
        "description": "Get campaign info.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: campaign info\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getCampaign",
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CampaignInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37141\u003c/td\u003e\u003ctd\u003eCampaign [{campaignId}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get campaign",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {
          "37141": "Campaign [{campaignId}] does not exist in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [READ]"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update campaign.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: updated campaign\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "updateCampaign",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CampaignUpdate"
            }
          },
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CampaignInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37141\u003c/td\u003e\u003ctd\u003eCampaign [{campaignId}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37171\u003c/td\u003e\u003ctd\u003eCampaign [{name}] already exists in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update campaign",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {
          "20002": "validation error",
          "37141": "Campaign [{campaignId}] does not exist in namespace [{namespace}]",
          "37171": "Campaign [{name}] already exists in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/campaigns/{campaignId}/batchName": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Change campaign batch name.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "renameBatch",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CampaignBatchNameChange"
            }
          },
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Batch was renamed successfully"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37141\u003c/td\u003e\u003ctd\u003eCampaign [{campaignId}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37143\u003c/td\u003e\u003ctd\u003eBatch name [{batchName}] does not exist for campaign [{campaignId}] in namespace [{namespace}].\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Rename batch",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {
          "37141": "Campaign [{campaignId}] does not exist in namespace [{namespace}]",
          "37143": "Batch name [{batchName}] does not exist for campaign [{campaignId}] in namespace [{namespace}]."
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/campaigns/{campaignId}/batchNames": {
      "get": {
        "description": "Query campaign batch name by fuzzy match.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: list of campaign batch names\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "queryCampaignBatchNames",
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "batchName",
            "required": false,
            "type": "string"
          },
          {
            "default": 10,
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/CampaignBatchNameInfo"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Query campaign batch names",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [READ]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/campaigns/{campaignId}/dynamic": {
      "get": {
        "description": "Get campaign dynamic.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: campaign dynamic\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getCampaignDynamic",
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CampaignDynamicInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37141\u003c/td\u003e\u003ctd\u003eCampaign [{campaignId}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get campaign dynamic",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {
          "37141": "Campaign [{campaignId}] does not exist in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [READ]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/catalog/configs": {
      "get": {
        "description": "Get catalog config.",
        "operationId": "getCatalogConfig",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CatalogConfigInfo"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get catalog config",
        "tags": [
          "Store"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:STORE[READ]"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update catalog config. Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: updated catalog config\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "updateCatalogConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogConfigUpdate"
            }
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CatalogConfigInfo"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update catalog config",
        "tags": [
          "Store"
        ],
        "x-errorCodes": {
          "20002": "validation error"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:STORE[UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/catalog/plugins/lootbox": {
      "delete": {
        "description": "Delete service plugin config.",
        "operationId": "deleteLootBoxPluginConfig",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Delete successfully"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete lootbox plugin config",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:PLUGIN:CATALOG[DELETE]"
        }
      },
      "get": {
        "description": "Get lootbox plugin config.",
        "operationId": "getLootBoxPluginConfig",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LootBoxPluginConfigInfo"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get lootbox plugin config",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:PLUGIN:CATALOG[READ]"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update lootbox plugin config. Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: updated service plugin config\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "updateLootBoxPluginConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LootBoxPluginConfigUpdate"
            }
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LootBoxPluginConfigInfo"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update lootbox plugin config",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {
          "20002": "validation error"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:PLUGIN:CATALOG [UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/catalog/plugins/lootbox/customConfig/cert": {
      "put": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Upload lootbox plugin custom config tls cert.Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: updated service plugin config\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "uplodLootBoxPluginConfigCert",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "file",
            "required": false,
            "type": "file"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LootBoxPluginConfigInfo"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Upload lootbox plugin custom config tls cert",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {
          "20002": "validation error"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:PLUGIN:CATALOG[UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/catalog/plugins/lootbox/grpcInfo": {
      "get": {
        "description": "Get lootbox plugin gRPC info.",
        "operationId": "getLootBoxGrpcInfo",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "force",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GrpcServerInfo"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get lootbox plugin gRPC info",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:PLUGIN:CATALOG[READ]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/catalog/plugins/section": {
      "delete": {
        "description": "Delete section plugin config.",
        "operationId": "deleteSectionPluginConfig",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Delete successfully"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete section plugin config",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:PLUGIN:CATALOG[DELETE]"
        }
      },
      "get": {
        "description": "Get section plugin config.",
        "operationId": "getSectionPluginConfig",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SectionPluginConfigInfo"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get section plugin config",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:PLUGIN:CATALOG[READ]"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update section config. Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: updated service plugin config\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "updateSectionPluginConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SectionPluginConfigUpdate"
            }
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SectionPluginConfigInfo"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update section plugin config",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {
          "20002": "validation error"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:PLUGIN:CATALOG[UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/catalog/plugins/section/customConfig/cert": {
      "put": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Upload section plugin custom config tls cert.Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: updated service plugin config\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "uploadSectionPluginConfigCert",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "file",
            "required": false,
            "type": "file"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SectionPluginConfigInfo"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Upload section plugin custom config tls cert",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {
          "20002": "validation error"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:PLUGIN:CATALOG[UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/categories": {
      "get": {
        "description": "This API is used to get root categories.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: root category data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getRootCategories",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "default is published store id",
            "in": "query",
            "name": "storeId",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/FullCategoryInfo"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get root categories",
        "tags": [
          "Category"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CATEGORY [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "This API is used to create category.\u0026lt;p\u0026gt;A category is a path separated by \u0026#34;/\u0026#34;. A category also has localized display names. Example:\u0026lt;p\u0026gt;\u0026lt;pre\u0026gt;\u0026lt;code\u0026gt;{\r\n\t\u0026#34;categoryPath\u0026#34;: \u0026#34;/games\u0026#34;,\r\n\t\u0026#34;localizationDisplayNames\u0026#34;: \\{\u0026#34;en\u0026#34; : \u0026#34;Games\u0026#34;}\r\n}\u0026lt;/code\u0026gt;\u0026lt;/pre\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: created category data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "createCategory",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CategoryCreate"
            }
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "storeId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullCategoryInfo"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30021\u003c/td\u003e\u003ctd\u003eDefault language [{language}] required\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30241\u003c/td\u003e\u003ctd\u003eCategory [{categoryPath}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30141\u003c/td\u003e\u003ctd\u003eStore [{storeId}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30271\u003c/td\u003e\u003ctd\u003eCategory [{categoryPath}] already exists in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30173\u003c/td\u003e\u003ctd\u003ePublished store can't modify content\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create category",
        "tags": [
          "Category"
        ],
        "x-errorCodes": {
          "20002": "validation error",
          "30021": "Default language [{language}] required",
          "30141": "Store [{storeId}] does not exist in namespace [{namespace}]",
          "30173": "Published store can't modify content",
          "30241": "Category [{categoryPath}] does not exist in namespace [{namespace}]",
          "30271": "Category [{categoryPath}] already exists in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CATEGORY [CREATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/categories/basic": {
      "get": {
        "description": "This API is used to list all categories\u0026#39; basic info of a store ordered by category path.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: list of categories\u0026#39; paths\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "listCategoriesBasic",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "default is published store id",
            "in": "query",
            "name": "storeId",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/BasicCategoryInfo"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "List categories' basic info",
        "tags": [
          "Category"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CATEGORY [READ]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/categories/{categoryPath}": {
      "delete": {
        "description": "This API is used to delete category by category path. \u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: the deleted category data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "deleteCategory",
        "parameters": [
          {
            "in": "path",
            "name": "categoryPath",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "storeId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullCategoryInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30241\u003c/td\u003e\u003ctd\u003eCategory [{categoryPath}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30272\u003c/td\u003e\u003ctd\u003eCategory [{categoryPath}] is not empty in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30173\u003c/td\u003e\u003ctd\u003ePublished store can't modify content\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete category",
        "tags": [
          "Category"
        ],
        "x-errorCodes": {
          "30173": "Published store can't modify content",
          "30241": "Category [{categoryPath}] does not exist in namespace [{namespace}]",
          "30272": "Category [{categoryPath}] is not empty in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CATEGORY [DELETE]"
        }
      },
      "get": {
        "description": "This API is used to get category by category path.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: category data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getCategory",
        "parameters": [
          {
            "in": "path",
            "name": "categoryPath",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "default is published store id",
            "in": "query",
            "name": "storeId",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullCategoryInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30241\u003c/td\u003e\u003ctd\u003eCategory [{categoryPath}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get category",
        "tags": [
          "Category"
        ],
        "x-errorCodes": {
          "30241": "Category [{categoryPath}] does not exist in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CATEGORY [READ]"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "This API is used to update category. \u0026lt;p\u0026gt; The category update data is a category object, example as:\u0026lt;pre\u0026gt;\u0026lt;code\u0026gt;{\r\n\t\u0026#34;storeId\u0026#34;: \u0026#34;store-id\u0026#34;,\r\n\t\u0026#34;localizationDisplayNames\u0026#34;: {\u0026#34;en\u0026#34; : \u0026#34;Games\u0026#34;}\r\n}\u0026lt;/code\u0026gt;\u0026lt;/pre\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: the updated category data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "updateCategory",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CategoryUpdate"
            }
          },
          {
            "in": "path",
            "name": "categoryPath",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "storeId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullCategoryInfo"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30021\u003c/td\u003e\u003ctd\u003eDefault language [{language}] required\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30241\u003c/td\u003e\u003ctd\u003eCategory [{categoryPath}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e30173\u003c/td\u003e\u003ctd\u003ePublished store can't modify content\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update category",
        "tags": [
          "Category"
        ],
        "x-errorCodes": {
          "20002": "validation error",
          "30021": "Default language [{language}] required",
          "30173": "Published store can't modify content",
          "30241": "Category [{categoryPath}] does not exist in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CATEGORY [UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/categories/{categoryPath}/children": {
      "get": {
        "description": "This API is used to get child categories by category path.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: list of child categories data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getChildCategories",
        "parameters": [
          {
            "in": "path",
            "name": "categoryPath",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "default is published store id",
            "in": "query",
            "name": "storeId",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/FullCategoryInfo"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get child categories",
        "tags": [
          "Category"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CATEGORY [READ]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/categories/{categoryPath}/descendants": {
      "get": {
        "description": "This API is used to get descendant categories by category path.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: list of descendant categories data\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getDescendantCategories",
        "parameters": [
          {
            "in": "path",
            "name": "categoryPath",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "default is published store id",
            "in": "query",
            "name": "storeId",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/FullCategoryInfo"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get descendant categories",
        "tags": [
          "Category"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CATEGORY [READ]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/codes/campaigns/{campaignId}": {
      "get": {
        "description": "Query campaign codes.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: list of codes\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;The \u0026lt;i\u0026gt;batchName\u0026lt;/i\u0026gt; field in the codes response will be present only when the \u0026lt;i\u0026gt;withBatchName\u0026lt;/i\u0026gt; parameter is \u0026lt;i\u0026gt;true\u0026lt;/i\u0026gt;, or when the \u0026lt;i\u0026gt;batchName\u0026lt;/i\u0026gt; filter is not blank.\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "queryCodes",
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "default": true,
            "in": "query",
            "name": "activeOnly",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          },
          {
            "in": "query",
            "name": "batchName",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "batchNo",
            "required": false,
            "type": "array"
          },
          {
            "in": "query",
            "name": "code",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "default": false,
            "in": "query",
            "name": "withBatchName",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CodeInfoPagingSlicedResult"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Query codes",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "This API is used to create campaign codes, it will increase the batch No. based on last creation.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: number of codes created\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "createCodes",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeCreate"
            }
          },
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CodeCreateResult"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37141\u003c/td\u003e\u003ctd\u003eCampaign [{campaignId}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37180\u003c/td\u003e\u003ctd\u003eCode [{code}] already exists in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Create campaign codes",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {
          "20002": "validation error",
          "37141": "Campaign [{campaignId}] does not exist in namespace [{namespace}]",
          "37180": "Code [{code}] already exists in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [CREATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/codes/campaigns/{campaignId}/codes.csv": {
      "get": {
        "description": "Download all or a batch of campaign\u0026#39;s codes as a csv file.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: codes csv file\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;The csv file will always have \u0026lt;i\u0026gt;Batch Name\u0026lt;/i\u0026gt; column, but this column will be filled only when the \u0026lt;i\u0026gt;withBatchName\u0026lt;/i\u0026gt; parameter is \u0026lt;i\u0026gt;true\u0026lt;/i\u0026gt;, or when the \u0026lt;i\u0026gt;batchName\u0026lt;/i\u0026gt; filter is not blank.\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "download",
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "batchName",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "batchNo",
            "required": false,
            "type": "array"
          },
          {
            "default": false,
            "in": "query",
            "name": "withBatchName",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "produces": [
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Download codes",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [READ]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/codes/campaigns/{campaignId}/disable/bulk": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Bulk disable codes.\u0026lt;p\u0026gt;Bulk disable campaign codes, all matched codes will be disabled except those have already been redeemed.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: the number of code actually disabled\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "bulkDisableCodes",
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "batchName",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "if not present will match all except 0",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "batchNo",
            "required": false,
            "type": "array"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BulkOperationResult"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Bulk disable codes",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/codes/campaigns/{campaignId}/enable/bulk": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Bulk enable campaign codes.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: the number of code actually enabled\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "bulkEnableCodes",
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "batchName",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "if not present will match all except 0",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "batchNo",
            "required": false,
            "type": "array"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BulkOperationResult"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Bulk enable codes",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/codes/campaigns/{campaignId}/history": {
      "get": {
        "description": "Query redeem history.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: slice of redeem history\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "queryRedeemHistory",
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "code",
            "required": false,
            "type": "string"
          },
          {
            "default": 20,
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "userId",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RedeemHistoryPagingSlicedResult"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Query redeem history",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [READ]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/codes/{code}": {
      "get": {
        "description": "Get campaign code, it will check code whether available to redeem if redeemable true.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: code info\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getCode",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "in": "query",
            "name": "redeemable",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          },
          {
            "default": false,
            "in": "query",
            "name": "withBatchName",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CodeInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37142\u003c/td\u003e\u003ctd\u003eCode [{code}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37144\u003c/td\u003e\u003ctd\u003eCampaign batch name does not exist for batch number [{batchNo}] campaign [{campaignId}] in namespace [{namespace}].\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37172\u003c/td\u003e\u003ctd\u003eCampaign [{campaignId}] is inactive in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37173\u003c/td\u003e\u003ctd\u003eCode [{code}] is inactive in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37174\u003c/td\u003e\u003ctd\u003eExceeded max redeem count per code [{maxCount}]\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37177\u003c/td\u003e\u003ctd\u003eCode redemption not started\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37178\u003c/td\u003e\u003ctd\u003eCode redemption already ended\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get code info",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {
          "37142": "Code [{code}] does not exist in namespace [{namespace}]",
          "37144": "Campaign batch name does not exist for batch number [{batchNo}] campaign [{campaignId}] in namespace [{namespace}].",
          "37172": "Campaign [{campaignId}] is inactive in namespace [{namespace}]",
          "37173": "Code [{code}] is inactive in namespace [{namespace}]",
          "37174": "Exceeded max redeem count per code [{maxCount}]",
          "37177": "Code redemption not started",
          "37178": "Code redemption already ended"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [READ]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/codes/{code}/disable": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Disable code.\u0026lt;p\u0026gt;Disable an active code, the code can\u0026#39;t be disabled if it has already been redeemed.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: disabled code\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "disableCode",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CodeInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37142\u003c/td\u003e\u003ctd\u003eCode [{code}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37176\u003c/td\u003e\u003ctd\u003eCode [{code}] has been redeemed in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Disable code",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {
          "37142": "Code [{code}] does not exist in namespace [{namespace}]",
          "37176": "Code [{code}] has been redeemed in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/codes/{code}/enable": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Enable code.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: enabled code\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "enableCode",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CodeInfo"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e37142\u003c/td\u003e\u003ctd\u003eCode [{code}] does not exist in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Enable code",
        "tags": [
          "Campaign"
        ],
        "x-errorCodes": {
          "37142": "Code [{code}] does not exist in namespace [{namespace}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CAMPAIGN [UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/configs/servicePlugin": {
      "delete": {
        "deprecated": true,
        "description": "Delete service plugin config",
        "operationId": "deleteServicePluginConfig",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Delete successfully"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete service plugin config",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CONFIG:SERVICEPLUGIN[DELETE]"
        }
      },
      "get": {
        "deprecated": true,
        "description": "Get service plugin config",
        "operationId": "getServicePluginConfig",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServicePluginConfigInfo"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get service plugin config",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CONFIG:SERVICEPLUGIN[READ]"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "deprecated": true,
        "description": "Update catalog config. Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: updated service plugin config\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "updateServicePluginConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServicePluginConfigUpdate"
            }
          },
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServicePluginConfigInfo"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003evalidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update service plugin config service",
        "tags": [
          "ServicePluginConfig"
        ],
        "x-errorCodes": {
          "20002": "validation error"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CONFIG:SERVICEPLUGIN[UPDATE]"
        }
      }
    },
    "/platform/admin/namespaces/{namespace}/currencies": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "List currencies of a namespace.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: Currency List\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "listCurrencies",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "currencyType",
            "enum": [
              "REAL",
              "VIRTUAL"
            ],
            "in": "query",
            "name": "currencyType",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/CurrencyInfo"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "List currencies",
        "tags": [
          "Currency"
        ],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:CURRENCY [READ]"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create a currency.\u0026lt;br\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: created currency\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "createCurrency",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CurrencyCreate"
            }
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CurrencyInfo"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e36171\u003c/td\u003e\u003ctd\u003eCurrency [{currencyCode}] already exists in namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e36172\u003c/td\u003e\u003ctd\u003eReal Currency [{currencyCode}] not allowed in game namespace [{namespace}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
[...]
