{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "jib.noice.accelbyte.io",
  "info": {
    "description": "Justice Platform Service",
    "version": "3.24.0",
    "title": "justice-platform-service",
    "contact": {
      "name": "Engineering Team at AccelByte",
      "url": "https://accelbyte.io",
      "email": "engineering@accelbyte.io"
    }
  },
  "securityDefinitions": {
    "authorization": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "tags": [
    {
      "name": "Item"
    },
    {
      "name": "Category"
    },
    {
      "name": "Store"
    },
    {
      "name": "Fulfillment"
    },
    {
      "name": "Entitlement"
    },
    {
      "name": "Order"
    },
    {
      "name": "Order(Dedicated)"
    },
    {
      "name": "Currency"
    },
    {
      "name": "Wallet"
    },
    {
      "name": "Payment"
    },
    {
      "name": "Payment(Dedicated)"
    },
    {
      "name": "PaymentConfig"
    },
    {
      "name": "PaymentAccount"
    },
    {
      "name": "PaymentStation"
    },
    {
      "name": "IAP"
    },
    {
      "name": "Reward"
    }
  ],
  "basePath": "/platform",
  "paths": {
    "/admin/namespaces/{namespace}/items/{itemId}/app": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Get an app info",
        "description": "This API is used to get an app info.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)</li><li><i>Returns</i>: app data</li></ul>",
        "operationId": "getApp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullAppInfo"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      },
      "put": {
        "tags": [
          "Item"
        ],
        "summary": "Update an app",
        "description": "This API is used to update an app.<p>An app update example:<p><pre><code>{\r\n  \"developer\": \"accelbyte\",\r\n  \"publisher\": \"accelbyte\",\r\n  \"websiteUrl\": \"http://accelbyte.io\",\r\n  \"forumUrl\": \"http://accelbyte.io\",\r\n  \"platforms\": \\[\"Windows(allowed values: Windows, MacOS, Linux, IOS, Android)\"\\],\r\n  \"platformRequirements\": \\{\r\n    \"Windows\": \\[\r\n      \\{\r\n        \"label\":\"minimum(can be minimum or recommended)\",\r\n        \"osVersion\":\"os version\",\r\n        \"processor\":\"processor\",\r\n        \"ram\":\"RAM\",\r\n        \"graphics\":\"graphics\",\r\n        \"directXVersion\":\"directXVersion\",\r\n        \"diskSpace\":\"diskSpace\",\r\n        \"soundCard\":\"soundCard\",\r\n        \"additionals\":\"additionals\"\r\n      \\}\r\n     \\]\r\n  \\},\r\n  \"carousel\": \\[\r\n    \\{\r\n      \"type\":\"image(allowed values: image, video)\",\r\n      \"videoSource\":\"generic(allowed values:generic, youtube, viemo)\",\r\n      \"url\":\"url\",\r\n      \"alt\":\"alternative url or text\",\r\n      \"thumbnailUrl\":\"thumbnail url\",\r\n      \"previewUrl\":\"preview url\",\r\n    \\}\r\n  \\],\r\n  \"localizations\": \\{\r\n    \"en\": \\{\r\n      \"slogan\":\"slogan\",\r\n      \"announcement\":\"announcement\",\r\n    \\}\r\n  \\},\r\n  \"primaryGenre\": \"Action\",\r\n  \"genres\": \\[\"Action\", \"Adventure\"\\],\r\n  \"players\": \\[\"Single\"\\],\r\n  \"releaseDate\": \"optional yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\"\r\n}</code></pre>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=4 (UPDATE)</li><li><i>Returns</i>: updated app data</li></ul>",
        "operationId": "updateApp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AppUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullAppInfo"
            }
          },
          "404": {
            "description": "<table><tr><tdErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "4"
        }
      }
    },
    "/admin/namespaces/{namespace}/categories/{categoryPath}": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Get category",
        "description": "This API is used to get category by category path.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:CATEGORY\", action=2 (READ)</li><li><i>Returns</i>: category data</li></ul>",
        "operationId": "getCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "categoryPath",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullCategoryInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30241</td><td>Category [{categoryPath}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:CATEGORY",
          "action": "2"
        }
      },
      "put": {
        "tags": [
          "Category"
        ],
        "summary": "Update category",
        "description": "This API is used to update category. <p> The category update data is a category object, example as:<pre><code>{\r\n\t\"storeId\": \"store-id\",\r\n\t\"localizationDisplayNames\": {\"en\" : \"Games\"}\r\n}</code></pre>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:CATEGORY\", action=4 (UPDATE)</li><li><i>Returns</i>: the updated category data</li></ul>",
        "operationId": "updateCategory",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "categoryPath",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CategoryUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullCategoryInfo"
            }
          },
          "400": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30021</td><td>Default language [{language}] required</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30241</td><td>Category [{categoryPath}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:CATEGORY",
          "action": "4"
        }
      },
      "delete": {
        "tags": [
          "Category"
        ],
        "summary": "Delete category",
        "description": "This API is used to delete category by category path. <p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:CATEGORY\", action=8 (DELETE)</li><li><i>Returns</i>: the deleted category data</li></ul>",
        "operationId": "deleteCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "categoryPath",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullCategoryInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30241</td><td>Category [{categoryPath}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30272</td><td>Category [{categoryPath}] is not empty in namespace [{namespace}]</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:CATEGORY",
          "action": "8"
        }
      }
    },
    "/admin/namespaces/{namespace}/categories/basic": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "List categories' basic info",
        "description": "This API is used to list all categories' basic info of a store ordered by category path.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:CATEGORY\", action=2 (READ)</li><li><i>Returns</i>: list of categories' paths</li></ul>",
        "operationId": "listCategoriesBasic",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BasicCategoryInfo"
              }
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:CATEGORY",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/categories/{categoryPath}/descendants": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Get descendant categories",
        "description": "This API is used to get descendant categories by category path.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:CATEGORY\", action=2 (READ)</li><li><i>Returns</i>: list of descendant categories data</li></ul>",
        "operationId": "getDescendantCategories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "categoryPath",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FullCategoryInfo"
              }
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:CATEGORY",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/categories/{categoryPath}/children": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Get child categories",
        "description": "This API is used to get child categories by category path.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:CATEGORY\", action=2 (READ)</li><li><i>Returns</i>: list of child categories data</li></ul>",
        "operationId": "getChildCategories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "categoryPath",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FullCategoryInfo"
              }
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:CATEGORY",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/categories": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Get root categories",
        "description": "This API is used to get root categories.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:CATEGORY\", action=2 (READ)</li><li><i>Returns</i>: root category data</li></ul>",
        "operationId": "getRootCategories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FullCategoryInfo"
              }
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:CATEGORY",
          "action": "2"
        }
      },
      "post": {
        "tags": [
          "Category"
        ],
        "summary": "Create category",
        "description": "This API is used to create category.<p>A category is a path separated by \"/\". A category also has localized display names. Example:<p><pre><code>{\r\n\t\"categoryPath\": \"/games\",\r\n\t\"localizationDisplayNames\": \\{\"en\" : \"Games\"}\r\n}</code></pre>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:CATEGORY\", action=1 (CREATE)</li><li><i>Returns</i>: created category data</li></ul>",
        "operationId": "createCategory",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CategoryCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullCategoryInfo"
            }
          },
          "400": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30021</td><td>Default language [{language}] required</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30241</td><td>Category [{categoryPath}] does not exist in namespace [{namespace}]</td></tr><tr><td>30141</td><td>Store [{storeId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30271</td><td>Category [{categoryPath}] already exists in namespace [{namespace}]</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:CATEGORY",
          "action": "1"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/{itemId}": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Get an item",
        "description": "This API is used to get an item.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)</li><li><i>Returns</i>: item data</li></ul>",
        "operationId": "getItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      },
      "put": {
        "tags": [
          "Item"
        ],
        "summary": "Update an item",
        "description": "This API is used to update an item.<p>An item update example:<p><pre><code>{\r\n\t\"categoryPath\": \"/games\",\r\n\t\"localizations\": \\{\r\n       \"en\": \\{\r\n           \"title\":\"required\",\r\n           \"description\":\"optional\",\r\n           \"longDescription\":\"optional\",\r\n           \"localExt\": \\{\r\n                  \"properties\":\\[\r\n                                   \\{\r\n                                       \"key1\":\"value1\",\r\n                                       \"key2\":\"value2\"\r\n                                   \\}\r\n                  \\],\r\n                  \"functions\":\\[\r\n                                   \\{\r\n                                       \"key1\":\"value1\",\r\n                                       \"key2\":\"value2\"\r\n                                   \\}\r\n                 \\]\r\n           \\}\r\n       \\}\r\n   \\},\r\n   \"images\": \\[\r\n     \\{\r\n           \"as\":\"optional, image for\",\r\n           \"caption\":\"optional\",\r\n           \"height\":10,\r\n           \"width\":10,\r\n           \"imageUrl\":\"http://img-url-required\",\r\n           \"smallImageUrl\":\"http://small-img-url-required\"\r\n     \\}\r\n   \\],\r\n   \"thumbnailUrl\": \"optional, thumbnail url\",\r\n   \"status\": \"ACTIVE\",\r\n   \"itemType\": \"APP(allowed: [APP,COINS,INGAMEITEM,CODE,BUNDLE])\",\r\n   \"name\": \"optional\",\r\n   \"entitlementType\": \"DURABLE(allowed:[DURABLE,CONSUMABLE], should be CONSUMABLE when item type is COINS)\", \r\n   \"useCount\": 1(optional, required if the entitlement type is consumable),\r\n   \"stackable\": false,\r\n   \"appId\": \"optional, required if itemType is APP\",\r\n   \"baseAppId\": \"optional, set value of game app id if you want to link to a game\",\r\n   \"appType\": \"GAME(optional, required if itemType is APP)\",\r\n   \"sku\": \"optional, commonly unique item code\",\r\n   \"targetCurrencyCode\": \"optional, required if itemType is COINS\",\r\n   \"targetNamespace\": \"optional, required when itemType is INGAMEITEM, the targetNamespace will only take effect when the item\r\n   created belongs to the publisher namespace\",\r\n   \"regionData\": \\{\r\n       \"US(store's default region is required)\": \\[\r\n         \\{\r\n            \"price\":10,\r\n            \"discountPercentage\":0(integer, optional, range[0,100], discountedPrice = price\\*((100 - discountPercentage) \\* 0.01),\r\n              if it is not 0, will use it to calculate discounted price),\r\n            \"discountAmount\":0(integer, optional, range[0,itemPrice], will use it to calculate discounted price if discountPercentage is 0),\r\n            \"currencyCode\":\"code(required, example: USD)\",\r\n            \"currencyNamespace\":\"test-ns-required\",\r\n            \"trialPrice\":5(required while fixedTrialCycles set, should >=0 and <= price, will same as price if not present),\r\n            \"purchaseAt\":\"optional yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\",\r\n            \"expireAt\":\"optional yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\",\r\n            \"discountPurchaseAt\":\"optional yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\",\r\n            \"discountExpireAt\":\"optional yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\"\r\n         \\}\r\n       \\]\r\n   \\},\r\n   \"itemIds\": \\[\r\n       \"itemId\"\r\n   \\],\r\n   \"recurring\": \\{\r\n       \"cycle\":\"MONTHLY(allowed: [WEEKLY,MONTHLY,QUARTERLY,YEARLY])\",\r\n       \"fixedFreeDays\":0(integer, fixed free days, 0 means not set),\r\n       \"fixedTrialCycles\":0(integer, fixed trial cycles, 0 means not set, will not take effect if fixedFreeDays set),\r\n       \"graceDays\":7(integer, recurring grace days, retry recurring charge within configured days if charge fail, default 7)\r\n   \\},\r\n   \"tags\": \\[\r\n       \"tag\"\r\n   \\],\r\n   \"features\": \\[\r\n       \"feature\"\r\n   \\],\r\n   \"clazz\": \"weapon\",\r\n   \"boothName\": \"C_campaign1\",\r\n   \"displayOrder\": 1000,\r\n   \"ext\": \\{\r\n       \"properties\":\\[\r\n           \\{\r\n               \"key1\":\"value1\",\r\n               \"key2\":\"value2\"\r\n           \\}\r\n       \\],\r\n       \"functions\":\\[\r\n           \\{\r\n               \"key1\":\"value1\",\r\n               \"key2\":\"value2\"\r\n           \\}\r\n       \\]\r\n   \\},\r\n   \"maxCountPerUser\": 1(integer, optional, -1 means UNLIMITED),\r\n   \"maxCount\": 1(integer, optional, -1 means UNLIMITED, new value should >= old value if both old value and new value is\r\n   limited, unset when item type is CODE)\r\n}</code></pre>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=4 (UPDATE)</li><li><i>Returns</i>: updated item data</li></ul>",
        "operationId": "updateItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ItemUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemInfo"
            }
          },
          "400": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30322</td><td>Bundle item [{itemId}] can't be bundled</td></tr><tr><td>30325</td><td>Code item [{itemId}] can't be bundled</td></tr><tr><td>30326</td><td>Subscription item [{itemId}] can't be bundled</td></tr><tr><td>30021</td><td>Default language [{language}] required</td></tr><tr><td>30321</td><td>Invalid item discount amount</td></tr><tr><td>30022</td><td>Default region [{region}] is required</td></tr><tr><td>30323</td><td>Target namespace is required</td></tr><tr><td>30327</td><td>Invalid item trial price</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr><tr><td>30241</td><td>Category [{categoryPath}] does not exist in namespace [{namespace}]</td></tr><tr><td>36141</td><td>Currency [{currencyCode}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr><tr><td>30371</td><td>Item maxCount not allow reduce</td></tr><tr><td>30372</td><td>ItemType is not updatable</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "4"
        }
      },
      "delete": {
        "tags": [
          "Item"
        ],
        "summary": "Delete an item",
        "description": "This API is used to delete an item permanently, usually for test purpose.<b>DO NOT delete already published item.</b><p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=8 (DELETE)</li></ul>",
        "operationId": "deleteItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete item successfully"
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "8"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/bySku": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Get item by sku",
        "description": "This API is used to get the item by sku.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)<li><i>Returns</i>: the item with sku</li></ul>",
        "operationId": "getItemBySku",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "sku",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30343</td><td>Item of sku [{sku}] does not exist</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/bySku/locale": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Get an item by sku in locale",
        "description": "This API is used to get an item by sku in specific locale. If item not exist in specific region, default region item will return.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)</li><li><i>Returns</i>: item data</li></ul>",
        "operationId": "getLocaleItemBySku",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "name": "populateBundle",
            "in": "query",
            "description": "whether populate bundled items if it's a bundle",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PopulatedItemInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30343</td><td>Item of sku [{sku}] does not exist</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/{itemId}/return": {
      "put": {
        "tags": [
          "Item"
        ],
        "summary": "Return item",
        "description": "<b>[SERVICE COMMUNICATION ONLY]</b> This api is used for returning a published item while the item is maxCount limited, it will increase the sale available count if orderNo already acquired.<br>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=4 (UPDATE)</li></ul>",
        "operationId": "returnItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ItemReturnRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Return item successfully"
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "4"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/{itemId}/features/{feature}": {
      "put": {
        "tags": [
          "Item"
        ],
        "summary": "Feature an item",
        "description": "Add a feature to an item.<br>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=4 (UPDATE)</li><li><i>Returns</i>: updated item</li></ul>",
        "operationId": "featureItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "feature",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "4"
        }
      },
      "delete": {
        "tags": [
          "Item"
        ],
        "summary": "Defeature an item",
        "description": "Remove a feature from an item.<br>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=4 (UPDATE)</li><li><i>Returns</i>: updated item</li></ul>",
        "operationId": "defeatureItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "feature",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "4"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/itemId/bySku": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Get itemId by sku",
        "description": "<b>[SERVICE COMMUNICATION ONLY]</b> This API is used to get the itemId by sku.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)<li><i>Returns</i>: the itemId with sku</li></ul>",
        "operationId": "getItemIdBySku",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "sku",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ItemId"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30343</td><td>Item of sku [{sku}] does not exist</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/byAppId": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Get item by appId",
        "description": "This API is used to get the item by appId.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)<li><i>Returns</i>: the item with that appId</li></ul>",
        "operationId": "getItemByAppId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30342</td><td>Item of appId [{appId}] does not exist</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/uncategorized": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Query uncategorized items",
        "description": "This API is used to query uncategorized items within a store.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)</li><li><i>Returns</i>: the list of uncategorized items</li></ul>",
        "operationId": "queryUncategorizedItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "default is name:asc, allow values: [name, name:asc, name:desc, createdAt, createdAt:asc, createdAt:desc, updatedAt, updatedAt:asc, updatedAt:desc, displayOrder, displayOrder:asc, displayOrder:desc],and support sort group, eg: sortBy=name:asc,createdAt:desc Make sure to always use more than one sort if the first sort is not an unique valuefor example, if you wish to sort by displayOrder, make sure to include other sort such as name or createdAt after the first sort, eg: displayOrder:asc,name:asc",
            "required": false,
            "type": "string",
            "default": "name:asc"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemPagingSlicedResult"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30141</td><td>Store [{storeId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/byCriteria": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Query items by criteria",
        "description": "This API is used to query items by criteria within a store.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)</li><li><i>Returns</i>: the list of items</li></ul>",
        "operationId": "queryItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryPath",
            "in": "query",
            "description": "category path",
            "required": false,
            "type": "string"
          },
          {
            "name": "itemType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "APP",
              "COINS",
              "INGAMEITEM",
              "BUNDLE",
              "CODE",
              "SUBSCRIPTION"
            ]
          },
          {
            "name": "appType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "GAME",
              "SOFTWARE",
              "DLC",
              "DEMO"
            ]
          },
          {
            "name": "baseAppId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags, separate multiple value by commas parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "features",
            "in": "query",
            "description": "features, separate multiple value by commas parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "name": "region",
            "in": "query",
            "description": "exist in region",
            "required": false,
            "type": "string"
          },
          {
            "name": "availableDate",
            "in": "query",
            "description": "allowed format: \\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z , filter date include(purchaseAt, expireAt)",
            "required": false,
            "type": "string"
          },
          {
            "name": "targetNamespace",
            "in": "query",
            "description": "targetNamespace",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "default is name:asc,displayOrder:asc, allow values: [name, name:asc, name:desc, createdAt, createdAt:asc, createdAt:desc, updatedAt, updatedAt:asc, updatedAt:desc, displayOrder, displayOrder:asc, displayOrder:desc],and support sort group, eg: sortBy=name:asc,createdAt:desc. Make sure to always use more than one sort if the first sort is not an unique valuefor example, if you wish to sort by displayOrder, make sure to include other sort such as name or createdAt after the first sort, eg: displayOrder:asc,name:asc",
            "required": false,
            "type": "string",
            "default": "name:asc,displayOrder:asc"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemPagingSlicedResult"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30141</td><td>Store [{storeId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/{itemId}/acquire": {
      "put": {
        "tags": [
          "Item"
        ],
        "summary": "Acquire item",
        "description": "<b>[SERVICE COMMUNICATION ONLY]</b> This api is used for acquiring a published item while the item is maxCount limited, it will decrease the sale available count.<br>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=4 (UPDATE)</li><li><i>Returns</i>: acquire result</li></ul>",
        "operationId": "acquireItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ItemAcquireRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ItemAcquireResult"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "4"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/search": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Search items by keyword",
        "description": "This API is used to search items by keyword in title, description and long description within a store.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)<li><i>Returns</i>: the list of items</li></ul>",
        "operationId": "searchItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemPagingSlicedResult"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/{itemId}/enable": {
      "put": {
        "tags": [
          "Item"
        ],
        "summary": "Enable an item",
        "description": "Enable an item.<br>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=4 (UPDATE)</li><li><i>Returns</i>: updated item</li></ul>",
        "operationId": "enableItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "4"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/locale/byIds": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Bulk get locale items",
        "description": "This API is used to bulk get locale items. If item not exist in specific region, default region item will return.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)</li><li><i>Returns</i>: the list of items info</li></ul>",
        "operationId": "bulkGetLocaleItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "itemIds",
            "in": "query",
            "description": "commas separated item ids",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemInfo"
              }
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/{itemId}/dynamic": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Get item dynamic data",
        "description": "Get item dynamic data for published item.<br>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)</li><li><i>Returns</i>: item dynamic data</li></ul>",
        "operationId": "getItemDynamicData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ItemDynamicDataInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items": {
      "post": {
        "tags": [
          "Item"
        ],
        "summary": "Create an Item",
        "description": "This API is used to create an item. APP item only can created in publisher namespace.<p>An item create example:<p><pre><code>{\r\n   \"categoryPath\": \"/games\",\r\n   \"localizations\": \\{\r\n       \"en\": \\{\r\n           \"title\":\"required\",\r\n           \"description\":\"optional\",\r\n           \"longDescription\":\"optional\",\r\n           \"localExt\": \\{\r\n                  \"properties\":\\[\r\n                                   \\{\r\n                                       \"key1\":\"value1\",\r\n                                       \"key2\":\"value2\"\r\n                                   \\}\r\n                  \\],\r\n                  \"functions\":\\[\r\n                                   \\{\r\n                                       \"key1\":\"value1\",\r\n                                       \"key2\":\"value2\"\r\n                                   \\}\r\n                 \\]\r\n           \\}\r\n        \\}\r\n   \\},\r\n   \"images\": \\[\r\n     \\{\r\n           \"as\":\"optional, image for\",\r\n           \"caption\":\"optional\",\r\n           \"height\":10,\r\n           \"width\":10,\r\n           \"imageUrl\":\"http://img-url-required\",\r\n           \"smallImageUrl\":\"http://small-img-url-required\"\r\n     \\}\r\n   \\],\r\n   \"thumbnailUrl\": \"optional, thumbnail url\",\r\n   \"status\": \"ACTIVE\",\r\n   \"itemType\": \"APP(allowed: [APP,COINS,INGAMEITEM,CODE,BUNDLE])\",\r\n   \"name\": \"required, also will be used as entitlement name\",\r\n   \"entitlementType\": \"DURABLE(allowed:[DURABLE,CONSUMABLE], should be CONSUMABLE when item type is COINS)\", \r\n   \"useCount\": 1(optional, required if the entitlement type is consumable),\r\n   \"stackable\": false,\r\n   \"appId\": \"optional, required if itemType is APP\",\r\n   \"appType\": \"GAME(optional, required if itemType is APP)\",\r\n   \"baseAppId\": \"optional, set value of game app id if you want to link to a game\",\r\n   \"targetCurrencyCode\": \"optional, required if itemType is COINS\",\r\n   \"targetNamespace\": \"optional, required when itemType is INGAMEITEM, the targetNamespace will only take effect when the item\r\n   created belongs to the publisher namespace\",\r\n   \"sku\": \"optional, commonly unique item code\",\r\n   \"regionData\": \\{\r\n       \"US(store's default region is required)\": \\[\r\n         \\{\r\n            \"price\":10,\r\n            \"discountPercentage\": 0(integer, optional, range[0,100], discountedPrice = price  \\* ((100 - discountPercentage) \\* 0.01),\r\n              will use it to calculate discounted price if it is not 0),\r\n            \"discountAmount\":0(integer, optional, range[0,itemPrice], will use it to calculate discounted price if discountPercentage is 0),\r\n            \"currencyCode\":\"code(required, example: USD)\",\r\n            \"currencyNamespace\":\"test-ns-required\",\r\n            \"trialPrice\":5(required while fixedTrialCycles set, should >=0 and <= price, will same as price if not present),\r\n            \"purchaseAt\":\"optional yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\",\r\n            \"expireAt\":\"optional yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\",\r\n            \"discountPurchaseAt\":\"optional yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\",\r\n            \"discountExpireAt\":\"optional yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\"\r\n         \\}\r\n       \\]\r\n   \\},\r\n   \"itemIds\": \\[\r\n       \"itemId\"\r\n   \\],\r\n   \"recurring\": \\{\r\n       \"cycle\":\"MONTHLY(allowed: [WEEKLY,MONTHLY,QUARTERLY,YEARLY])\",\r\n       \"fixedFreeDays\":0(integer, fixed free days, 0 means not set),\r\n       \"fixedTrialCycles\":0(integer, fixed trial cycles, 0 means not set, will not take effect if fixedFreeDays set),\r\n       \"graceDays\":7(integer, recurring grace days, retry recurring charge within configured days if charge fail, default 7)\r\n   \\},\r\n   \"tags\": \\[\r\n       \"tag\"\r\n   \\],\r\n   \"features\": \\[\r\n       \"feature\"\r\n   \\],\r\n   \"clazz\": \"weapon\",\r\n   \"boothName\": \"C_campaign1\",\r\n   \"displayOrder\": 1000,\r\n   \"ext\": \\{\r\n       \"properties\":\\[\r\n           \\{\r\n               \"key1\":\"value1\",\r\n               \"key2\":\"value2\"\r\n           \\}\r\n       \\],\r\n       \"functions\":\\[\r\n           \\{\r\n               \"key1\":\"value1\",\r\n               \"key2\":\"value2\"\r\n           \\}\r\n       \\]\r\n   \\},\r\n   \"maxCountPerUser\": 1(integer, optional, -1 means UNLIMITED),\r\n   \"maxCount\": 1(integer, optional, -1 means UNLIMITED, unset when itemType is CODE)\r\n}</code></pre>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=1 (CREATE)</li><li><i>Returns</i>: created item data</li></ul>",
        "operationId": "createItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ItemCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemInfo"
            }
          },
          "400": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30322</td><td>Bundle item [{itemId}] can't be bundled</td></tr><tr><td>30325</td><td>Code item [{itemId}] can't be bundled</td></tr><tr><td>30326</td><td>Subscription item [{itemId}] can't be bundled</td></tr><tr><td>30021</td><td>Default language [{language}] required</td></tr><tr><td>30321</td><td>Invalid item discount amount</td></tr><tr><td>30022</td><td>Default region [{region}] is required</td></tr><tr><td>30323</td><td>Target namespace is required</td></tr><tr><td>30327</td><td>Invalid item trial price</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30241</td><td>Category [{categoryPath}] does not exist in namespace [{namespace}]</td></tr><tr><td>36141</td><td>Currency [{currencyCode}] does not exist in namespace [{namespace}]</td></tr><tr><td>30141</td><td>Store [{storeId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr><tr><td>30373</td><td>ItemType [{itemType}] is not allowed in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "1"
        }
      },
      "put": {
        "tags": [
          "Item"
        ],
        "summary": "Sync an in game item",
        "description": "This API is used to sync an in game item in game namespace to publisher namespace, at current BUNDLE can't be synced.<p>The synced item has an additional field targetItemId besides targetNamespace, mostly this item should not modified manually again. <p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=4 (UPDATE)</li><li><i>Returns</i>: item data</li></ul>",
        "operationId": "syncInGameItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/InGameItemSync"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemInfo"
            }
          },
          "400": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30021</td><td>Default language [{language}] required</td></tr><tr><td>30022</td><td>Default region [{region}] is required</td></tr><tr><td>30324</td><td>Invalid namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30241</td><td>Category [{categoryPath}] does not exist in namespace [{namespace}]</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr><tr><td>30141</td><td>Store [{storeId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr><tr><td>30373</td><td>ItemType [{itemType}] is not allowed in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "4"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/{itemId}/locale": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Get an item in locale",
        "description": "This API is used to get an item in specific locale. If item not exist in specific region, default region item will return.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)</li><li><i>Returns</i>: item data</li></ul>",
        "operationId": "getLocaleItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "default is published store id",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "name": "populateBundle",
            "in": "query",
            "description": "whether populate bundled items if it's a bundle",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PopulatedItemInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/byFeatures/basic": {
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "List basic items by features",
        "description": "<b>[SERVICE COMMUNICATION ONLY]</b> This API is used to list basic items by features.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=2 (READ)</li><li><i>Returns</i>: the list of basic items</li></ul>",
        "operationId": "listBasicItemsByFeatures",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "features",
            "in": "query",
            "description": "features",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BasicItem"
              }
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/items/{itemId}/disable": {
      "put": {
        "tags": [
          "Item"
        ],
        "summary": "Disable an item",
        "description": "Disable an item.<br>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:ITEM\", action=4 (UPDATE)</li><li><i>Returns</i>: updated item</li></ul>",
        "operationId": "disableItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FullItemInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30341</td><td>Item [{itemId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:ITEM",
          "action": "4"
        }
      }
    },
    "/admin/namespaces/{namespace}/stores/published/backup": {
      "get": {
        "tags": [
          "Store"
        ],
        "summary": "Get a published store's backup",
        "description": "This API is used to get a store's backup. <p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:STORE\", action=2 (READ)</li><li><i>Returns</i>: store backup info</li></ul>",
        "operationId": "getPublishedStoreBackup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreBackupInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30142</td><td>Published store does not exist in namespace [{namespace}]</td></tr><tr><td>30143</td><td>Published store [{storeId}] backup doest not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:STORE",
          "action": "2"
        }
      }
    },
    "/admin/namespaces/{namespace}/stores/{storeId}": {
      "get": {
        "tags": [
          "Store"
        ],
        "summary": "Get a store",
        "description": "This API is used to get a store.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:STORE\", action=2 (READ)</li><li><i>Returns</i>: store data</li></ul>",
        "operationId": "getStore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30141</td><td>Store [{storeId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:STORE",
          "action": "2"
        }
      },
      "put": {
        "tags": [
          "Store"
        ],
        "summary": "Update a store",
        "description": "This API is used to Update a store basic info.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:STORE\", action=4 (UPDATE)</li><li><i>Returns</i>: updated store data</li></ul>",
        "operationId": "updateStore",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StoreUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30141</td><td>Store [{storeId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30171</td><td>Store [{store}] can't change default language to [{language}]</td></tr><tr><td>30172</td><td>Store [{store}] can't change default region to [{region}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:STORE",
          "action": "4"
        }
      },
      "delete": {
        "tags": [
          "Store"
        ],
        "summary": "Delete a store",
        "description": "This API is used to delete a store. Only non published store can be deleted.<br>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:STORE\", action=8 (DELETE)</li><li><i>Returns</i>: store</li></ul>",
        "operationId": "deleteStore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30141</td><td>Store [{storeId}] does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30173</td><td>Published store can't modify content</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:STORE",
          "action": "8"
        }
      }
    },
    "/admin/namespaces/{namespace}/stores": {
      "get": {
        "tags": [
          "Store"
        ],
        "summary": "List stores",
        "description": "This API is used to list stores in a namespace.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:STORE\", action=2 (READ)</li><li><i>Returns</i>: the list of stores</li></ul>",
        "operationId": "listStores",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StoreInfo"
              }
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:STORE",
          "action": "2"
        }
      },
      "post": {
        "tags": [
          "Store"
        ],
        "summary": "Create a store",
        "description": "This API is used to create a non published store in a namespace.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:STORE\", action=1 (CREATE)</li><li><i>Returns</i>: created store data</li></ul>",
        "operationId": "createStore",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StoreCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreInfo"
            }
          },
          "422": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>20002</td><td>validation error</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:STORE",
          "action": "1"
        }
      }
    },
    "/admin/namespaces/{namespace}/stores/published": {
      "get": {
        "tags": [
          "Store"
        ],
        "summary": "Get published store",
        "description": "This API is used to get a published store basic info, exclude category and item information.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:STORE\", action=2 (READ)</li><li><i>Returns</i>: store data</li></ul>",
        "operationId": "getPublishedStore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30142</td><td>Published store does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:STORE",
          "action": "2"
        }
      },
      "delete": {
        "tags": [
          "Store"
        ],
        "summary": "Delete published store",
        "description": "This API is used to delete published store including category and items before release to public.<p><b>Warning: Please do not use this API once published to public user.</b><p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:STORE\", action=8 (DELETE)</li></ul>",
        "operationId": "deletePublishedStore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Namespace",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreInfo"
            }
          },
          "404": {
            "description": "<table><tr><td>ErrorCode</td><td>ErrorMessage</td></tr><tr><td>30142</td><td>Published store does not exist in namespace [{namespace}]</td></tr></table>",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "x-authorization": {
          "resource": "ADMIN:NAMESPACE:{namespace}:STORE",
          "action": "8"
        }
      }
    },
    "/admin/namespaces/{namespace}/stores/{storeId}/clone": {
      "put": {
        "tags": [
          "Store"
        ],
        "summary": "Clone a store",
        "description": "This API is used to clone a store. Usually clone a draft store to published store because published store can't directly edit content.<p>Other detail info: <ul><li><i>Required permission</i>: resource=\"ADMIN:NAMESPACE:{namespace}:STORE\", action=1 (CREATE)</li><li><i>Returns</i>: clone store info</li></ul>",
        "operationId": "cloneStore",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetStoreId",
            "in": "query",
            "description": "default is published store",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreInfo"
            }
[...]
