## Achievement
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|AdminCreateNewAchievement|||
|✔|AdminDeleteAchievement|||
|✔|AdminGetAchievement|||
|✔|AdminListAchievements|||
|✔|AdminUpdateAchievement|||

## Basic
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|CreateMyProfile|||
|✔|AdminDeleteAchievement|||
|✔|PublicGetUserProfileInfo|||
|✔|PublicUpdateUserProfile|||

## CloudSave
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|PostGameRecordHandlerV1|||
|✔|AdminDeleteAchievement|||
|✔|PublicGetUserProfileInfo|||
|✔|PublicUpdateUserProfile|||

## DSLogManager
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|ListTerminatedServers|||

## DSMC
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|CreateSession|||
|✔|ClaimServer|||
|✔|GetSession|||

## EventLog
| status | operation-id | error | permissions |
|-|-|-|-|
|x|QueryEventStreamHandler||| ---> Fixme: is not supported by the TextConsumer, can be resolved by supporting TextUnmarshaler interface
|x|GetEventSpecificUserV2Handler||| ---> Fixme: is not supported by the TextConsumer, can be resolved by supporting TextUnmarshaler interface

## GDPR
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|SaveAdminEmailConfiguration|||
|✔|DeleteAdminEmailConfiguration|||
|✔|GetAdminEmailConfiguration|||
|✔|UpdateAdminEmailConfiguration|||

## Group
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|CreateNewGroupPublicV1|||
|✔|DeleteGroupPublicV1|||
|✔|GetSingleGroupPublicV1|||
|✔|UpdateSingleGroupPublicV1|||

## IAM
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|AuthorizeV3|||
|✔|Authenticate|||
|✔|TokenGrantV3|||
|✔|Login|||
|✔|Logout|||

## Leaderboard
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|CreateLeaderboardConfigurationAdminV1|||
|✔|DeleteLeaderboardConfigurationAdminV1|||
|✔|GetLeaderboardConfigurationAdminV1|||
|✔|UpdateLeaderboardConfigurationAdminV1|||

## Legal
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|BulkAcceptVersionedPolicy|||
|✔|RetrieveAgreementsPublic|||
|✔|ChangePreferenceConsent|||

## Lobby
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|GetNotificationMessage|||
|✔|GetOfflineNotification|||

## Matchmaking
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|CreateChannelHandler|||
|✔|DeleteChannelHandler|||
|✔|GetSingleMatchmakingChannel|||
|✔|UpdateMatchmakingChannel|||

## Platform
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|CreateStore|||
|✔|DeleteStore|||
|✔|GetStore|||
|✔|UpdateStore|||

## SessionBrowser
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|CreateSession|||
|✔|DeleteSession|||
|✔|GetSession|||
|✔|UpdateSession|||

## Social
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|CreateStat|||
|✔|DeleteStat|||
|✔|GetStat|||
|✔|GetStats|||
|✔|QueryStats|||
|✔|UpdateStat|||

## UGC
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|AdminCreateTag|||
|✔|AdminDeleteTag|||
|✔|AdminGetTag|||
|✔|AdminUpdateTag|||
