## Achievement
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|AdminCreateNewAchievement|||
|✔|AdminDeleteAchievement|||
|✔|AdminGetAchievement|||
|✔|AdminListAchievements|||
|✔|AdminUpdateAchievement|||

## Basic
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|CreateMyProfile|||
|✔|AdminDeleteAchievement|||
|✔|PublicGetUserProfileInfo|||
|✔|PublicUpdateUserProfile|||

## CloudSave
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|PostGameRecordHandlerV1|||
|✔|AdminDeleteAchievement|||
|✔|PublicGetUserProfileInfo|||
|✔|PublicUpdateUserProfile|||

## DSLogManager
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|ListTerminatedServers|||

## DSMC
| status | operation-id | error | permissions |
|-|-|-|-|
|x|CreateSession|||
|x|ClaimServer|||
|x|GetSession|||

## EventLog
| status | operation-id | error | permissions |
|-|-|-|-|
|x|CreateSession|||
|x|ClaimServer|||
|x|GetSession|||

## GDPR
| status | operation-id | error | permissions |
|-|-|-|-|
|x|SaveAdminEmailConfiguration|||
|x|DeleteAdminEmailConfiguration|||
|✔|GetAdminEmailConfiguration|||
|x|UpdateAdminEmailConfiguration|||

## Group
| status | operation-id | error | permissions |
|-|-|-|-|
|x|CreateNewGroupPublicV1|||
|x|DeleteGroupPublicV1|||
|x|GetSingleGroupPublicV1|||
|x|UpdateSingleGroupPublicV1|||

## IAM
| status | operation-id | error | permissions |
|-|-|-|-|
|✔|AuthorizeV3|||
|✔|Authenticate|||
|✔|TokenGrantV3|||
|✔|Login|||
|✔|Logout|||

## Leaderboard
| status | operation-id | error | permissions |
|-|-|-|-|
|x|CreateLeaderboardConfigurationAdminV1|||
|x|DeleteLeaderboardConfigurationAdminV1|||
|✔|GetLeaderboardConfigurationAdminV1|||
|x|UpdateLeaderboardConfigurationAdminV1|||

## Legal
| status | operation-id | error | permissions |
|-|-|-|-|
|x|BulkAcceptVersionedPolicy|||
|x|RetrieveAgreementsPublic|||
|x|ChangePreferenceConsent|||

## Lobby
| status | operation-id | error | permissions |
|-|-|-|-|
|x|GetNotificationMessage|||
|x|GetOfflineNotifucation|||

## Matchmaking
| status | operation-id | error | permissions |
|-|-|-|-|
|x|AddUserIntoSessionInChannel|||
|x|DeleteUserFromSessionInChannel|||
|x|GetSingleMatchmakingChannel|||
|x|UpdateMatchmakingChannel|||

## Platform
| status | operation-id | error | permissions |
|-|-|-|-|
|x|CreateStore|||
|x|DeleteStore|||
|x|GetStore|||
|x|UpdateStore|||

## SessionBrowser
| status | operation-id | error | permissions |
|-|-|-|-|
|x|CreateSession|||
|x|DeleteSession|||
|x|GetSession|||
|x|UpdateSession|||

## Social
| status | operation-id | error | permissions |
|-|-|-|-|
|x|CreateStat|||
|x|DeleteStat|||
|x|GetStat|||
|x|GetStats|||
|x|QueryStats|||
|x|UpdateStat|||

## UGC
| status | operation-id | error | permissions |
|-|-|-|-|
|x|AdminCreateTag|||
|x|AdminDeleteTag|||
|x|AdminUpdateTag|||
