# Test Results

```tap
sh/run-go-cli-dsmc-unit-test.sh

TAP version 13
1..63
not ok 1 - listConfig
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 68: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 68: $: command not found
ok 2 saveConfig (skipped deprecated)
not ok 3 - updateImage
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 77: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 77: $: command not found
not ok 4 - createImage
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 84: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 84: $: command not found
not ok 5 - importImages
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 91: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 91: $: command not found
not ok 6 - getConfig
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 98: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 98: $: command not found
not ok 7 - createConfig
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 105: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 105: $: command not found
not ok 8 - deleteConfig
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 113: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 113: $: command not found
not ok 9 - updateConfig
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 120: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 120: $: command not found
not ok 10 - clearCache
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 128: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 128: $: command not found
not ok 11 - getAllDeployment
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 135: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 135: $: command not found
not ok 12 - getDeployment
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 144: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 144: $: command not found
not ok 13 - createDeployment
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 152: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 152: $: command not found
not ok 14 - deleteDeployment
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 161: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 161: $: command not found
not ok 15 - updateDeployment
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 169: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 169: $: command not found
not ok 16 - createRootRegionOverride
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 178: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 178: $: command not found
not ok 17 - deleteRootRegionOverride
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 188: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 188: $: command not found
not ok 18 - updateRootRegionOverride
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 197: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 197: $: command not found
not ok 19 - createDeploymentOverride
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 207: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 207: $: command not found
not ok 20 - deleteDeploymentOverride
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 217: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 217: $: command not found
not ok 21 - updateDeploymentOverride
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 226: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 226: $: command not found
not ok 22 - createOverrideRegionOverride
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 236: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 236: $: command not found
not ok 23 - deleteOverrideRegionOverride
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 247: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 247: $: command not found
not ok 24 - updateOverrideRegionOverride
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 257: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 257: $: command not found
not ok 25 - getAllPodConfig
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 268: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 268: $: command not found
not ok 26 - getPodConfig
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 277: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 277: $: command not found
not ok 27 - createPodConfig
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 285: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 285: $: command not found
not ok 28 - deletePodConfig
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 294: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 294: $: command not found
not ok 29 - updatePodConfig
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 302: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 302: $: command not found
not ok 30 - addPort
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 311: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 311: $: command not found
not ok 31 - deletePort
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 320: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 320: $: command not found
not ok 32 - updatePort
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 328: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 328: $: command not found
not ok 33 - listImages
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 337: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 337: $: command not found
not ok 34 - deleteImage
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 349: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 349: $: command not found
not ok 35 - exportImages
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 358: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 358: $: command not found
not ok 36 - getImageLimit
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 365: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 365: $: command not found
not ok 37 - getImageDetail
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 372: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 372: $: command not found
not ok 38 - listServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 380: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 380: $: command not found
not ok 39 - countServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 390: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 390: $: command not found
not ok 40 - countServerDetailed
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 397: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 397: $: command not found
not ok 41 - listLocalServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 405: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 405: $: command not found
not ok 42 - deleteLocalServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 412: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 412: $: command not found
not ok 43 - getServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 420: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 420: $: command not found
not ok 44 - deleteServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 428: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 428: $: command not found
not ok 45 - getServerLogs
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 436: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 436: $: command not found
not ok 46 - listSession
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 444: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 444: $: command not found
not ok 47 - countSession
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 455: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 455: $: command not found
not ok 48 - deleteSession
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 463: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 463: $: command not found
not ok 49 - exportConfigV1
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 471: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 471: $: command not found
not ok 50 - importConfigV1
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 478: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 478: $: command not found
not ok 51 - imageDetailClient
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 486: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 486: $: command not found
not ok 52 - deregisterLocalServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 494: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 494: $: command not found
not ok 53 - registerLocalServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 502: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 502: $: command not found
not ok 54 - registerServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 510: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 510: $: command not found
not ok 55 - shutdownServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 518: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 518: $: command not found
not ok 56 - getServerSession
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 526: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 526: $: command not found
not ok 57 - createSession
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 534: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 534: $: command not found
not ok 58 - claimServer
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 542: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 542: $: command not found
not ok 59 - getSession
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 550: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 550: $: command not found
not ok 60 - getDefaultProvider
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 558: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 558: $: command not found
not ok 61 - listProviders
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 564: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 564: $: command not found
not ok 62 - listProvidersByRegion
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 570: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 570: $: command not found
not ok 63 - publicGetMessages
  ---
  error: |-
    sh/run-go-cli-dsmc-unit-test.sh: line 577: $: command not found sh/run-go-cli-dsmc-unit-test.sh: line 577: $: command not found
```

```tap
sh/run-go-cli-achievement-unit-test.sh

TAP version 13
1..14
not ok 1 - adminListAchievements
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 68: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 68: $: command not found
not ok 2 - adminCreateNewAchievement
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 78: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 78: $: command not found
not ok 3 - exportAchievements
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 86: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 86: $: command not found
not ok 4 - importAchievements
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 93: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 93: $: command not found
not ok 5 - adminGetAchievement
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 102: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 102: $: command not found
not ok 6 - adminUpdateAchievement
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 110: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 110: $: command not found
not ok 7 - adminDeleteAchievement
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 119: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 119: $: command not found
not ok 8 - adminUpdateAchievementListOrder
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 127: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 127: $: command not found
not ok 9 - adminListUserAchievements
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 136: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 136: $: command not found
not ok 10 - adminUnlockAchievement
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 147: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 147: $: command not found
not ok 11 - publicListAchievements
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 156: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 156: $: command not found
not ok 12 - publicGetAchievement
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 167: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 167: $: command not found
not ok 13 - publicListUserAchievements
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 176: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 176: $: command not found
not ok 14 - publicUnlockAchievement
  ---
  error: |-
    sh/run-go-cli-achievement-unit-test.sh: line 187: $: command not found sh/run-go-cli-achievement-unit-test.sh: line 187: $: command not found
```

```tap
sh/run-go-cli-iam-unit-test.sh

TAP version 13
1..270
not ok 1 - getBansType
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 68: $: command not found sh/run-go-cli-iam-unit-test.sh: line 68: $: command not found
not ok 2 - getListBanReason
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 74: $: command not found sh/run-go-cli-iam-unit-test.sh: line 74: $: command not found
ok 3 getClients (skipped deprecated)
ok 4 createClient (skipped deprecated)
not ok 5 - getClient
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 86: $: command not found sh/run-go-cli-iam-unit-test.sh: line 86: $: command not found
not ok 6 - updateClient
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 93: $: command not found sh/run-go-cli-iam-unit-test.sh: line 93: $: command not found
ok 7 deleteClient (skipped deprecated)
not ok 8 - updateClientPermission
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 104: $: command not found sh/run-go-cli-iam-unit-test.sh: line 104: $: command not found
not ok 9 - addClientPermission
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 112: $: command not found sh/run-go-cli-iam-unit-test.sh: line 112: $: command not found
not ok 10 - deleteClientPermission
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 121: $: command not found sh/run-go-cli-iam-unit-test.sh: line 121: $: command not found
not ok 11 - updateClientSecret
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 130: $: command not found sh/run-go-cli-iam-unit-test.sh: line 130: $: command not found
not ok 12 - getClientsbyNamespace
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 138: $: command not found sh/run-go-cli-iam-unit-test.sh: line 138: $: command not found
not ok 13 - createClientByNamespace
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 145: $: command not found sh/run-go-cli-iam-unit-test.sh: line 145: $: command not found
not ok 14 - deleteClientByNamespace
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 153: $: command not found sh/run-go-cli-iam-unit-test.sh: line 153: $: command not found
not ok 15 - createUser
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 161: $: command not found sh/run-go-cli-iam-unit-test.sh: line 161: $: command not found
not ok 16 - getAdminUsersByRoleID
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 169: $: command not found sh/run-go-cli-iam-unit-test.sh: line 169: $: command not found
not ok 17 - getUserByLoginID
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 180: $: command not found sh/run-go-cli-iam-unit-test.sh: line 180: $: command not found
not ok 18 - getUserByPlatformUserID
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 188: $: command not found sh/run-go-cli-iam-unit-test.sh: line 188: $: command not found
not ok 19 - forgotPassword
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 197: $: command not found sh/run-go-cli-iam-unit-test.sh: line 197: $: command not found
not ok 20 - getUsersByLoginIds
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 205: $: command not found sh/run-go-cli-iam-unit-test.sh: line 205: $: command not found
not ok 21 - resetPassword
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 213: $: command not found sh/run-go-cli-iam-unit-test.sh: line 213: $: command not found
ok 22 searchUser (skipped deprecated)
not ok 23 - getUserByUserID
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 224: $: command not found sh/run-go-cli-iam-unit-test.sh: line 224: $: command not found
not ok 24 - updateUser
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 232: $: command not found sh/run-go-cli-iam-unit-test.sh: line 232: $: command not found
not ok 25 - deleteUser
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 241: $: command not found sh/run-go-cli-iam-unit-test.sh: line 241: $: command not found
not ok 26 - banUser
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 249: $: command not found sh/run-go-cli-iam-unit-test.sh: line 249: $: command not found
not ok 27 - getUserBanHistory
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 258: $: command not found sh/run-go-cli-iam-unit-test.sh: line 258: $: command not found
not ok 28 - disableUserBan
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 266: $: command not found sh/run-go-cli-iam-unit-test.sh: line 266: $: command not found
not ok 29 - enableUserBan
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 275: $: command not found sh/run-go-cli-iam-unit-test.sh: line 275: $: command not found
ok 30 listCrossNamespaceAccountLink (skipped deprecated)
ok 31 disableUser (skipped deprecated)
ok 32 enableUser (skipped deprecated)
not ok 33 - getUserInformation
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 293: $: command not found sh/run-go-cli-iam-unit-test.sh: line 293: $: command not found
not ok 34 - deleteUserInformation
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 301: $: command not found sh/run-go-cli-iam-unit-test.sh: line 301: $: command not found
not ok 35 - getUserLoginHistories
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 309: $: command not found sh/run-go-cli-iam-unit-test.sh: line 309: $: command not found
ok 36 updatePassword (skipped deprecated)
not ok 37 - saveUserPermission
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 323: $: command not found sh/run-go-cli-iam-unit-test.sh: line 323: $: command not found
not ok 38 - addUserPermission
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 332: $: command not found sh/run-go-cli-iam-unit-test.sh: line 332: $: command not found
not ok 39 - deleteUserPermission
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 343: $: command not found sh/run-go-cli-iam-unit-test.sh: line 343: $: command not found
not ok 40 - getUserPlatformAccounts
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 353: $: command not found sh/run-go-cli-iam-unit-test.sh: line 353: $: command not found
not ok 41 - getUserMapping
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 361: $: command not found sh/run-go-cli-iam-unit-test.sh: line 361: $: command not found
ok 42 getUserJusticePlatformAccount (skipped deprecated)
not ok 43 - platformLink
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 373: $: command not found sh/run-go-cli-iam-unit-test.sh: line 373: $: command not found
not ok 44 - platformUnlink
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 383: $: command not found sh/run-go-cli-iam-unit-test.sh: line 383: $: command not found
not ok 45 - getPublisherUser
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 393: $: command not found sh/run-go-cli-iam-unit-test.sh: line 393: $: command not found
not ok 46 - saveUserRoles
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 401: $: command not found sh/run-go-cli-iam-unit-test.sh: line 401: $: command not found
not ok 47 - addUserRole
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 410: $: command not found sh/run-go-cli-iam-unit-test.sh: line 410: $: command not found
not ok 48 - deleteUserRole
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 419: $: command not found sh/run-go-cli-iam-unit-test.sh: line 419: $: command not found
not ok 49 - upgradeHeadlessAccount
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 428: $: command not found sh/run-go-cli-iam-unit-test.sh: line 428: $: command not found
not ok 50 - upgradeHeadlessAccountWithVerificationCode
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 437: $: command not found sh/run-go-cli-iam-unit-test.sh: line 437: $: command not found
not ok 51 - userVerification
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 446: $: command not found sh/run-go-cli-iam-unit-test.sh: line 446: $: command not found
not ok 52 - sendVerificationCode
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 455: $: command not found sh/run-go-cli-iam-unit-test.sh: line 455: $: command not found
not ok 53 - authorization
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 464: $: command not found sh/run-go-cli-iam-unit-test.sh: line 464: $: command not found
not ok 54 - getJWKS
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 477: $: command not found sh/run-go-cli-iam-unit-test.sh: line 477: $: command not found
ok 55 platformTokenRequestHandler (skipped deprecated)
not ok 56 - revokeUser
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 486: $: command not found sh/run-go-cli-iam-unit-test.sh: line 486: $: command not found
not ok 57 - getRevocationList
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 494: $: command not found sh/run-go-cli-iam-unit-test.sh: line 494: $: command not found
ok 58 revokeToken (skipped deprecated)
ok 59 revokeAUser (skipped deprecated)
not ok 60 - tokenGrant
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 506: $: command not found sh/run-go-cli-iam-unit-test.sh: line 506: $: command not found
not ok 61 - verifyToken
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 521: $: command not found sh/run-go-cli-iam-unit-test.sh: line 521: $: command not found
not ok 62 - getRoles
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 528: $: command not found sh/run-go-cli-iam-unit-test.sh: line 528: $: command not found
not ok 63 - createRole
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 535: $: command not found sh/run-go-cli-iam-unit-test.sh: line 535: $: command not found
not ok 64 - getRole
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 542: $: command not found sh/run-go-cli-iam-unit-test.sh: line 542: $: command not found
not ok 65 - updateRole
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 549: $: command not found sh/run-go-cli-iam-unit-test.sh: line 549: $: command not found
not ok 66 - deleteRole
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 557: $: command not found sh/run-go-cli-iam-unit-test.sh: line 557: $: command not found
not ok 67 - getRoleAdminStatus
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 564: $: command not found sh/run-go-cli-iam-unit-test.sh: line 564: $: command not found
not ok 68 - setRoleAsAdmin
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 571: $: command not found sh/run-go-cli-iam-unit-test.sh: line 571: $: command not found
not ok 69 - removeRoleAdmin
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 578: $: command not found sh/run-go-cli-iam-unit-test.sh: line 578: $: command not found
not ok 70 - getRoleManagers
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 585: $: command not found sh/run-go-cli-iam-unit-test.sh: line 585: $: command not found
not ok 71 - addRoleManagers
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 592: $: command not found sh/run-go-cli-iam-unit-test.sh: line 592: $: command not found
not ok 72 - removeRoleManagers
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 600: $: command not found sh/run-go-cli-iam-unit-test.sh: line 600: $: command not found
not ok 73 - getRoleMembers
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 608: $: command not found sh/run-go-cli-iam-unit-test.sh: line 608: $: command not found
not ok 74 - addRoleMembers
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 615: $: command not found sh/run-go-cli-iam-unit-test.sh: line 615: $: command not found
not ok 75 - removeRoleMembers
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 623: $: command not found sh/run-go-cli-iam-unit-test.sh: line 623: $: command not found
not ok 76 - updateRolePermissions
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 631: $: command not found sh/run-go-cli-iam-unit-test.sh: line 631: $: command not found
not ok 77 - addRolePermission
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 639: $: command not found sh/run-go-cli-iam-unit-test.sh: line 639: $: command not found
not ok 78 - deleteRolePermission
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 649: $: command not found sh/run-go-cli-iam-unit-test.sh: line 649: $: command not found
not ok 79 - adminGetAgeRestrictionStatusV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 658: $: command not found sh/run-go-cli-iam-unit-test.sh: line 658: $: command not found
not ok 80 - adminUpdateAgeRestrictionConfigV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 665: $: command not found sh/run-go-cli-iam-unit-test.sh: line 665: $: command not found
not ok 81 - getListCountryAgeRestriction
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 673: $: command not found sh/run-go-cli-iam-unit-test.sh: line 673: $: command not found
not ok 82 - updateCountryAgeRestriction
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 680: $: command not found sh/run-go-cli-iam-unit-test.sh: line 680: $: command not found
not ok 83 - adminSearchUsersV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 689: $: command not found sh/run-go-cli-iam-unit-test.sh: line 689: $: command not found
not ok 84 - adminGetUserByUserIdV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 705: $: command not found sh/run-go-cli-iam-unit-test.sh: line 705: $: command not found
not ok 85 - adminUpdateUserV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 713: $: command not found sh/run-go-cli-iam-unit-test.sh: line 713: $: command not found
not ok 86 - adminBanUserV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 722: $: command not found sh/run-go-cli-iam-unit-test.sh: line 722: $: command not found
not ok 87 - adminGetUserBanV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 731: $: command not found sh/run-go-cli-iam-unit-test.sh: line 731: $: command not found
not ok 88 - adminDisableUserV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 740: $: command not found sh/run-go-cli-iam-unit-test.sh: line 740: $: command not found
not ok 89 - adminEnableUserV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 749: $: command not found sh/run-go-cli-iam-unit-test.sh: line 749: $: command not found
not ok 90 - adminResetPasswordV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 757: $: command not found sh/run-go-cli-iam-unit-test.sh: line 757: $: command not found
not ok 91 - adminDeletePlatformLinkV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 766: $: command not found sh/run-go-cli-iam-unit-test.sh: line 766: $: command not found
not ok 92 - adminPutUserRolesV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 776: $: command not found sh/run-go-cli-iam-unit-test.sh: line 776: $: command not found
not ok 93 - adminCreateUserRolesV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 785: $: command not found sh/run-go-cli-iam-unit-test.sh: line 785: $: command not found
not ok 94 - publicCreateUserV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 794: $: command not found sh/run-go-cli-iam-unit-test.sh: line 794: $: command not found
not ok 95 - publicForgotPasswordV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 802: $: command not found sh/run-go-cli-iam-unit-test.sh: line 802: $: command not found
not ok 96 - publicResetPasswordV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 810: $: command not found sh/run-go-cli-iam-unit-test.sh: line 810: $: command not found
not ok 97 - publicGetUserByUserIDV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 818: $: command not found sh/run-go-cli-iam-unit-test.sh: line 818: $: command not found
not ok 98 - publicUpdateUserV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 826: $: command not found sh/run-go-cli-iam-unit-test.sh: line 826: $: command not found
not ok 99 - publicGetUserBan
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 835: $: command not found sh/run-go-cli-iam-unit-test.sh: line 835: $: command not found
not ok 100 - publicUpdatePasswordV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 844: $: command not found sh/run-go-cli-iam-unit-test.sh: line 844: $: command not found
not ok 101 - getListJusticePlatformAccounts
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 853: $: command not found sh/run-go-cli-iam-unit-test.sh: line 853: $: command not found
not ok 102 - publicPlatformLinkV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 861: $: command not found sh/run-go-cli-iam-unit-test.sh: line 861: $: command not found
not ok 103 - publicDeletePlatformLinkV2
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 871: $: command not found sh/run-go-cli-iam-unit-test.sh: line 871: $: command not found
not ok 104 - adminGetBansTypeV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 881: $: command not found sh/run-go-cli-iam-unit-test.sh: line 881: $: command not found
not ok 105 - adminGetListBanReasonV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 887: $: command not found sh/run-go-cli-iam-unit-test.sh: line 887: $: command not found
not ok 106 - adminGetInputValidations
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 893: $: command not found sh/run-go-cli-iam-unit-test.sh: line 893: $: command not found
not ok 107 - adminUpdateInputValidations
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 899: $: command not found sh/run-go-cli-iam-unit-test.sh: line 899: $: command not found
not ok 108 - adminResetInputValidations
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 906: $: command not found sh/run-go-cli-iam-unit-test.sh: line 906: $: command not found
not ok 109 - listAdminsV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 913: $: command not found sh/run-go-cli-iam-unit-test.sh: line 913: $: command not found
not ok 110 - adminGetAgeRestrictionStatusV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 923: $: command not found sh/run-go-cli-iam-unit-test.sh: line 923: $: command not found
not ok 111 - adminUpdateAgeRestrictionConfigV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 930: $: command not found sh/run-go-cli-iam-unit-test.sh: line 930: $: command not found
not ok 112 - adminGetListCountryAgeRestrictionV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 938: $: command not found sh/run-go-cli-iam-unit-test.sh: line 938: $: command not found
not ok 113 - adminUpdateCountryAgeRestrictionV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 945: $: command not found sh/run-go-cli-iam-unit-test.sh: line 945: $: command not found
not ok 114 - adminGetBannedUsersV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 954: $: command not found sh/run-go-cli-iam-unit-test.sh: line 954: $: command not found
not ok 115 - adminGetBansTypeWithNamespaceV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 965: $: command not found sh/run-go-cli-iam-unit-test.sh: line 965: $: command not found
not ok 116 - adminGetClientsByNamespaceV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 972: $: command not found sh/run-go-cli-iam-unit-test.sh: line 972: $: command not found
not ok 117 - adminCreateClientV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 981: $: command not found sh/run-go-cli-iam-unit-test.sh: line 981: $: command not found
not ok 118 - adminGetClientsbyNamespacebyIDV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 989: $: command not found sh/run-go-cli-iam-unit-test.sh: line 989: $: command not found
not ok 119 - adminDeleteClientV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 997: $: command not found sh/run-go-cli-iam-unit-test.sh: line 997: $: command not found
not ok 120 - adminUpdateClientV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1005: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1005: $: command not found
not ok 121 - adminUpdateClientPermissionV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1014: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1014: $: command not found
not ok 122 - adminAddClientPermissionsV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1023: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1023: $: command not found
not ok 123 - adminDeleteClientPermissionV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1032: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1032: $: command not found
not ok 124 - retrieveAllThirdPartyLoginPlatformCredentialV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1042: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1042: $: command not found
not ok 125 - retrieveAllActiveThirdPartyLoginPlatformCredentialV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1049: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1049: $: command not found
not ok 126 - retrieveAllSSOLoginPlatformCredentialV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1056: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1056: $: command not found
not ok 127 - retrieveThirdPartyLoginPlatformCredentialV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1065: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1065: $: command not found
not ok 128 - addThirdPartyLoginPlatformCredentialV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1073: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1073: $: command not found
not ok 129 - deleteThirdPartyLoginPlatformCredentialV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1082: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1082: $: command not found
not ok 130 - updateThirdPartyLoginPlatformCredentialV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1090: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1090: $: command not found
not ok 131 - updateThirdPartyLoginPlatformDomainV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1099: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1099: $: command not found
not ok 132 - deleteThirdPartyLoginPlatformDomainV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1108: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1108: $: command not found
not ok 133 - retrieveSSOLoginPlatformCredential
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1117: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1117: $: command not found
not ok 134 - addSSOLoginPlatformCredential
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1125: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1125: $: command not found
not ok 135 - deleteSSOLoginPlatformCredentialV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1134: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1134: $: command not found
not ok 136 - updateSSOPlatformCredential
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1142: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1142: $: command not found
not ok 137 - adminGetUserByPlatformUserIDV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1151: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1151: $: command not found
not ok 138 - getAdminUsersByRoleIdV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1160: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1160: $: command not found
not ok 139 - adminGetUserByEmailAddressV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1171: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1171: $: command not found
not ok 140 - adminListUserIDByUserIDsV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1179: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1179: $: command not found
not ok 141 - adminInviteUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1187: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1187: $: command not found
not ok 142 - adminListUsersV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1195: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1195: $: command not found
not ok 143 - adminSearchUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1204: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1204: $: command not found
not ok 144 - adminGetBulkUserByEmailAddressV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1219: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1219: $: command not found
not ok 145 - adminGetUserByUserIdV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1227: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1227: $: command not found
not ok 146 - adminUpdateUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1235: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1235: $: command not found
not ok 147 - adminGetUserBanV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1244: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1244: $: command not found
not ok 148 - adminBanUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1256: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1256: $: command not found
not ok 149 - adminUpdateUserBanV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1265: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1265: $: command not found
not ok 150 - adminSendVerificationCodeV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1275: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1275: $: command not found
not ok 151 - adminVerifyAccountV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1284: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1284: $: command not found
not ok 152 - getUserVerificationCode
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1293: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1293: $: command not found
not ok 153 - adminGetUserDeletionStatusV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1301: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1301: $: command not found
not ok 154 - adminUpdateUserDeletionStatusV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1309: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1309: $: command not found
not ok 155 - adminUpgradeHeadlessAccountV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1318: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1318: $: command not found
not ok 156 - adminDeleteUserInformationV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1327: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1327: $: command not found
not ok 157 - adminGetUserLoginHistoriesV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1335: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1335: $: command not found
not ok 158 - adminUpdateUserPermissionV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1346: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1346: $: command not found
not ok 159 - adminAddUserPermissionsV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1355: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1355: $: command not found
not ok 160 - adminDeleteUserPermissionBulkV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1364: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1364: $: command not found
not ok 161 - adminDeleteUserPermissionV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1373: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1373: $: command not found
not ok 162 - adminGetUserPlatformAccountsV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1383: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1383: $: command not found
not ok 163 - adminGetListJusticePlatformAccounts
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1394: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1394: $: command not found
not ok 164 - adminCreateJusticeUser
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1402: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1402: $: command not found
not ok 165 - adminLinkPlatformAccount
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1411: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1411: $: command not found
not ok 166 - adminPlatformUnlinkV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1420: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1420: $: command not found
not ok 167 - adminPlatformLinkV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1430: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1430: $: command not found
not ok 168 - adminDeleteUserRolesV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1440: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1440: $: command not found
not ok 169 - adminSaveUserRoleV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1449: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1449: $: command not found
not ok 170 - adminAddUserRoleV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1458: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1458: $: command not found
not ok 171 - adminDeleteUserRoleV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1467: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1467: $: command not found
not ok 172 - adminUpdateUserStatusV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1476: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1476: $: command not found
not ok 173 - adminVerifyUserWithoutVerificationCodeV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1485: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1485: $: command not found
not ok 174 - adminGetRolesV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1493: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1493: $: command not found
not ok 175 - adminCreateRoleV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1503: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1503: $: command not found
not ok 176 - adminGetRoleV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1510: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1510: $: command not found
not ok 177 - adminDeleteRoleV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1517: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1517: $: command not found
not ok 178 - adminUpdateRoleV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1524: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1524: $: command not found
not ok 179 - adminGetRoleAdminStatusV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1532: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1532: $: command not found
not ok 180 - adminUpdateAdminRoleStatusV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1539: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1539: $: command not found
not ok 181 - adminRemoveRoleAdminV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1546: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1546: $: command not found
not ok 182 - adminGetRoleManagersV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1553: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1553: $: command not found
not ok 183 - adminAddRoleManagersV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1563: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1563: $: command not found
not ok 184 - adminRemoveRoleManagersV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1571: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1571: $: command not found
not ok 185 - adminGetRoleMembersV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1579: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1579: $: command not found
not ok 186 - adminAddRoleMembersV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1589: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1589: $: command not found
not ok 187 - adminRemoveRoleMembersV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1597: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1597: $: command not found
not ok 188 - adminUpdateRolePermissionsV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1605: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1605: $: command not found
not ok 189 - adminAddRolePermissionsV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1613: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1613: $: command not found
not ok 190 - adminDeleteRolePermissionsV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1621: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1621: $: command not found
not ok 191 - adminDeleteRolePermissionV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1629: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1629: $: command not found
not ok 192 - adminGetMyUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1638: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1638: $: command not found
not ok 193 - userAuthenticationV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1644: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1644: $: command not found
not ok 194 - getCountryLocationV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1656: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1656: $: command not found
not ok 195 - logout
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1662: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1662: $: command not found
not ok 196 - adminRetrieveUserThirdPartyPlatformTokenV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1668: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1668: $: command not found
not ok 197 - revokeUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1677: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1677: $: command not found
not ok 198 - authorizeV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1685: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1685: $: command not found
not ok 199 - tokenIntrospectionV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1699: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1699: $: command not found
not ok 200 - getJWKSV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1706: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1706: $: command not found
not ok 201 - retrieveUserThirdPartyPlatformTokenV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1712: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1712: $: command not found
not ok 202 - authCodeRequestV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1721: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1721: $: command not found
not ok 203 - platformTokenGrantV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1731: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1731: $: command not found
not ok 204 - getRevocationListV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1741: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1741: $: command not found
not ok 205 - tokenRevocationV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1747: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1747: $: command not found
not ok 206 - tokenGrantV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1754: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1754: $: command not found
not ok 207 - platformAuthenticationV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1767: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1767: $: command not found
not ok 208 - publicGetInputValidations
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1787: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1787: $: command not found
not ok 209 - retrieveAllActiveThirdPartyLoginPlatformCredentialPublicV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1795: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1795: $: command not found
not ok 210 - publicListUserIDByPlatformUserIDsV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1802: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1802: $: command not found
not ok 211 - publicGetUserByPlatformUserIDV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1811: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1811: $: command not found
not ok 212 - publicGetAsyncStatus
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1820: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1820: $: command not found
not ok 213 - publicSearchUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1828: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1828: $: command not found
not ok 214 - publicCreateUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1837: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1837: $: command not found
not ok 215 - checkUserAvailability
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1845: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1845: $: command not found
not ok 216 - publicBulkGetUsers
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1854: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1854: $: command not found
not ok 217 - publicForgotPasswordV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1862: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1862: $: command not found
not ok 218 - getAdminInvitationV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1870: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1870: $: command not found
not ok 219 - createUserFromInvitationV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1878: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1878: $: command not found
not ok 220 - updateUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1887: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1887: $: command not found
not ok 221 - publicUpdateUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1895: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1895: $: command not found
not ok 222 - publicSendVerificationCodeV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1903: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1903: $: command not found
not ok 223 - publicUserVerificationV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1911: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1911: $: command not found
not ok 224 - publicUpgradeHeadlessAccountV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1919: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1919: $: command not found
not ok 225 - publicVerifyHeadlessAccountV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1927: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1927: $: command not found
not ok 226 - publicUpdatePasswordV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1935: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1935: $: command not found
not ok 227 - publicCreateJusticeUser
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1943: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1943: $: command not found
not ok 228 - publicPlatformLinkV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1951: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1951: $: command not found
not ok 229 - publicPlatformUnlinkV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1961: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1961: $: command not found
not ok 230 - publicWebLinkPlatform
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1970: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1970: $: command not found
not ok 231 - publicWebLinkPlatformEstablish
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1980: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1980: $: command not found
not ok 232 - resetPasswordV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1989: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1989: $: command not found
not ok 233 - publicGetUserByUserIdV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 1997: $: command not found sh/run-go-cli-iam-unit-test.sh: line 1997: $: command not found
not ok 234 - publicGetUserBanHistoryV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2005: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2005: $: command not found
not ok 235 - publicGetUserLoginHistoriesV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2017: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2017: $: command not found
not ok 236 - publicGetUserPlatformAccountsV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2028: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2028: $: command not found
not ok 237 - publicLinkPlatformAccount
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2039: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2039: $: command not found
not ok 238 - publicValidateUserByUserIDAndPasswordV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2048: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2048: $: command not found
not ok 239 - publicGetRolesV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2057: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2057: $: command not found
not ok 240 - publicGetRoleV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2067: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2067: $: command not found
not ok 241 - publicGetMyUserV3
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2074: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2074: $: command not found
not ok 242 - platformAuthenticateSAMLV3Handler
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2080: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2080: $: command not found
not ok 243 - loginSSOClient
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2090: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2090: $: command not found
not ok 244 - logoutSSOClient
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2098: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2098: $: command not found
not ok 245 - adminUpdateUserV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2105: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2105: $: command not found
not ok 246 - adminUpdateUserEmailAddressV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2114: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2114: $: command not found
not ok 247 - adminListUserRolesV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2123: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2123: $: command not found
not ok 248 - adminUpdateUserRoleV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2131: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2131: $: command not found
not ok 249 - adminAddUserRoleV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2140: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2140: $: command not found
not ok 250 - adminRemoveUserRoleV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2149: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2149: $: command not found
not ok 251 - adminGetRolesV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2158: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2158: $: command not found
not ok 252 - adminCreateRoleV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2168: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2168: $: command not found
not ok 253 - adminGetRoleV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2175: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2175: $: command not found
not ok 254 - adminDeleteRoleV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2182: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2182: $: command not found
not ok 255 - adminUpdateRoleV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2189: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2189: $: command not found
not ok 256 - adminUpdateRolePermissionsV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2197: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2197: $: command not found
not ok 257 - adminAddRolePermissionsV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2205: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2205: $: command not found
not ok 258 - adminDeleteRolePermissionsV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2213: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2213: $: command not found
not ok 259 - adminListAssignedUsersV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2221: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2221: $: command not found
not ok 260 - adminAssignUserToRoleV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2231: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2231: $: command not found
not ok 261 - adminRevokeUserFromRoleV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2239: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2239: $: command not found
not ok 262 - adminUpdateMyUserV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2247: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2247: $: command not found
not ok 263 - adminInviteUserV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2254: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2254: $: command not found
not ok 264 - publicCreateTestUserV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2261: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2261: $: command not found
not ok 265 - publicCreateUserV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2269: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2269: $: command not found
not ok 266 - createUserFromInvitationV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2277: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2277: $: command not found
not ok 267 - publicUpdateUserV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2286: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2286: $: command not found
not ok 268 - publicUpdateUserEmailAddressV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2294: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2294: $: command not found
not ok 269 - publicUpgradeHeadlessAccountWithVerificationCodeV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2302: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2302: $: command not found
not ok 270 - publicUpgradeHeadlessAccountV4
  ---
  error: |-
    sh/run-go-cli-iam-unit-test.sh: line 2310: $: command not found sh/run-go-cli-iam-unit-test.sh: line 2310: $: command not found
```

```tap
sh/run-go-cli-seasonpass-unit-test.sh

TAP version 13
1..38
not ok 1 - getPass
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 68: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 68: $: command not found
not ok 2 - deletePass
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 77: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 77: $: command not found
not ok 3 - updatePass
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 86: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 86: $: command not found
not ok 4 - queryPasses
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 96: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 96: $: command not found
not ok 5 - createPass
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 104: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 104: $: command not found
not ok 6 - getReward
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 113: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 113: $: command not found
not ok 7 - deleteReward
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 122: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 122: $: command not found
not ok 8 - updateReward
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 131: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 131: $: command not found
not ok 9 - queryRewards
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 141: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 141: $: command not found
not ok 10 - createReward
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 150: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 150: $: command not found
not ok 11 - unpublishSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 159: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 159: $: command not found
not ok 12 - getSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 168: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 168: $: command not found
not ok 13 - deleteSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 176: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 176: $: command not found
not ok 14 - updateSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 184: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 184: $: command not found
not ok 15 - cloneSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 193: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 193: $: command not found
not ok 16 - querySeasons
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 202: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 202: $: command not found
not ok 17 - createSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 212: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 212: $: command not found
not ok 18 - retireSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 220: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 220: $: command not found
not ok 19 - publishSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 229: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 229: $: command not found
not ok 20 - getCurrentSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 237: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 237: $: command not found
not ok 21 - updateTier
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 244: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 244: $: command not found
not ok 22 - deleteTier
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 254: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 254: $: command not found
not ok 23 - queryTiers
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 263: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 263: $: command not found
not ok 24 - createTier
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 273: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 273: $: command not found
not ok 25 - existsAnyPassByPassCodes
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 282: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 282: $: command not found
not ok 26 - grantUserTier
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 291: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 291: $: command not found
not ok 27 - getUserSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 300: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 300: $: command not found
not ok 28 - checkSeasonPurchasable
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 309: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 309: $: command not found
not ok 29 - getCurrentUserSeasonProgression
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 318: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 318: $: command not found
not ok 30 - resetUserSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 326: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 326: $: command not found
not ok 31 - grantUserPass
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 334: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 334: $: command not found
not ok 32 - getUserParticipatedSeasons
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 343: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 343: $: command not found
not ok 33 - grantUserExp
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 353: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 353: $: command not found
not ok 34 - publicGetCurrentSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 362: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 362: $: command not found
not ok 35 - publicClaimUserReward
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 370: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 370: $: command not found
not ok 36 - publicGetCurrentUserSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 379: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 379: $: command not found
not ok 37 - publicBulkClaimUserRewards
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 387: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 387: $: command not found
not ok 38 - publicGetUserSeason
  ---
  error: |-
    sh/run-go-cli-seasonpass-unit-test.sh: line 395: $: command not found sh/run-go-cli-seasonpass-unit-test.sh: line 395: $: command not found
```

```tap
sh/run-go-cli-lobby-unit-test.sh

TAP version 13
1..89
not ok 1 - getUserFriendsUpdated
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 68: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 68: $: command not found
not ok 2 - getUserIncomingFriends
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 77: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 77: $: command not found
not ok 3 - getUserOutgoingFriends
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 84: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 84: $: command not found
not ok 4 - userRequestFriend
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 91: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 91: $: command not found
not ok 5 - userAcceptFriendRequest
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 99: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 99: $: command not found
not ok 6 - userCancelFriendRequest
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 107: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 107: $: command not found
not ok 7 - userRejectFriendRequest
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 115: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 115: $: command not found
not ok 8 - userGetFriendshipStatus
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 123: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 123: $: command not found
not ok 9 - userUnfriendRequest
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 131: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 131: $: command not found
not ok 10 - addFriendsWithoutConfirmation
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 139: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 139: $: command not found
not ok 11 - personalChatHistory
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 148: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 148: $: command not found
not ok 12 - adminChatHistory
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 157: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 157: $: command not found
not ok 13 - adminGetAllConfigV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 166: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 166: $: command not found
not ok 14 - adminGetConfigV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 172: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 172: $: command not found
not ok 15 - adminUpdateConfigV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 179: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 179: $: command not found
not ok 16 - exportConfig
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 187: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 187: $: command not found
not ok 17 - importConfig
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 194: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 194: $: command not found
not ok 18 - getListOfFriends
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 201: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 201: $: command not found
not ok 19 - sendMultipleUsersFreeformNotificationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 211: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 211: $: command not found
not ok 20 - sendUsersFreeformNotificationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 219: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 219: $: command not found
not ok 21 - sendPartyFreeformNotificationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 227: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 227: $: command not found
not ok 22 - sendPartyTemplatedNotificationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 236: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 236: $: command not found
not ok 23 - getAllNotificationTemplatesV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 245: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 245: $: command not found
not ok 24 - createNotificationTemplateV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 252: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 252: $: command not found
not ok 25 - sendUsersTemplatedNotificationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 260: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 260: $: command not found
not ok 26 - getTemplateSlugLocalizationsTemplateV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 268: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 268: $: command not found
not ok 27 - deleteNotificationTemplateSlugV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 279: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 279: $: command not found
not ok 28 - getSingleTemplateLocalizationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 287: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 287: $: command not found
not ok 29 - updateTemplateLocalizationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 296: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 296: $: command not found
not ok 30 - deleteTemplateLocalizationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 306: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 306: $: command not found
not ok 31 - publishTemplateLocalizationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 315: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 315: $: command not found
not ok 32 - getAllNotificationTopicsV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 324: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 324: $: command not found
not ok 33 - createNotificationTopicV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 334: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 334: $: command not found
not ok 34 - getNotificationTopicV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 342: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 342: $: command not found
not ok 35 - updateNotificationTopicV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 350: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 350: $: command not found
not ok 36 - deleteNotificationTopicV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 359: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 359: $: command not found
not ok 37 - sendSpecificUserFreeformNotificationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 367: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 367: $: command not found
not ok 38 - sendSpecificUserTemplatedNotificationV1Admin
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 376: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 376: $: command not found
not ok 39 - adminGetPartyDataV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 385: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 385: $: command not found
not ok 40 - adminUpdatePartyAttributesV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 393: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 393: $: command not found
not ok 41 - adminGetUserPartyV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 402: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 402: $: command not found
not ok 42 - adminGetLobbyCCU
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 410: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 410: $: command not found
not ok 43 - adminGetAllPlayerSessionAttribute
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 417: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 417: $: command not found
not ok 44 - adminSetPlayerSessionAttribute
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 425: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 425: $: command not found
not ok 45 - adminGetPlayerSessionAttribute
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 434: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 434: $: command not found
not ok 46 - adminGetPlayerBlockedPlayersV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 443: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 443: $: command not found
not ok 47 - adminGetPlayerBlockedByPlayersV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 451: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 451: $: command not found
not ok 48 - adminBulkBlockPlayersV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 459: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 459: $: command not found
not ok 49 - adminDebugProfanityFilters
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 468: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 468: $: command not found
not ok 50 - adminGetProfanityListFiltersV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 476: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 476: $: command not found
not ok 51 - adminAddProfanityFilterIntoList
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 484: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 484: $: command not found
not ok 52 - adminAddProfanityFilters
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 493: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 493: $: command not found
not ok 53 - adminImportProfanityFiltersFromFile
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 502: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 502: $: command not found
not ok 54 - adminDeleteProfanityFilter
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 511: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 511: $: command not found
not ok 55 - adminGetProfanityLists
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 520: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 520: $: command not found
not ok 56 - adminCreateProfanityList
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 527: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 527: $: command not found
not ok 57 - adminUpdateProfanityList
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 535: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 535: $: command not found
not ok 58 - adminDeleteProfanityList
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 544: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 544: $: command not found
not ok 59 - adminGetProfanityRule
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 552: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 552: $: command not found
not ok 60 - adminSetProfanityRuleForNamespace
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 559: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 559: $: command not found
not ok 61 - adminVerifyMessageProfanityResponse
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 567: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 567: $: command not found
not ok 62 - adminGetThirdPartyConfig
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 575: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 575: $: command not found
not ok 63 - adminUpdateThirdPartyConfig
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 582: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 582: $: command not found
not ok 64 - adminCreateThirdPartyConfig
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 590: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 590: $: command not found
not ok 65 - adminDeleteThirdPartyConfig
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 598: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 598: $: command not found
not ok 66 - publicGetMessages
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 605: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 605: $: command not found
not ok 67 - getPersonalChatHistoryV1Public
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 611: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 611: $: command not found
not ok 68 - publicGetPartyDataV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 619: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 619: $: command not found
not ok 69 - publicUpdatePartyAttributesV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 627: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 627: $: command not found
not ok 70 - publicGetPlayerBlockedPlayersV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 636: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 636: $: command not found
not ok 71 - publicGetPlayerBlockedByPlayersV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 643: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 643: $: command not found
not ok 72 - usersPresenceHandlerV1
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 650: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 650: $: command not found
not ok 73 - freeFormNotification
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 659: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 659: $: command not found
not ok 74 - notificationWithTemplate
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 667: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 667: $: command not found
not ok 75 - getGameTemplate
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 675: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 675: $: command not found
not ok 76 - createTemplate
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 682: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 682: $: command not found
not ok 77 - getSlugTemplate
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 690: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 690: $: command not found
not ok 78 - deleteTemplateSlug
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 701: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 701: $: command not found
not ok 79 - getLocalizationTemplate
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 709: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 709: $: command not found
not ok 80 - updateLocalizationTemplate
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 718: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 718: $: command not found
not ok 81 - deleteTemplateLocalization
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 728: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 728: $: command not found
not ok 82 - publishTemplate
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 737: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 737: $: command not found
not ok 83 - getTopicByNamespace
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 746: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 746: $: command not found
not ok 84 - createTopic
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 756: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 756: $: command not found
not ok 85 - getTopicByTopicName
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 764: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 764: $: command not found
not ok 86 - updateTopicByTopicName
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 772: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 772: $: command not found
not ok 87 - deleteTopicByTopicName
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 781: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 781: $: command not found
not ok 88 - freeFormNotificationByUserID
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 789: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 789: $: command not found
not ok 89 - notificationWithTemplateByUserID
  ---
  error: |-
    sh/run-go-cli-lobby-unit-test.sh: line 798: $: command not found sh/run-go-cli-lobby-unit-test.sh: line 798: $: command not found
```

```tap
sh/run-go-cli-gdpr-unit-test.sh

TAP version 13
1..20
not ok 1 - adminGetListDeletionDataRequest
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 68: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 68: $: command not found
not ok 2 - getAdminEmailConfiguration
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 80: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 80: $: command not found
not ok 3 - updateAdminEmailConfiguration
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 87: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 87: $: command not found
not ok 4 - saveAdminEmailConfiguration
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 95: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 95: $: command not found
not ok 5 - deleteAdminEmailConfiguration
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 103: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 103: $: command not found
not ok 6 - adminGetListPersonalDataRequest
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 111: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 111: $: command not found
not ok 7 - adminGetUserAccountDeletionRequest
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 121: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 121: $: command not found
not ok 8 - adminSubmitUserAccountDeletionRequest
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 129: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 129: $: command not found
not ok 9 - adminCancelUserAccountDeletionRequest
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 137: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 137: $: command not found
not ok 10 - adminGetUserPersonalDataRequests
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 145: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 145: $: command not found
not ok 11 - adminRequestDataRetrieval
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 155: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 155: $: command not found
not ok 12 - adminCancelUserPersonalDataRequest
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 164: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 164: $: command not found
not ok 13 - adminGeneratePersonalDataURL
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 173: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 173: $: command not found
not ok 14 - publicSubmitUserAccountDeletionRequest
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 183: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 183: $: command not found
not ok 15 - publicCancelUserAccountDeletionRequest
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 192: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 192: $: command not found
not ok 16 - publicGetUserAccountDeletionStatus
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 200: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 200: $: command not found
not ok 17 - publicGetUserPersonalDataRequests
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 208: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 208: $: command not found
not ok 18 - publicRequestDataRetrieval
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 218: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 218: $: command not found
not ok 19 - publicCancelUserPersonalDataRequest
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 227: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 227: $: command not found
not ok 20 - publicGeneratePersonalDataURL
  ---
  error: |-
    sh/run-go-cli-gdpr-unit-test.sh: line 236: $: command not found sh/run-go-cli-gdpr-unit-test.sh: line 236: $: command not found
```

```tap
sh/run-go-cli-social-unit-test.sh

TAP version 13
1..68
not ok 1 - getNamespaceSlotConfig
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 68: $: command not found sh/run-go-cli-social-unit-test.sh: line 68: $: command not found
not ok 2 - updateNamespaceSlotConfig
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 75: $: command not found sh/run-go-cli-social-unit-test.sh: line 75: $: command not found
not ok 3 - deleteNamespaceSlotConfig
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 83: $: command not found sh/run-go-cli-social-unit-test.sh: line 83: $: command not found
not ok 4 - getUserSlotConfig
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 90: $: command not found sh/run-go-cli-social-unit-test.sh: line 90: $: command not found
not ok 5 - updateUserSlotConfig
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 98: $: command not found sh/run-go-cli-social-unit-test.sh: line 98: $: command not found
not ok 6 - deleteUserSlotConfig
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 107: $: command not found sh/run-go-cli-social-unit-test.sh: line 107: $: command not found
not ok 7 - getUserProfiles
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 115: $: command not found sh/run-go-cli-social-unit-test.sh: line 115: $: command not found
not ok 8 - getProfile
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 123: $: command not found sh/run-go-cli-social-unit-test.sh: line 123: $: command not found
not ok 9 - getUserNamespaceSlots
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 132: $: command not found sh/run-go-cli-social-unit-test.sh: line 132: $: command not found
not ok 10 - getSlotData
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 140: $: command not found sh/run-go-cli-social-unit-test.sh: line 140: $: command not found
not ok 11 - publicGetUserGameProfiles
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 149: $: command not found sh/run-go-cli-social-unit-test.sh: line 149: $: command not found
not ok 12 - publicGetUserProfiles
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 157: $: command not found sh/run-go-cli-social-unit-test.sh: line 157: $: command not found
not ok 13 - publicCreateProfile
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 165: $: command not found sh/run-go-cli-social-unit-test.sh: line 165: $: command not found
not ok 14 - publicGetProfile
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 174: $: command not found sh/run-go-cli-social-unit-test.sh: line 174: $: command not found
not ok 15 - publicUpdateProfile
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 183: $: command not found sh/run-go-cli-social-unit-test.sh: line 183: $: command not found
not ok 16 - publicDeleteProfile
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 193: $: command not found sh/run-go-cli-social-unit-test.sh: line 193: $: command not found
not ok 17 - publicGetProfileAttribute
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 202: $: command not found sh/run-go-cli-social-unit-test.sh: line 202: $: command not found
not ok 18 - publicUpdateAttribute
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 212: $: command not found sh/run-go-cli-social-unit-test.sh: line 212: $: command not found
not ok 19 - publicGetUserNamespaceSlots
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 223: $: command not found sh/run-go-cli-social-unit-test.sh: line 223: $: command not found
not ok 20 - publicCreateUserNamespaceSlot
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 231: $: command not found sh/run-go-cli-social-unit-test.sh: line 231: $: command not found
not ok 21 - publicGetSlotData
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 244: $: command not found sh/run-go-cli-social-unit-test.sh: line 244: $: command not found
not ok 22 - publicUpdateUserNamespaceSlot
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 253: $: command not found sh/run-go-cli-social-unit-test.sh: line 253: $: command not found
not ok 23 - publicDeleteUserNamespaceSlot
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 267: $: command not found sh/run-go-cli-social-unit-test.sh: line 267: $: command not found
not ok 24 - publicUpdateUserNamespaceSlotMetadata
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 276: $: command not found sh/run-go-cli-social-unit-test.sh: line 276: $: command not found
not ok 25 - getGlobalStatItems
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 286: $: command not found sh/run-go-cli-social-unit-test.sh: line 286: $: command not found
not ok 26 - bulkFetchStatItems
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 295: $: command not found sh/run-go-cli-social-unit-test.sh: line 295: $: command not found
not ok 27 - bulkIncUserStatItem
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 304: $: command not found sh/run-go-cli-social-unit-test.sh: line 304: $: command not found
not ok 28 - bulkIncUserStatItemValue
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 312: $: command not found sh/run-go-cli-social-unit-test.sh: line 312: $: command not found
not ok 29 - bulkResetUserStatItem
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 320: $: command not found sh/run-go-cli-social-unit-test.sh: line 320: $: command not found
not ok 30 - getStats
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 328: $: command not found sh/run-go-cli-social-unit-test.sh: line 328: $: command not found
not ok 31 - createStat
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 337: $: command not found sh/run-go-cli-social-unit-test.sh: line 337: $: command not found
not ok 32 - exportStats
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 345: $: command not found sh/run-go-cli-social-unit-test.sh: line 345: $: command not found
not ok 33 - importStats
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 352: $: command not found sh/run-go-cli-social-unit-test.sh: line 352: $: command not found
not ok 34 - queryStats
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 361: $: command not found sh/run-go-cli-social-unit-test.sh: line 361: $: command not found
not ok 35 - getStat
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 371: $: command not found sh/run-go-cli-social-unit-test.sh: line 371: $: command not found
not ok 36 - deleteStat
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 379: $: command not found sh/run-go-cli-social-unit-test.sh: line 379: $: command not found
not ok 37 - updateStat
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 387: $: command not found sh/run-go-cli-social-unit-test.sh: line 387: $: command not found
not ok 38 - getUserStatItems
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 396: $: command not found sh/run-go-cli-social-unit-test.sh: line 396: $: command not found
not ok 39 - bulkCreateUserStatItems
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 408: $: command not found sh/run-go-cli-social-unit-test.sh: line 408: $: command not found
not ok 40 - bulkIncUserStatItem1
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 417: $: command not found sh/run-go-cli-social-unit-test.sh: line 417: $: command not found
not ok 41 - bulkIncUserStatItemValue1
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 426: $: command not found sh/run-go-cli-social-unit-test.sh: line 426: $: command not found
not ok 42 - bulkResetUserStatItem1
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 435: $: command not found sh/run-go-cli-social-unit-test.sh: line 435: $: command not found
not ok 43 - createUserStatItem
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 444: $: command not found sh/run-go-cli-social-unit-test.sh: line 444: $: command not found
not ok 44 - deleteUserStatItems
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 453: $: command not found sh/run-go-cli-social-unit-test.sh: line 453: $: command not found
not ok 45 - incUserStatItemValue
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 462: $: command not found sh/run-go-cli-social-unit-test.sh: line 462: $: command not found
not ok 46 - resetUserStatItemValue
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 472: $: command not found sh/run-go-cli-social-unit-test.sh: line 472: $: command not found
not ok 47 - bulkFetchStatItems1
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 483: $: command not found sh/run-go-cli-social-unit-test.sh: line 483: $: command not found
not ok 48 - publicBulkIncUserStatItem
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 492: $: command not found sh/run-go-cli-social-unit-test.sh: line 492: $: command not found
not ok 49 - publicBulkIncUserStatItemValue
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 500: $: command not found sh/run-go-cli-social-unit-test.sh: line 500: $: command not found
not ok 50 - bulkResetUserStatItem2
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 508: $: command not found sh/run-go-cli-social-unit-test.sh: line 508: $: command not found
not ok 51 - createStat1
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 516: $: command not found sh/run-go-cli-social-unit-test.sh: line 516: $: command not found
not ok 52 - publicQueryUserStatItems
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 524: $: command not found sh/run-go-cli-social-unit-test.sh: line 524: $: command not found
not ok 53 - publicBulkCreateUserStatItems
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 536: $: command not found sh/run-go-cli-social-unit-test.sh: line 536: $: command not found
not ok 54 - publicBulkIncUserStatItem1
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 545: $: command not found sh/run-go-cli-social-unit-test.sh: line 545: $: command not found
not ok 55 - bulkIncUserStatItemValue2
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 554: $: command not found sh/run-go-cli-social-unit-test.sh: line 554: $: command not found
not ok 56 - bulkResetUserStatItem3
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 563: $: command not found sh/run-go-cli-social-unit-test.sh: line 563: $: command not found
not ok 57 - publicCreateUserStatItem
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 572: $: command not found sh/run-go-cli-social-unit-test.sh: line 572: $: command not found
not ok 58 - deleteUserStatItems1
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 581: $: command not found sh/run-go-cli-social-unit-test.sh: line 581: $: command not found
not ok 59 - publicIncUserStatItem
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 590: $: command not found sh/run-go-cli-social-unit-test.sh: line 590: $: command not found
not ok 60 - publicIncUserStatItemValue
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 600: $: command not found sh/run-go-cli-social-unit-test.sh: line 600: $: command not found
not ok 61 - resetUserStatItemValue1
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 610: $: command not found sh/run-go-cli-social-unit-test.sh: line 610: $: command not found
not ok 62 - bulkUpdateUserStatItemV2
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 619: $: command not found sh/run-go-cli-social-unit-test.sh: line 619: $: command not found
not ok 63 - bulkUpdateUserStatItem
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 627: $: command not found sh/run-go-cli-social-unit-test.sh: line 627: $: command not found
not ok 64 - deleteUserStatItems2
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 637: $: command not found sh/run-go-cli-social-unit-test.sh: line 637: $: command not found
not ok 65 - updateUserStatItemValue
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 647: $: command not found sh/run-go-cli-social-unit-test.sh: line 647: $: command not found
not ok 66 - bulkUpdateUserStatItem1
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 658: $: command not found sh/run-go-cli-social-unit-test.sh: line 658: $: command not found
not ok 67 - bulkUpdateUserStatItem2
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 666: $: command not found sh/run-go-cli-social-unit-test.sh: line 666: $: command not found
not ok 68 - updateUserStatItemValue1
  ---
  error: |-
    sh/run-go-cli-social-unit-test.sh: line 676: $: command not found sh/run-go-cli-social-unit-test.sh: line 676: $: command not found
```

```tap
sh/run-go-cli-platform-unit-test.sh

TAP version 13
1..316
not ok 1 - listFulfillmentScripts
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 68: $: command not found sh/run-go-cli-platform-unit-test.sh: line 68: $: command not found
not ok 2 - testFulfillmentScriptEval
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 74: $: command not found sh/run-go-cli-platform-unit-test.sh: line 74: $: command not found
not ok 3 - getFulfillmentScript
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 81: $: command not found sh/run-go-cli-platform-unit-test.sh: line 81: $: command not found
not ok 4 - createFulfillmentScript
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 88: $: command not found sh/run-go-cli-platform-unit-test.sh: line 88: $: command not found
not ok 5 - deleteFulfillmentScript
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 96: $: command not found sh/run-go-cli-platform-unit-test.sh: line 96: $: command not found
not ok 6 - updateFulfillmentScript
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 103: $: command not found sh/run-go-cli-platform-unit-test.sh: line 103: $: command not found
not ok 7 - queryCampaigns
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 111: $: command not found sh/run-go-cli-platform-unit-test.sh: line 111: $: command not found
not ok 8 - createCampaign
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 122: $: command not found sh/run-go-cli-platform-unit-test.sh: line 122: $: command not found
not ok 9 - getCampaign
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 130: $: command not found sh/run-go-cli-platform-unit-test.sh: line 130: $: command not found
not ok 10 - updateCampaign
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 138: $: command not found sh/run-go-cli-platform-unit-test.sh: line 138: $: command not found
not ok 11 - getCampaignDynamic
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 147: $: command not found sh/run-go-cli-platform-unit-test.sh: line 147: $: command not found
not ok 12 - getRootCategories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 155: $: command not found sh/run-go-cli-platform-unit-test.sh: line 155: $: command not found
not ok 13 - createCategory
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 163: $: command not found sh/run-go-cli-platform-unit-test.sh: line 163: $: command not found
not ok 14 - listCategoriesBasic
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 172: $: command not found sh/run-go-cli-platform-unit-test.sh: line 172: $: command not found
not ok 15 - getCategory
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 180: $: command not found sh/run-go-cli-platform-unit-test.sh: line 180: $: command not found
not ok 16 - updateCategory
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 189: $: command not found sh/run-go-cli-platform-unit-test.sh: line 189: $: command not found
not ok 17 - deleteCategory
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 199: $: command not found sh/run-go-cli-platform-unit-test.sh: line 199: $: command not found
not ok 18 - getChildCategories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 208: $: command not found sh/run-go-cli-platform-unit-test.sh: line 208: $: command not found
not ok 19 - getDescendantCategories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 217: $: command not found sh/run-go-cli-platform-unit-test.sh: line 217: $: command not found
not ok 20 - queryCodes
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 226: $: command not found sh/run-go-cli-platform-unit-test.sh: line 226: $: command not found
not ok 21 - createCodes
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 239: $: command not found sh/run-go-cli-platform-unit-test.sh: line 239: $: command not found
not ok 22 - download
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 248: $: command not found sh/run-go-cli-platform-unit-test.sh: line 248: $: command not found
not ok 23 - bulkDisableCodes
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 257: $: command not found sh/run-go-cli-platform-unit-test.sh: line 257: $: command not found
not ok 24 - bulkEnableCodes
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 266: $: command not found sh/run-go-cli-platform-unit-test.sh: line 266: $: command not found
not ok 25 - queryRedeemHistory
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 275: $: command not found sh/run-go-cli-platform-unit-test.sh: line 275: $: command not found
not ok 26 - getCode
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 287: $: command not found sh/run-go-cli-platform-unit-test.sh: line 287: $: command not found
not ok 27 - disableCode
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 296: $: command not found sh/run-go-cli-platform-unit-test.sh: line 296: $: command not found
not ok 28 - enableCode
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 304: $: command not found sh/run-go-cli-platform-unit-test.sh: line 304: $: command not found
not ok 29 - listCurrencies
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 312: $: command not found sh/run-go-cli-platform-unit-test.sh: line 312: $: command not found
not ok 30 - createCurrency
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 319: $: command not found sh/run-go-cli-platform-unit-test.sh: line 319: $: command not found
not ok 31 - updateCurrency
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 327: $: command not found sh/run-go-cli-platform-unit-test.sh: line 327: $: command not found
not ok 32 - deleteCurrency
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 336: $: command not found sh/run-go-cli-platform-unit-test.sh: line 336: $: command not found
not ok 33 - getCurrencyConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 344: $: command not found sh/run-go-cli-platform-unit-test.sh: line 344: $: command not found
not ok 34 - getCurrencySummary
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 352: $: command not found sh/run-go-cli-platform-unit-test.sh: line 352: $: command not found
not ok 35 - getDLCItemConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 360: $: command not found sh/run-go-cli-platform-unit-test.sh: line 360: $: command not found
not ok 36 - updateDLCItemConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 367: $: command not found sh/run-go-cli-platform-unit-test.sh: line 367: $: command not found
not ok 37 - deleteDLCItemConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 375: $: command not found sh/run-go-cli-platform-unit-test.sh: line 375: $: command not found
not ok 38 - getPlatformDLCConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 382: $: command not found sh/run-go-cli-platform-unit-test.sh: line 382: $: command not found
not ok 39 - updatePlatformDLCConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 389: $: command not found sh/run-go-cli-platform-unit-test.sh: line 389: $: command not found
not ok 40 - deletePlatformDLCConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 397: $: command not found sh/run-go-cli-platform-unit-test.sh: line 397: $: command not found
not ok 41 - queryEntitlements
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 404: $: command not found sh/run-go-cli-platform-unit-test.sh: line 404: $: command not found
not ok 42 - getEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 419: $: command not found sh/run-go-cli-platform-unit-test.sh: line 419: $: command not found
not ok 43 - queryFulfillmentHistories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 427: $: command not found sh/run-go-cli-platform-unit-test.sh: line 427: $: command not found
not ok 44 - getAppleIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 438: $: command not found sh/run-go-cli-platform-unit-test.sh: line 438: $: command not found
not ok 45 - updateAppleIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 445: $: command not found sh/run-go-cli-platform-unit-test.sh: line 445: $: command not found
not ok 46 - deleteAppleIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 453: $: command not found sh/run-go-cli-platform-unit-test.sh: line 453: $: command not found
not ok 47 - getEpicGamesIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 460: $: command not found sh/run-go-cli-platform-unit-test.sh: line 460: $: command not found
not ok 48 - updateEpicGamesIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 467: $: command not found sh/run-go-cli-platform-unit-test.sh: line 467: $: command not found
not ok 49 - deleteEpicGamesIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 475: $: command not found sh/run-go-cli-platform-unit-test.sh: line 475: $: command not found
not ok 50 - getGoogleIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 482: $: command not found sh/run-go-cli-platform-unit-test.sh: line 482: $: command not found
not ok 51 - updateGoogleIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 489: $: command not found sh/run-go-cli-platform-unit-test.sh: line 489: $: command not found
not ok 52 - deleteGoogleIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 497: $: command not found sh/run-go-cli-platform-unit-test.sh: line 497: $: command not found
not ok 53 - updateGoogleP12File
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 504: $: command not found sh/run-go-cli-platform-unit-test.sh: line 504: $: command not found
not ok 54 - getIAPItemConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 512: $: command not found sh/run-go-cli-platform-unit-test.sh: line 512: $: command not found
not ok 55 - updateIAPItemConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 519: $: command not found sh/run-go-cli-platform-unit-test.sh: line 519: $: command not found
not ok 56 - deleteIAPItemConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 527: $: command not found sh/run-go-cli-platform-unit-test.sh: line 527: $: command not found
not ok 57 - getPlayStationIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 534: $: command not found sh/run-go-cli-platform-unit-test.sh: line 534: $: command not found
not ok 58 - updatePlaystationIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 541: $: command not found sh/run-go-cli-platform-unit-test.sh: line 541: $: command not found
not ok 59 - deletePlaystationIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 549: $: command not found sh/run-go-cli-platform-unit-test.sh: line 549: $: command not found
not ok 60 - getStadiaIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 556: $: command not found sh/run-go-cli-platform-unit-test.sh: line 556: $: command not found
not ok 61 - deleteStadiaIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 563: $: command not found sh/run-go-cli-platform-unit-test.sh: line 563: $: command not found
not ok 62 - updateStadiaJsonConfigFile
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 570: $: command not found sh/run-go-cli-platform-unit-test.sh: line 570: $: command not found
not ok 63 - getSteamIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 578: $: command not found sh/run-go-cli-platform-unit-test.sh: line 578: $: command not found
not ok 64 - updateSteamIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 585: $: command not found sh/run-go-cli-platform-unit-test.sh: line 585: $: command not found
not ok 65 - deleteSteamIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 593: $: command not found sh/run-go-cli-platform-unit-test.sh: line 593: $: command not found
not ok 66 - getXblIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 600: $: command not found sh/run-go-cli-platform-unit-test.sh: line 600: $: command not found
not ok 67 - updateXblIAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 607: $: command not found sh/run-go-cli-platform-unit-test.sh: line 607: $: command not found
not ok 68 - deleteXblAPConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 615: $: command not found sh/run-go-cli-platform-unit-test.sh: line 615: $: command not found
not ok 69 - updateXblBPCertFile
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 622: $: command not found sh/run-go-cli-platform-unit-test.sh: line 622: $: command not found
not ok 70 - syncInGameItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 631: $: command not found sh/run-go-cli-platform-unit-test.sh: line 631: $: command not found
not ok 71 - createItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 640: $: command not found sh/run-go-cli-platform-unit-test.sh: line 640: $: command not found
not ok 72 - getItemByAppId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 649: $: command not found sh/run-go-cli-platform-unit-test.sh: line 649: $: command not found
not ok 73 - queryItems
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 659: $: command not found sh/run-go-cli-platform-unit-test.sh: line 659: $: command not found
not ok 74 - listBasicItemsByFeatures
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 680: $: command not found sh/run-go-cli-platform-unit-test.sh: line 680: $: command not found
not ok 75 - getItemBySku
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 689: $: command not found sh/run-go-cli-platform-unit-test.sh: line 689: $: command not found
not ok 76 - getLocaleItemBySku
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 699: $: command not found sh/run-go-cli-platform-unit-test.sh: line 699: $: command not found
not ok 77 - getItemIdBySku
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 712: $: command not found sh/run-go-cli-platform-unit-test.sh: line 712: $: command not found
not ok 78 - bulkGetLocaleItems
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 722: $: command not found sh/run-go-cli-platform-unit-test.sh: line 722: $: command not found
not ok 79 - searchItems
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 734: $: command not found sh/run-go-cli-platform-unit-test.sh: line 734: $: command not found
not ok 80 - queryUncategorizedItems
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 747: $: command not found sh/run-go-cli-platform-unit-test.sh: line 747: $: command not found
not ok 81 - getItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 759: $: command not found sh/run-go-cli-platform-unit-test.sh: line 759: $: command not found
not ok 82 - updateItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 769: $: command not found sh/run-go-cli-platform-unit-test.sh: line 769: $: command not found
not ok 83 - deleteItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 779: $: command not found sh/run-go-cli-platform-unit-test.sh: line 779: $: command not found
not ok 84 - acquireItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 788: $: command not found sh/run-go-cli-platform-unit-test.sh: line 788: $: command not found
not ok 85 - getApp
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 797: $: command not found sh/run-go-cli-platform-unit-test.sh: line 797: $: command not found
not ok 86 - updateApp
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 807: $: command not found sh/run-go-cli-platform-unit-test.sh: line 807: $: command not found
not ok 87 - disableItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 817: $: command not found sh/run-go-cli-platform-unit-test.sh: line 817: $: command not found
not ok 88 - getItemDynamicData
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 826: $: command not found sh/run-go-cli-platform-unit-test.sh: line 826: $: command not found
not ok 89 - enableItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 834: $: command not found sh/run-go-cli-platform-unit-test.sh: line 834: $: command not found
not ok 90 - featureItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 843: $: command not found sh/run-go-cli-platform-unit-test.sh: line 843: $: command not found
not ok 91 - defeatureItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 853: $: command not found sh/run-go-cli-platform-unit-test.sh: line 853: $: command not found
not ok 92 - getLocaleItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 863: $: command not found sh/run-go-cli-platform-unit-test.sh: line 863: $: command not found
not ok 93 - returnItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 876: $: command not found sh/run-go-cli-platform-unit-test.sh: line 876: $: command not found
not ok 94 - queryKeyGroups
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 885: $: command not found sh/run-go-cli-platform-unit-test.sh: line 885: $: command not found
not ok 95 - createKeyGroup
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 896: $: command not found sh/run-go-cli-platform-unit-test.sh: line 896: $: command not found
not ok 96 - getKeyGroup
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 904: $: command not found sh/run-go-cli-platform-unit-test.sh: line 904: $: command not found
not ok 97 - updateKeyGroup
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 912: $: command not found sh/run-go-cli-platform-unit-test.sh: line 912: $: command not found
not ok 98 - getKeyGroupDynamic
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 921: $: command not found sh/run-go-cli-platform-unit-test.sh: line 921: $: command not found
not ok 99 - listKeys
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 929: $: command not found sh/run-go-cli-platform-unit-test.sh: line 929: $: command not found
not ok 100 - uploadKeys
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 940: $: command not found sh/run-go-cli-platform-unit-test.sh: line 940: $: command not found
not ok 101 - queryOrders
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 949: $: command not found sh/run-go-cli-platform-unit-test.sh: line 949: $: command not found
not ok 102 - getOrderStatistics
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 964: $: command not found sh/run-go-cli-platform-unit-test.sh: line 964: $: command not found
not ok 103 - getOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 971: $: command not found sh/run-go-cli-platform-unit-test.sh: line 971: $: command not found
not ok 104 - refundOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 979: $: command not found sh/run-go-cli-platform-unit-test.sh: line 979: $: command not found
not ok 105 - getPaymentCallbackConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 988: $: command not found sh/run-go-cli-platform-unit-test.sh: line 988: $: command not found
not ok 106 - updatePaymentCallbackConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 995: $: command not found sh/run-go-cli-platform-unit-test.sh: line 995: $: command not found
not ok 107 - queryPaymentNotifications
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1003: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1003: $: command not found
not ok 108 - queryPaymentOrders
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1019: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1019: $: command not found
not ok 109 - createPaymentOrderByDedicated
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1031: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1031: $: command not found
not ok 110 - listExtOrderNoByExtTxId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1039: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1039: $: command not found
not ok 111 - getPaymentOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1047: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1047: $: command not found
not ok 112 - chargePaymentOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1055: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1055: $: command not found
not ok 113 - refundPaymentOrderByDedicated
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1064: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1064: $: command not found
not ok 114 - simulatePaymentOrderNotification
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1073: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1073: $: command not found
not ok 115 - getPaymentOrderChargeStatus
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1082: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1082: $: command not found
not ok 116 - createReward
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1090: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1090: $: command not found
not ok 117 - queryRewards
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1098: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1098: $: command not found
not ok 118 - exportRewards
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1109: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1109: $: command not found
not ok 119 - importRewards
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1116: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1116: $: command not found
not ok 120 - getReward
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1125: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1125: $: command not found
not ok 121 - updateReward
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1133: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1133: $: command not found
not ok 122 - deleteReward
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1142: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1142: $: command not found
not ok 123 - checkEventCondition
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1150: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1150: $: command not found
not ok 124 - listStores
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1159: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1159: $: command not found
not ok 125 - createStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1166: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1166: $: command not found
not ok 126 - importStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1174: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1174: $: command not found
not ok 127 - getPublishedStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1183: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1183: $: command not found
not ok 128 - deletePublishedStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1190: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1190: $: command not found
not ok 129 - getPublishedStoreBackup
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1197: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1197: $: command not found
not ok 130 - rollbackPublishedStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1204: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1204: $: command not found
not ok 131 - getStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1211: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1211: $: command not found
not ok 132 - updateStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1219: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1219: $: command not found
not ok 133 - deleteStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1228: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1228: $: command not found
not ok 134 - cloneStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1236: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1236: $: command not found
not ok 135 - exportStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1245: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1245: $: command not found
not ok 136 - querySubscriptions
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1253: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1253: $: command not found
not ok 137 - recurringChargeSubscription
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1268: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1268: $: command not found
not ok 138 - getTicketDynamic
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1276: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1276: $: command not found
not ok 139 - decreaseTicketSale
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1284: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1284: $: command not found
not ok 140 - getTicketBoothID
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1293: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1293: $: command not found
not ok 141 - increaseTicketSale
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1301: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1301: $: command not found
not ok 142 - anonymizeCampaign
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1310: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1310: $: command not found
not ok 143 - anonymizeEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1318: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1318: $: command not found
not ok 144 - anonymizeFulfillment
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1326: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1326: $: command not found
not ok 145 - anonymizeIntegration
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1334: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1334: $: command not found
not ok 146 - anonymizeOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1342: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1342: $: command not found
not ok 147 - anonymizePayment
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1350: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1350: $: command not found
not ok 148 - anonymizeSubscription
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1358: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1358: $: command not found
not ok 149 - anonymizeWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1366: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1366: $: command not found
not ok 150 - queryUserEntitlements
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1374: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1374: $: command not found
not ok 151 - grantUserEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1389: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1389: $: command not found
not ok 152 - getUserAppEntitlementByAppId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1398: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1398: $: command not found
not ok 153 - queryUserEntitlementsByAppType
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1408: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1408: $: command not found
not ok 154 - getUserEntitlementByItemId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1420: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1420: $: command not found
not ok 155 - getUserEntitlementBySku
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1431: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1431: $: command not found
not ok 156 - existsAnyUserActiveEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1442: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1442: $: command not found
not ok 157 - existsAnyUserActiveEntitlementByItemIds
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1453: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1453: $: command not found
not ok 158 - getUserAppEntitlementOwnershipByAppId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1462: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1462: $: command not found
not ok 159 - getUserEntitlementOwnershipByItemId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1471: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1471: $: command not found
not ok 160 - getUserEntitlementOwnershipBySku
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1481: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1481: $: command not found
not ok 161 - revokeUserEntitlements
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1491: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1491: $: command not found
not ok 162 - getUserEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1500: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1500: $: command not found
not ok 163 - updateUserEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1509: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1509: $: command not found
not ok 164 - consumeUserEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1519: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1519: $: command not found
not ok 165 - disableUserEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1529: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1529: $: command not found
not ok 166 - enableUserEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1538: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1538: $: command not found
not ok 167 - getUserEntitlementHistories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1547: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1547: $: command not found
not ok 168 - revokeUserEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1556: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1556: $: command not found
not ok 169 - fulfillItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1565: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1565: $: command not found
not ok 170 - redeemCode
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1574: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1574: $: command not found
not ok 171 - fulfillRewards
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1583: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1583: $: command not found
not ok 172 - queryUserIAPOrders
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1592: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1592: $: command not found
not ok 173 - queryAllUserIAPOrders
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1607: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1607: $: command not found
not ok 174 - mockFulfillIAPItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1615: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1615: $: command not found
not ok 175 - queryUserOrders
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1624: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1624: $: command not found
not ok 176 - countOfPurchasedItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1636: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1636: $: command not found
not ok 177 - getUserOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1645: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1645: $: command not found
not ok 178 - updateUserOrderStatus
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1654: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1654: $: command not found
not ok 179 - fulfillUserOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1664: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1664: $: command not found
not ok 180 - getUserOrderGrant
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1673: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1673: $: command not found
not ok 181 - getUserOrderHistories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1682: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1682: $: command not found
not ok 182 - processUserOrderNotification
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1691: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1691: $: command not found
not ok 183 - downloadUserOrderReceipt
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1701: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1701: $: command not found
not ok 184 - createUserPaymentOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1710: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1710: $: command not found
not ok 185 - refundUserPaymentOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1719: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1719: $: command not found
not ok 186 - applyUserRedemption
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1729: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1729: $: command not found
not ok 187 - queryUserSubscriptions
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1738: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1738: $: command not found
not ok 188 - getUserSubscriptionActivities
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1753: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1753: $: command not found
not ok 189 - platformSubscribeSubscription
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1765: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1765: $: command not found
not ok 190 - checkUserSubscriptionSubscribableByItemId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1774: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1774: $: command not found
not ok 191 - getUserSubscription
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1783: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1783: $: command not found
not ok 192 - deleteUserSubscription
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1792: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1792: $: command not found
not ok 193 - cancelSubscription
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1801: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1801: $: command not found
not ok 194 - grantDaysToSubscription
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1812: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1812: $: command not found
not ok 195 - getUserSubscriptionBillingHistories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1822: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1822: $: command not found
not ok 196 - processUserSubscriptionNotification
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1834: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1834: $: command not found
not ok 197 - acquireUserTicket
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1844: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1844: $: command not found
not ok 198 - checkWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1854: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1854: $: command not found
not ok 199 - creditUserWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1863: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1863: $: command not found
not ok 200 - payWithUserWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1873: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1873: $: command not found
not ok 201 - getUserWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1883: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1883: $: command not found
not ok 202 - debitUserWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1892: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1892: $: command not found
not ok 203 - disableUserWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1902: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1902: $: command not found
not ok 204 - enableUserWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1911: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1911: $: command not found
not ok 205 - listUserWalletTransactions
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1920: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1920: $: command not found
not ok 206 - queryWallets
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1931: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1931: $: command not found
not ok 207 - getWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1942: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1942: $: command not found
not ok 208 - syncOrders
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1950: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1950: $: command not found
not ok 209 - testAdyenConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1959: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1959: $: command not found
not ok 210 - testAliPayConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1967: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1967: $: command not found
not ok 211 - testCheckoutConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1975: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1975: $: command not found
not ok 212 - debugMatchedPaymentMerchantConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1983: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1983: $: command not found
not ok 213 - testPayPalConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1991: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1991: $: command not found
not ok 214 - testStripeConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 1999: $: command not found sh/run-go-cli-platform-unit-test.sh: line 1999: $: command not found
not ok 215 - testWxPayConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2007: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2007: $: command not found
not ok 216 - testXsollaConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2014: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2014: $: command not found
not ok 217 - getPaymentMerchantConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2021: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2021: $: command not found
not ok 218 - updateAdyenConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2028: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2028: $: command not found
not ok 219 - testAdyenConfigById
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2038: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2038: $: command not found
not ok 220 - updateAliPayConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2046: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2046: $: command not found
not ok 221 - testAliPayConfigById
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2056: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2056: $: command not found
not ok 222 - updateCheckoutConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2064: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2064: $: command not found
not ok 223 - testCheckoutConfigById
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2074: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2074: $: command not found
not ok 224 - updatePayPalConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2082: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2082: $: command not found
not ok 225 - testPayPalConfigById
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2092: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2092: $: command not found
not ok 226 - updateStripeConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2100: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2100: $: command not found
not ok 227 - testStripeConfigById
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2110: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2110: $: command not found
not ok 228 - updateWxPayConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2118: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2118: $: command not found
not ok 229 - updateWxPayConfigCert
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2127: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2127: $: command not found
not ok 230 - testWxPayConfigById
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2135: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2135: $: command not found
not ok 231 - updateXsollaConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2142: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2142: $: command not found
not ok 232 - testXsollaConfigById
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2151: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2151: $: command not found
not ok 233 - updateXsollaUIConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2158: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2158: $: command not found
not ok 234 - queryPaymentProviderConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2166: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2166: $: command not found
not ok 235 - createPaymentProviderConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2176: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2176: $: command not found
not ok 236 - getAggregatePaymentProviders
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2183: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2183: $: command not found
not ok 237 - debugMatchedPaymentProviderConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2189: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2189: $: command not found
not ok 238 - getSpecialPaymentProviders
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2197: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2197: $: command not found
not ok 239 - updatePaymentProviderConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2203: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2203: $: command not found
not ok 240 - deletePaymentProviderConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2211: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2211: $: command not found
not ok 241 - getPaymentTaxConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2218: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2218: $: command not found
not ok 242 - updatePaymentTaxConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2224: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2224: $: command not found
not ok 243 - syncPaymentOrders
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2231: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2231: $: command not found
not ok 244 - publicGetRootCategories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2240: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2240: $: command not found
not ok 245 - downloadCategories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2249: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2249: $: command not found
not ok 246 - publicGetCategory
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2258: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2258: $: command not found
not ok 247 - publicGetChildCategories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2268: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2268: $: command not found
not ok 248 - publicGetDescendantCategories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2278: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2278: $: command not found
not ok 249 - publicListCurrencies
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2288: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2288: $: command not found
not ok 250 - publicGetItemByAppId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2295: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2295: $: command not found
not ok 251 - publicQueryItems
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2306: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2306: $: command not found
not ok 252 - publicGetItemBySku
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2325: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2325: $: command not found
not ok 253 - publicBulkGetItems
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2336: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2336: $: command not found
not ok 254 - publicSearchItems
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2347: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2347: $: command not found
not ok 255 - publicGetApp
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2360: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2360: $: command not found
not ok 256 - publicGetItemDynamicData
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2371: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2371: $: command not found
not ok 257 - publicGetItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2379: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2379: $: command not found
not ok 258 - getPaymentCustomization
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2391: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2391: $: command not found
not ok 259 - publicGetPaymentUrl
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2401: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2401: $: command not found
not ok 260 - publicGetPaymentMethods
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2409: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2409: $: command not found
not ok 261 - publicGetUnpaidPaymentOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2417: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2417: $: command not found
not ok 262 - pay
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2425: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2425: $: command not found
not ok 263 - publicCheckPaymentOrderPaidStatus
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2436: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2436: $: command not found
not ok 264 - getPaymentPublicConfig
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2444: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2444: $: command not found
not ok 265 - publicGetQRCode
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2454: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2454: $: command not found
not ok 266 - publicNormalizePaymentReturnUrl
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2462: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2462: $: command not found
not ok 267 - getPaymentTaxValue
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2482: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2482: $: command not found
not ok 268 - getRewardByCode
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2492: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2492: $: command not found
not ok 269 - queryRewards1
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2500: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2500: $: command not found
not ok 270 - getReward1
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2511: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2511: $: command not found
not ok 271 - publicListStores
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2519: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2519: $: command not found
not ok 272 - publicExistsAnyMyActiveEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2526: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2526: $: command not found
not ok 273 - publicGetMyAppEntitlementOwnershipByAppId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2536: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2536: $: command not found
not ok 274 - publicGetMyEntitlementOwnershipByItemId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2544: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2544: $: command not found
not ok 275 - publicGetMyEntitlementOwnershipBySku
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2553: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2553: $: command not found
not ok 276 - publicGetEntitlementOwnershipToken
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2562: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2562: $: command not found
not ok 277 - publicGetMyWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2572: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2572: $: command not found
not ok 278 - publicSyncPsnDlcInventory
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2580: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2580: $: command not found
not ok 279 - syncSteamDLC
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2589: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2589: $: command not found
not ok 280 - syncXboxDLC
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2598: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2598: $: command not found
not ok 281 - publicQueryUserEntitlements
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2607: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2607: $: command not found
not ok 282 - publicGetUserAppEntitlementByAppId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2621: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2621: $: command not found
not ok 283 - publicQueryUserEntitlementsByAppType
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2630: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2630: $: command not found
not ok 284 - publicGetUserEntitlementByItemId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2641: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2641: $: command not found
not ok 285 - publicGetUserEntitlementBySku
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2651: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2651: $: command not found
not ok 286 - publicExistsAnyUserActiveEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2661: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2661: $: command not found
not ok 287 - publicGetUserAppEntitlementOwnershipByAppId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2672: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2672: $: command not found
not ok 288 - publicGetUserEntitlementOwnershipByItemId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2681: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2681: $: command not found
not ok 289 - publicGetUserEntitlementOwnershipBySku
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2691: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2691: $: command not found
not ok 290 - publicGetUserEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2701: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2701: $: command not found
not ok 291 - publicConsumeUserEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2710: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2710: $: command not found
not ok 292 - publicRedeemCode
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2720: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2720: $: command not found
not ok 293 - publicFulfillAppleIAPItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2729: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2729: $: command not found
not ok 294 - syncEpicGamesInventory
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2738: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2738: $: command not found
not ok 295 - publicFulfillGoogleIAPItem
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2747: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2747: $: command not found
not ok 296 - publicReconcilePlayStationStore
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2756: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2756: $: command not found
not ok 297 - syncStadiaEntitlement
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2765: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2765: $: command not found
not ok 298 - syncSteamInventory
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2774: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2774: $: command not found
not ok 299 - syncXboxInventory
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2783: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2783: $: command not found
not ok 300 - publicQueryUserOrders
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2792: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2792: $: command not found
not ok 301 - publicCreateUserOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2804: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2804: $: command not found
not ok 302 - publicGetUserOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2813: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2813: $: command not found
not ok 303 - publicCancelUserOrder
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2822: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2822: $: command not found
not ok 304 - publicGetUserOrderHistories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2831: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2831: $: command not found
not ok 305 - publicDownloadUserOrderReceipt
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2840: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2840: $: command not found
not ok 306 - publicGetPaymentAccounts
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2849: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2849: $: command not found
not ok 307 - publicDeletePaymentAccount
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2857: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2857: $: command not found
not ok 308 - publicQueryUserSubscriptions
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2867: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2867: $: command not found
not ok 309 - publicSubscribeSubscription
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2882: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2882: $: command not found
not ok 310 - publicCheckUserSubscriptionSubscribableByItemId
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2891: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2891: $: command not found
not ok 311 - publicGetUserSubscription
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2900: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2900: $: command not found
not ok 312 - publicChangeSubscriptionBillingAccount
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2909: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2909: $: command not found
not ok 313 - publicCancelSubscription
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2918: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2918: $: command not found
not ok 314 - publicGetUserSubscriptionBillingHistories
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2928: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2928: $: command not found
not ok 315 - publicGetWallet
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2940: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2940: $: command not found
not ok 316 - publicListUserWalletTransactions
  ---
  error: |-
    sh/run-go-cli-platform-unit-test.sh: line 2949: $: command not found sh/run-go-cli-platform-unit-test.sh: line 2949: $: command not found
```

```tap
sh/run-go-cli-sessionbrowser-unit-test.sh

TAP version 13
1..15
not ok 1 - getTotalActiveSession
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 68: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 68: $: command not found
not ok 2 - getActiveCustomGameSessions
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 76: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 76: $: command not found
not ok 3 - getActiveMatchmakingGameSessions
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 85: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 85: $: command not found
not ok 4 - adminGetSession
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 95: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 95: $: command not found
not ok 5 - querySession
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 103: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 103: $: command not found
not ok 6 - createSession
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 120: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 120: $: command not found
not ok 7 - getSessionByUserIDs
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 128: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 128: $: command not found
not ok 8 - getSession
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 136: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 136: $: command not found
not ok 9 - updateSession
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 144: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 144: $: command not found
not ok 10 - deleteSession
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 153: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 153: $: command not found
not ok 11 - joinSession
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 161: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 161: $: command not found
not ok 12 - deleteSessionLocalDS
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 170: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 170: $: command not found
not ok 13 - addPlayerToSession
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 178: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 178: $: command not found
not ok 14 - removePlayerFromSession
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 187: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 187: $: command not found
not ok 15 - getRecentPlayer
  ---
  error: |-
    sh/run-go-cli-sessionbrowser-unit-test.sh: line 196: $: command not found sh/run-go-cli-sessionbrowser-unit-test.sh: line 196: $: command not found
```

```tap
sh/run-go-cli-leaderboard-unit-test.sh

TAP version 13
1..34
not ok 1 - getLeaderboardConfigurationsAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 68: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 68: $: command not found
not ok 2 - createLeaderboardConfigurationAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 79: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 79: $: command not found
not ok 3 - adminGetArchivedLeaderboardRankingDataV1Handler
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 87: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 87: $: command not found
not ok 4 - createArchivedLeaderboardRankingDataV1Handler
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 96: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 96: $: command not found
not ok 5 - deleteBulkLeaderboardConfigurationAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 104: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 104: $: command not found
not ok 6 - getLeaderboardConfigurationAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 112: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 112: $: command not found
not ok 7 - updateLeaderboardConfigurationAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 120: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 120: $: command not found
not ok 8 - deleteLeaderboardConfigurationAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 129: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 129: $: command not found
not ok 9 - getAllTimeLeaderboardRankingAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 137: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 137: $: command not found
not ok 10 - getCurrentMonthLeaderboardRankingAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 147: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 147: $: command not found
not ok 11 - getCurrentSeasonLeaderboardRankingAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 157: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 157: $: command not found
not ok 12 - getTodayLeaderboardRankingAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 167: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 167: $: command not found
not ok 13 - getUserRankingAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 177: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 177: $: command not found
not ok 14 - updateUserPointAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 186: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 186: $: command not found
not ok 15 - deleteUserRankingAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 196: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 196: $: command not found
not ok 16 - getCurrentWeekLeaderboardRankingAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 205: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 205: $: command not found
not ok 17 - deleteUserRankingsAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 215: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 215: $: command not found
not ok 18 - getUserLeaderboardRankingsAdminV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 224: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 224: $: command not found
not ok 19 - getLeaderboardConfigurationsPublicV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 234: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 234: $: command not found
not ok 20 - createLeaderboardConfigurationPublicV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 245: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 245: $: command not found
not ok 21 - getAllTimeLeaderboardRankingPublicV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 253: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 253: $: command not found
not ok 22 - getArchivedLeaderboardRankingDataV1Handler
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 263: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 263: $: command not found
not ok 23 - getCurrentMonthLeaderboardRankingPublicV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 273: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 273: $: command not found
not ok 24 - getCurrentSeasonLeaderboardRankingPublicV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 283: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 283: $: command not found
not ok 25 - getTodayLeaderboardRankingPublicV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 293: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 293: $: command not found
not ok 26 - getUserRankingPublicV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 303: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 303: $: command not found
not ok 27 - deleteUserRankingPublicV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 312: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 312: $: command not found
not ok 28 - getCurrentWeekLeaderboardRankingPublicV1
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 321: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 321: $: command not found
not ok 29 - getHiddenUsersV2
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 331: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 331: $: command not found
not ok 30 - getUserVisibilityStatusV2
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 341: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 341: $: command not found
not ok 31 - setUserLeaderboardVisibilityStatusV2
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 350: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 350: $: command not found
not ok 32 - setUserVisibilityStatusV2
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 360: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 360: $: command not found
not ok 33 - getLeaderboardConfigurationsPublicV2
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 369: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 369: $: command not found
not ok 34 - getAllTimeLeaderboardRankingPublicV2
  ---
  error: |-
    sh/run-go-cli-leaderboard-unit-test.sh: line 378: $: command not found sh/run-go-cli-leaderboard-unit-test.sh: line 378: $: command not found
```

```tap
sh/run-go-cli-eventlog-unit-test.sh

TAP version 13
1..32
ok 1 agentTypeDescriptionHandler (skipped deprecated)
ok 2 specificAgentTypeDescriptionHandler (skipped deprecated)
ok 3 eventIDDescriptionHandler (skipped deprecated)
ok 4 specificEventIDDescriptionHandler (skipped deprecated)
ok 5 eventLevelDescriptionHandler (skipped deprecated)
ok 6 specificEventLevelDescriptionHandler (skipped deprecated)
ok 7 eventTypeDescriptionHandler (skipped deprecated)
ok 8 specificEventTypeDescriptionHandler (skipped deprecated)
ok 9 uxNameDescriptionHandler (skipped deprecated)
ok 10 specificUXDescriptionHandler (skipped deprecated)
ok 11 getEventByNamespaceHandler (skipped deprecated)
ok 12 postEventHandler (skipped deprecated)
ok 13 getEventByEventIDHandler (skipped deprecated)
ok 14 getEventByEventTypeHandler (skipped deprecated)
ok 15 getEventByEventTypeAndEventIDHandler (skipped deprecated)
ok 16 getEventByUserIDHandler (skipped deprecated)
ok 17 getUserActivitiesHandler (skipped deprecated)
ok 18 deleteUserActivitiesHandler (skipped deprecated)
ok 19 getEventByUserIDAndEventIDHandler (skipped deprecated)
ok 20 getEventByUserIDAndEventTypeHandler (skipped deprecated)
ok 21 getEventByUserEventIDAndEventTypeHandler (skipped deprecated)
ok 22 lastUserActivityTimeHandler (skipped deprecated)
ok 23 getRegisteredEventsHandler (skipped deprecated)
ok 24 registerEventHandler (skipped deprecated)
ok 25 getRegisteredEventIDHandler (skipped deprecated)
ok 26 updateEventRegistryHandler (skipped deprecated)
ok 27 unregisterEventIDHandler (skipped deprecated)
ok 28 getRegisteredEventsByEventTypeHandler (skipped deprecated)
not ok 29 - queryEventStreamHandler
  ---
  error: |-
    sh/run-go-cli-eventlog-unit-test.sh: line 152: $: command not found sh/run-go-cli-eventlog-unit-test.sh: line 152: $: command not found
not ok 30 - getEventSpecificUserV2Handler
  ---
  error: |-
    sh/run-go-cli-eventlog-unit-test.sh: line 164: $: command not found sh/run-go-cli-eventlog-unit-test.sh: line 164: $: command not found
not ok 31 - getPublicEditHistory
  ---
  error: |-
    sh/run-go-cli-eventlog-unit-test.sh: line 177: $: command not found sh/run-go-cli-eventlog-unit-test.sh: line 177: $: command not found
not ok 32 - getUserEventsV2Public
  ---
  error: |-
    sh/run-go-cli-eventlog-unit-test.sh: line 190: $: command not found sh/run-go-cli-eventlog-unit-test.sh: line 190: $: command not found
```

```tap
sh/run-go-cli-ugc-unit-test.sh

TAP version 13
1..84
not ok 1 - singleAdminGetChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 68: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 68: $: command not found
not ok 2 - adminCreateChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 77: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 77: $: command not found
not ok 3 - singleAdminUpdateChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 85: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 85: $: command not found
not ok 4 - singleAdminDeleteChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 94: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 94: $: command not found
ok 5 adminUploadContentDirect (skipped deprecated)
not ok 6 - adminUploadContentS3
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 105: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 105: $: command not found
not ok 7 - singleAdminUpdateContentS3
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 114: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 114: $: command not found
not ok 8 - adminSearchChannelSpecificContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 124: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 124: $: command not found
ok 9 singleAdminUpdateContentDirect (skipped deprecated)
not ok 10 - singleAdminDeleteContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 146: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 146: $: command not found
not ok 11 - singleAdminGetContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 155: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 155: $: command not found
not ok 12 - adminSearchContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 164: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 164: $: command not found
not ok 13 - adminGetSpecificContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 182: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 182: $: command not found
not ok 14 - adminDownloadContentPreview
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 190: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 190: $: command not found
not ok 15 - adminUpdateScreenshots
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 198: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 198: $: command not found
not ok 16 - adminUploadContentScreenshot
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 207: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 207: $: command not found
not ok 17 - adminDeleteContentScreenshot
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 216: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 216: $: command not found
not ok 18 - singleAdminGetAllGroups
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 225: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 225: $: command not found
not ok 19 - adminCreateGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 234: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 234: $: command not found
not ok 20 - singleAdminGetGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 242: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 242: $: command not found
not ok 21 - singleAdminUpdateGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 250: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 250: $: command not found
not ok 22 - singleAdminDeleteGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 259: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 259: $: command not found
not ok 23 - singleAdminGetGroupContents
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 267: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 267: $: command not found
not ok 24 - adminGetTag
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 277: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 277: $: command not found
not ok 25 - adminCreateTag
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 286: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 286: $: command not found
not ok 26 - adminUpdateTag
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 294: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 294: $: command not found
not ok 27 - adminDeleteTag
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 303: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 303: $: command not found
not ok 28 - adminGetType
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 311: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 311: $: command not found
not ok 29 - adminCreateType
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 320: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 320: $: command not found
not ok 30 - adminUpdateType
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 328: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 328: $: command not found
not ok 31 - adminDeleteType
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 337: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 337: $: command not found
not ok 32 - adminGetChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 345: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 345: $: command not found
not ok 33 - adminDeleteAllUserChannels
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 355: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 355: $: command not found
not ok 34 - adminUpdateChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 363: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 363: $: command not found
not ok 35 - adminDeleteChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 373: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 373: $: command not found
not ok 36 - adminUpdateContentS3
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 382: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 382: $: command not found
ok 37 adminUpdateContentDirect (skipped deprecated)
not ok 38 - adminDeleteContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 396: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 396: $: command not found
not ok 39 - adminGetContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 406: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 406: $: command not found
not ok 40 - adminDeleteAllUserContents
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 416: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 416: $: command not found
not ok 41 - adminHideUserContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 424: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 424: $: command not found
not ok 42 - adminGetAllGroups
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 434: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 434: $: command not found
not ok 43 - adminDeleteAllUserGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 444: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 444: $: command not found
not ok 44 - adminGetGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 452: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 452: $: command not found
not ok 45 - adminUpdateGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 461: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 461: $: command not found
not ok 46 - adminDeleteGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 471: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 471: $: command not found
not ok 47 - adminGetGroupContents
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 480: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 480: $: command not found
not ok 48 - adminDeleteAllUserStates
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 491: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 491: $: command not found
not ok 49 - searchChannelSpecificContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 499: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 499: $: command not found
not ok 50 - publicSearchContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 518: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 518: $: command not found
not ok 51 - getFollowedContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 536: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 536: $: command not found
not ok 52 - getLikedContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 545: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 545: $: command not found
not ok 53 - downloadContentByShareCode
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 554: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 554: $: command not found
not ok 54 - publicDownloadContentByContentID
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 562: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 562: $: command not found
not ok 55 - addDownloadCount
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 570: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 570: $: command not found
not ok 56 - updateContentLikeStatus
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 578: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 578: $: command not found
not ok 57 - publicDownloadContentPreview
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 587: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 587: $: command not found
not ok 58 - getTag
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 595: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 595: $: command not found
not ok 59 - getType
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 604: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 604: $: command not found
not ok 60 - getFollowedUsers
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 613: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 613: $: command not found
not ok 61 - getChannels
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 622: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 622: $: command not found
not ok 62 - createChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 632: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 632: $: command not found
not ok 63 - deleteAllUserChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 641: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 641: $: command not found
not ok 64 - updateChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 649: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 649: $: command not found
not ok 65 - deleteChannel
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 659: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 659: $: command not found
ok 66 createContentDirect (skipped deprecated)
not ok 67 - createContentS3
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 671: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 671: $: command not found
not ok 68 - updateContentS3
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 681: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 681: $: command not found
ok 69 updateContentDirect (skipped deprecated)
not ok 70 - deleteContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 695: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 695: $: command not found
not ok 71 - publicGetUserContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 705: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 705: $: command not found
not ok 72 - deleteAllUserContents
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 715: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 715: $: command not found
not ok 73 - updateScreenshots
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 723: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 723: $: command not found
not ok 74 - uploadContentScreenshot
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 733: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 733: $: command not found
not ok 75 - deleteContentScreenshot
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 743: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 743: $: command not found
not ok 76 - updateUserFollowStatus
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 753: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 753: $: command not found
not ok 77 - getGroups
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 762: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 762: $: command not found
not ok 78 - createGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 772: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 772: $: command not found
not ok 79 - deleteAllUserGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 781: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 781: $: command not found
not ok 80 - getGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 789: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 789: $: command not found
not ok 81 - updateGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 798: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 798: $: command not found
not ok 82 - deleteGroup
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 808: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 808: $: command not found
not ok 83 - getGroupContent
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 817: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 817: $: command not found
not ok 84 - deleteAllUserStates
  ---
  error: |-
    sh/run-go-cli-ugc-unit-test.sh: line 828: $: command not found sh/run-go-cli-ugc-unit-test.sh: line 828: $: command not found
```

```tap
sh/run-go-cli-group-unit-test.sh

TAP version 13
1..44
not ok 1 - listGroupConfigurationAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 68: $: command not found sh/run-go-cli-group-unit-test.sh: line 68: $: command not found
not ok 2 - createGroupConfigurationAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 77: $: command not found sh/run-go-cli-group-unit-test.sh: line 77: $: command not found
not ok 3 - initiateGroupConfigurationAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 85: $: command not found sh/run-go-cli-group-unit-test.sh: line 85: $: command not found
not ok 4 - getGroupConfigurationAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 92: $: command not found sh/run-go-cli-group-unit-test.sh: line 92: $: command not found
not ok 5 - deleteGroupConfigurationV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 100: $: command not found sh/run-go-cli-group-unit-test.sh: line 100: $: command not found
not ok 6 - updateGroupConfigurationAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 108: $: command not found sh/run-go-cli-group-unit-test.sh: line 108: $: command not found
not ok 7 - updateGroupConfigurationGlobalRuleAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 117: $: command not found sh/run-go-cli-group-unit-test.sh: line 117: $: command not found
not ok 8 - deleteGroupConfigurationGlobalRuleAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 127: $: command not found sh/run-go-cli-group-unit-test.sh: line 127: $: command not found
not ok 9 - getGroupListAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 136: $: command not found sh/run-go-cli-group-unit-test.sh: line 136: $: command not found
not ok 10 - getSingleGroupAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 148: $: command not found sh/run-go-cli-group-unit-test.sh: line 148: $: command not found
not ok 11 - deleteGroupAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 156: $: command not found sh/run-go-cli-group-unit-test.sh: line 156: $: command not found
not ok 12 - getGroupMembersListAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 164: $: command not found sh/run-go-cli-group-unit-test.sh: line 164: $: command not found
not ok 13 - getMemberRolesListAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 175: $: command not found sh/run-go-cli-group-unit-test.sh: line 175: $: command not found
not ok 14 - createMemberRoleAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 184: $: command not found sh/run-go-cli-group-unit-test.sh: line 184: $: command not found
not ok 15 - getSingleMemberRoleAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 192: $: command not found sh/run-go-cli-group-unit-test.sh: line 192: $: command not found
not ok 16 - deleteMemberRoleAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 200: $: command not found sh/run-go-cli-group-unit-test.sh: line 200: $: command not found
not ok 17 - updateMemberRoleAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 208: $: command not found sh/run-go-cli-group-unit-test.sh: line 208: $: command not found
not ok 18 - updateMemberRolePermissionAdminV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 217: $: command not found sh/run-go-cli-group-unit-test.sh: line 217: $: command not found
not ok 19 - getGroupListPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 226: $: command not found sh/run-go-cli-group-unit-test.sh: line 226: $: command not found
not ok 20 - createNewGroupPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 237: $: command not found sh/run-go-cli-group-unit-test.sh: line 237: $: command not found
not ok 21 - getSingleGroupPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 245: $: command not found sh/run-go-cli-group-unit-test.sh: line 245: $: command not found
not ok 22 - updateSingleGroupV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 253: $: command not found sh/run-go-cli-group-unit-test.sh: line 253: $: command not found
not ok 23 - deleteGroupPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 262: $: command not found sh/run-go-cli-group-unit-test.sh: line 262: $: command not found
not ok 24 - updatePatchSingleGroupPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 270: $: command not found sh/run-go-cli-group-unit-test.sh: line 270: $: command not found
not ok 25 - updateGroupCustomAttributesPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 279: $: command not found sh/run-go-cli-group-unit-test.sh: line 279: $: command not found
not ok 26 - acceptGroupInvitationPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 288: $: command not found sh/run-go-cli-group-unit-test.sh: line 288: $: command not found
not ok 27 - rejectGroupInvitationPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 296: $: command not found sh/run-go-cli-group-unit-test.sh: line 296: $: command not found
not ok 28 - joinGroupV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 304: $: command not found sh/run-go-cli-group-unit-test.sh: line 304: $: command not found
not ok 29 - cancelGroupJoinRequestV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 312: $: command not found sh/run-go-cli-group-unit-test.sh: line 312: $: command not found
not ok 30 - getGroupJoinRequestPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 320: $: command not found sh/run-go-cli-group-unit-test.sh: line 320: $: command not found
not ok 31 - getGroupMembersListPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 330: $: command not found sh/run-go-cli-group-unit-test.sh: line 330: $: command not found
not ok 32 - updateGroupCustomRulePublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 341: $: command not found sh/run-go-cli-group-unit-test.sh: line 341: $: command not found
not ok 33 - updateGroupPredefinedRulePublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 350: $: command not found sh/run-go-cli-group-unit-test.sh: line 350: $: command not found
not ok 34 - deleteGroupPredefinedRulePublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 360: $: command not found sh/run-go-cli-group-unit-test.sh: line 360: $: command not found
not ok 35 - leaveGroupPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 369: $: command not found sh/run-go-cli-group-unit-test.sh: line 369: $: command not found
not ok 36 - getMemberRolesListPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 376: $: command not found sh/run-go-cli-group-unit-test.sh: line 376: $: command not found
not ok 37 - updateMemberRolePublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 385: $: command not found sh/run-go-cli-group-unit-test.sh: line 385: $: command not found
not ok 38 - deleteMemberRolePublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 394: $: command not found sh/run-go-cli-group-unit-test.sh: line 394: $: command not found
not ok 39 - getGroupInvitationRequestPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 403: $: command not found sh/run-go-cli-group-unit-test.sh: line 403: $: command not found
not ok 40 - getUserGroupInformationPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 412: $: command not found sh/run-go-cli-group-unit-test.sh: line 412: $: command not found
not ok 41 - inviteGroupPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 420: $: command not found sh/run-go-cli-group-unit-test.sh: line 420: $: command not found
not ok 42 - acceptGroupJoinRequestPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 428: $: command not found sh/run-go-cli-group-unit-test.sh: line 428: $: command not found
not ok 43 - rejectGroupJoinRequestPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 436: $: command not found sh/run-go-cli-group-unit-test.sh: line 436: $: command not found
not ok 44 - kickGroupMemberPublicV1
  ---
  error: |-
    sh/run-go-cli-group-unit-test.sh: line 444: $: command not found sh/run-go-cli-group-unit-test.sh: line 444: $: command not found
```

```tap
sh/run-go-cli-qosm-unit-test.sh

TAP version 13
1..4
not ok 1 - deleteServer
  ---
  error: |-
    sh/run-go-cli-qosm-unit-test.sh: line 68: $: command not found sh/run-go-cli-qosm-unit-test.sh: line 68: $: command not found
not ok 2 - setServerAlias
  ---
  error: |-
    sh/run-go-cli-qosm-unit-test.sh: line 75: $: command not found sh/run-go-cli-qosm-unit-test.sh: line 75: $: command not found
not ok 3 - listServer
  ---
  error: |-
    sh/run-go-cli-qosm-unit-test.sh: line 83: $: command not found sh/run-go-cli-qosm-unit-test.sh: line 83: $: command not found
not ok 4 - heartbeat
  ---
  error: |-
    sh/run-go-cli-qosm-unit-test.sh: line 89: $: command not found sh/run-go-cli-qosm-unit-test.sh: line 89: $: command not found
```

```tap
sh/run-go-cli-legal-unit-test.sh

TAP version 13
1..41
not ok 1 - retrieveAcceptedAgreements
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 68: $: command not found sh/run-go-cli-legal-unit-test.sh: line 68: $: command not found
not ok 2 - retrieveAllUsersByPolicyVersion
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 75: $: command not found sh/run-go-cli-legal-unit-test.sh: line 75: $: command not found
not ok 3 - retrieveAllLegalPolicies
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 85: $: command not found sh/run-go-cli-legal-unit-test.sh: line 85: $: command not found
not ok 4 - createPolicy
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 91: $: command not found sh/run-go-cli-legal-unit-test.sh: line 91: $: command not found
not ok 5 - retrieveSinglePolicy
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 98: $: command not found sh/run-go-cli-legal-unit-test.sh: line 98: $: command not found
not ok 6 - partialUpdatePolicy
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 105: $: command not found sh/run-go-cli-legal-unit-test.sh: line 105: $: command not found
not ok 7 - retrievePolicyCountry
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 113: $: command not found sh/run-go-cli-legal-unit-test.sh: line 113: $: command not found
not ok 8 - retrieveLocalizedPolicyVersions
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 121: $: command not found sh/run-go-cli-legal-unit-test.sh: line 121: $: command not found
not ok 9 - createLocalizedPolicyVersion
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 128: $: command not found sh/run-go-cli-legal-unit-test.sh: line 128: $: command not found
not ok 10 - retrieveSingleLocalizedPolicyVersion
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 136: $: command not found sh/run-go-cli-legal-unit-test.sh: line 136: $: command not found
not ok 11 - updateLocalizedPolicyVersion
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 143: $: command not found sh/run-go-cli-legal-unit-test.sh: line 143: $: command not found
not ok 12 - requestPresignedURL
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 151: $: command not found sh/run-go-cli-legal-unit-test.sh: line 151: $: command not found
not ok 13 - setDefaultPolicy
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 159: $: command not found sh/run-go-cli-legal-unit-test.sh: line 159: $: command not found
not ok 14 - indirectBulkAcceptVersionedPolicy
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 166: $: command not found sh/run-go-cli-legal-unit-test.sh: line 166: $: command not found
not ok 15 - adminRetrieveEligibilities
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 178: $: command not found sh/run-go-cli-legal-unit-test.sh: line 178: $: command not found
not ok 16 - retrievePolicies
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 189: $: command not found sh/run-go-cli-legal-unit-test.sh: line 189: $: command not found
not ok 17 - updatePolicyVersion
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 196: $: command not found sh/run-go-cli-legal-unit-test.sh: line 196: $: command not found
not ok 18 - publishPolicyVersion
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 204: $: command not found sh/run-go-cli-legal-unit-test.sh: line 204: $: command not found
not ok 19 - updatePolicy
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 212: $: command not found sh/run-go-cli-legal-unit-test.sh: line 212: $: command not found
not ok 20 - setDefaultPolicy1
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 220: $: command not found sh/run-go-cli-legal-unit-test.sh: line 220: $: command not found
not ok 21 - retrieveSinglePolicyVersion
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 227: $: command not found sh/run-go-cli-legal-unit-test.sh: line 227: $: command not found
not ok 22 - createPolicyVersion
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 235: $: command not found sh/run-go-cli-legal-unit-test.sh: line 235: $: command not found
not ok 23 - retrieveAllPolicyTypes
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 243: $: command not found sh/run-go-cli-legal-unit-test.sh: line 243: $: command not found
not ok 24 - getUserInfoStatus
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 251: $: command not found sh/run-go-cli-legal-unit-test.sh: line 251: $: command not found
not ok 25 - syncUserInfo
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 258: $: command not found sh/run-go-cli-legal-unit-test.sh: line 258: $: command not found
not ok 26 - invalidateUserInfoCache
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 265: $: command not found sh/run-go-cli-legal-unit-test.sh: line 265: $: command not found
not ok 27 - anonymizeUserAgreement
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 272: $: command not found sh/run-go-cli-legal-unit-test.sh: line 272: $: command not found
not ok 28 - changePreferenceConsent
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 279: $: command not found sh/run-go-cli-legal-unit-test.sh: line 279: $: command not found
not ok 29 - acceptVersionedPolicy
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 286: $: command not found sh/run-go-cli-legal-unit-test.sh: line 286: $: command not found
not ok 30 - retrieveAgreementsPublic
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 293: $: command not found sh/run-go-cli-legal-unit-test.sh: line 293: $: command not found
not ok 31 - bulkAcceptVersionedPolicy
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 299: $: command not found sh/run-go-cli-legal-unit-test.sh: line 299: $: command not found
not ok 32 - indirectBulkAcceptVersionedPolicyV2
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 306: $: command not found sh/run-go-cli-legal-unit-test.sh: line 306: $: command not found
not ok 33 - indirectBulkAcceptVersionedPolicy1
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 317: $: command not found sh/run-go-cli-legal-unit-test.sh: line 317: $: command not found
not ok 34 - retrieveEligibilitiesPublic
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 325: $: command not found sh/run-go-cli-legal-unit-test.sh: line 325: $: command not found
not ok 35 - retrieveEligibilitiesPublicIndirect
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 332: $: command not found sh/run-go-cli-legal-unit-test.sh: line 332: $: command not found
not ok 36 - retrieveSingleLocalizedPolicyVersion1
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 342: $: command not found sh/run-go-cli-legal-unit-test.sh: line 342: $: command not found
not ok 37 - retrievePolicyVersions
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 349: $: command not found sh/run-go-cli-legal-unit-test.sh: line 349: $: command not found
not ok 38 - retrieveLatestPolicies
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 358: $: command not found sh/run-go-cli-legal-unit-test.sh: line 358: $: command not found
not ok 39 - retrieveLatestPoliciesPublic
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 368: $: command not found sh/run-go-cli-legal-unit-test.sh: line 368: $: command not found
not ok 40 - retrieveLatestPoliciesByNamespaceAndCountryPublic
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 379: $: command not found sh/run-go-cli-legal-unit-test.sh: line 379: $: command not found
not ok 41 - checkReadiness
  ---
  error: |-
    sh/run-go-cli-legal-unit-test.sh: line 391: $: command not found sh/run-go-cli-legal-unit-test.sh: line 391: $: command not found
```

```tap
sh/run-go-cli-matchmaking-unit-test.sh

TAP version 13
1..28
not ok 1 - getHealthcheckInfo
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 68: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 68: $: command not found
not ok 2 - handlerV3Healthz
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 74: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 74: $: command not found
not ok 3 - getAllChannelsHandler
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 80: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 80: $: command not found
not ok 4 - createChannelHandler
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 89: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 89: $: command not found
not ok 5 - deleteChannelHandler
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 97: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 97: $: command not found
not ok 6 - storeMatchResults
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 105: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 105: $: command not found
not ok 7 - queueSessionHandler
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 113: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 113: $: command not found
not ok 8 - dequeueSessionHandler
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 121: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 121: $: command not found
not ok 9 - querySessionHandler
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 129: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 129: $: command not found
not ok 10 - updatePlayTimeWeight
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 137: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 137: $: command not found
not ok 11 - getAllPartyInAllChannel
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 145: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 145: $: command not found
not ok 12 - bulkGetSessions
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 152: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 152: $: command not found
not ok 13 - exportChannels
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 160: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 160: $: command not found
not ok 14 - importChannels
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 167: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 167: $: command not found
not ok 15 - getSingleMatchmakingChannel
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 176: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 176: $: command not found
not ok 16 - updateMatchmakingChannel
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 184: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 184: $: command not found
not ok 17 - getAllPartyInChannel
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 193: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 193: $: command not found
not ok 18 - getAllSessionsInChannel
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 201: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 201: $: command not found
not ok 19 - addUserIntoSessionInChannel
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 209: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 209: $: command not found
not ok 20 - deleteSessionInChannel
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 219: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 219: $: command not found
not ok 21 - deleteUserFromSessionInChannel
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 228: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 228: $: command not found
not ok 22 - searchSessions
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 238: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 238: $: command not found
not ok 23 - getSessionHistoryDetailed
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 252: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 252: $: command not found
not ok 24 - publicGetMessages
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 260: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 260: $: command not found
not ok 25 - publicGetAllMatchmakingChannel
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 266: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 266: $: command not found
not ok 26 - publicGetSingleMatchmakingChannel
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 273: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 273: $: command not found
not ok 27 - searchSessionsV2
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 281: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 281: $: command not found
not ok 28 - versionCheckHandler
  ---
  error: |-
    sh/run-go-cli-matchmaking-unit-test.sh: line 295: $: command not found sh/run-go-cli-matchmaking-unit-test.sh: line 295: $: command not found
```

```tap
sh/run-go-cli-cloudsave-unit-test.sh

TAP version 13
1..30
not ok 1 - listGameRecordsHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 68: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 68: $: command not found
not ok 2 - adminGetGameRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 78: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 78: $: command not found
not ok 3 - adminPutGameRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 86: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 86: $: command not found
not ok 4 - adminPostGameRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 95: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 95: $: command not found
not ok 5 - adminDeleteGameRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 104: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 104: $: command not found
ok 6 listPlayerRecordHandlerV1 (skipped deprecated)
not ok 7 - adminRetrievePlayerRecords
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 115: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 115: $: command not found
not ok 8 - adminGetPlayerRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 125: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 125: $: command not found
not ok 9 - adminPutPlayerRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 134: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 134: $: command not found
not ok 10 - adminPostPlayerRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 144: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 144: $: command not found
not ok 11 - adminDeletePlayerRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 154: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 154: $: command not found
not ok 12 - adminGetPlayerPublicRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 163: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 163: $: command not found
not ok 13 - adminPutPlayerPublicRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 172: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 172: $: command not found
not ok 14 - adminPostPlayerPublicRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 182: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 182: $: command not found
not ok 15 - adminDeletePlayerPublicRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 192: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 192: $: command not found
not ok 16 - putGameRecordConcurrentHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 201: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 201: $: command not found
not ok 17 - getGameRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 210: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 210: $: command not found
not ok 18 - putGameRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 218: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 218: $: command not found
not ok 19 - postGameRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 227: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 227: $: command not found
not ok 20 - deleteGameRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 236: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 236: $: command not found
not ok 21 - bulkGetPlayerPublicRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 244: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 244: $: command not found
not ok 22 - publicDeletePlayerPublicRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 253: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 253: $: command not found
not ok 23 - putPlayerPublicRecordConcurrentHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 261: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 261: $: command not found
not ok 24 - getPlayerRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 271: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 271: $: command not found
not ok 25 - putPlayerRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 280: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 280: $: command not found
not ok 26 - postPlayerRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 290: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 290: $: command not found
not ok 27 - deletePlayerRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 300: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 300: $: command not found
not ok 28 - getPlayerPublicRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 309: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 309: $: command not found
not ok 29 - putPlayerPublicRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 318: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 318: $: command not found
not ok 30 - postPlayerPublicRecordHandlerV1
  ---
  error: |-
    sh/run-go-cli-cloudsave-unit-test.sh: line 328: $: command not found sh/run-go-cli-cloudsave-unit-test.sh: line 328: $: command not found
```

```tap
sh/run-go-cli-dslogmanager-unit-test.sh

TAP version 13
1..6
not ok 1 - listTerminatedServers
  ---
  error: |-
    sh/run-go-cli-dslogmanager-unit-test.sh: line 68: $: command not found sh/run-go-cli-dslogmanager-unit-test.sh: line 68: $: command not found
not ok 2 - downloadServerLogs
  ---
  error: |-
    sh/run-go-cli-dslogmanager-unit-test.sh: line 88: $: command not found sh/run-go-cli-dslogmanager-unit-test.sh: line 88: $: command not found
not ok 3 - checkServerLogs
  ---
  error: |-
    sh/run-go-cli-dslogmanager-unit-test.sh: line 96: $: command not found sh/run-go-cli-dslogmanager-unit-test.sh: line 96: $: command not found
not ok 4 - batchDownloadServerLogs
  ---
  error: |-
    sh/run-go-cli-dslogmanager-unit-test.sh: line 104: $: command not found sh/run-go-cli-dslogmanager-unit-test.sh: line 104: $: command not found
not ok 5 - listAllTerminatedServers
  ---
  error: |-
    sh/run-go-cli-dslogmanager-unit-test.sh: line 111: $: command not found sh/run-go-cli-dslogmanager-unit-test.sh: line 111: $: command not found
not ok 6 - publicGetMessages
  ---
  error: |-
    sh/run-go-cli-dslogmanager-unit-test.sh: line 131: $: command not found sh/run-go-cli-dslogmanager-unit-test.sh: line 131: $: command not found
```

```tap
sh/run-go-cli-basic-unit-test.sh

TAP version 13
1..57
not ok 1 - getNamespaces
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 68: $: command not found sh/run-go-cli-basic-unit-test.sh: line 68: $: command not found
not ok 2 - createNamespace
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 75: $: command not found sh/run-go-cli-basic-unit-test.sh: line 75: $: command not found
not ok 3 - getNamespace
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 82: $: command not found sh/run-go-cli-basic-unit-test.sh: line 82: $: command not found
not ok 4 - deleteNamespace
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 90: $: command not found sh/run-go-cli-basic-unit-test.sh: line 90: $: command not found
not ok 5 - getActions
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 97: $: command not found sh/run-go-cli-basic-unit-test.sh: line 97: $: command not found
not ok 6 - banUsers
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 104: $: command not found sh/run-go-cli-basic-unit-test.sh: line 104: $: command not found
not ok 7 - getBannedUsers
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 112: $: command not found sh/run-go-cli-basic-unit-test.sh: line 112: $: command not found
not ok 8 - reportUser
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 120: $: command not found sh/run-go-cli-basic-unit-test.sh: line 120: $: command not found
not ok 9 - getUserStatus
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 128: $: command not found sh/run-go-cli-basic-unit-test.sh: line 128: $: command not found
not ok 10 - unBanUsers
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 136: $: command not found sh/run-go-cli-basic-unit-test.sh: line 136: $: command not found
not ok 11 - updateNamespace
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 144: $: command not found sh/run-go-cli-basic-unit-test.sh: line 144: $: command not found
not ok 12 - getConfig
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 152: $: command not found sh/run-go-cli-basic-unit-test.sh: line 152: $: command not found
not ok 13 - deleteConfig
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 159: $: command not found sh/run-go-cli-basic-unit-test.sh: line 159: $: command not found
not ok 14 - updateConfig
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 166: $: command not found sh/run-go-cli-basic-unit-test.sh: line 166: $: command not found
not ok 15 - generatedUploadUrl
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 174: $: command not found sh/run-go-cli-basic-unit-test.sh: line 174: $: command not found
not ok 16 - getCountries
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 183: $: command not found sh/run-go-cli-basic-unit-test.sh: line 183: $: command not found
not ok 17 - getCountryGroups
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 191: $: command not found sh/run-go-cli-basic-unit-test.sh: line 191: $: command not found
not ok 18 - addCountryGroup
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 199: $: command not found sh/run-go-cli-basic-unit-test.sh: line 199: $: command not found
not ok 19 - updateCountryGroup
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 207: $: command not found sh/run-go-cli-basic-unit-test.sh: line 207: $: command not found
not ok 20 - deleteCountryGroup
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 216: $: command not found sh/run-go-cli-basic-unit-test.sh: line 216: $: command not found
not ok 21 - getLanguages
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 224: $: command not found sh/run-go-cli-basic-unit-test.sh: line 224: $: command not found
not ok 22 - getTimeZones
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 231: $: command not found sh/run-go-cli-basic-unit-test.sh: line 231: $: command not found
not ok 23 - adminGetUserProfilePublicInfoByIds
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 238: $: command not found sh/run-go-cli-basic-unit-test.sh: line 238: $: command not found
not ok 24 - getNamespacePublisher
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 246: $: command not found sh/run-go-cli-basic-unit-test.sh: line 246: $: command not found
not ok 25 - changeNamespaceStatus
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 253: $: command not found sh/run-go-cli-basic-unit-test.sh: line 253: $: command not found
not ok 26 - anonymizeUserProfile
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 261: $: command not found sh/run-go-cli-basic-unit-test.sh: line 261: $: command not found
not ok 27 - generatedUserUploadContentUrl
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 269: $: command not found sh/run-go-cli-basic-unit-test.sh: line 269: $: command not found
not ok 28 - getUserProfileInfo
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 278: $: command not found sh/run-go-cli-basic-unit-test.sh: line 278: $: command not found
not ok 29 - updateUserProfile
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 286: $: command not found sh/run-go-cli-basic-unit-test.sh: line 286: $: command not found
not ok 30 - deleteUserProfile
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 295: $: command not found sh/run-go-cli-basic-unit-test.sh: line 295: $: command not found
not ok 31 - getCustomAttributesInfo
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 303: $: command not found sh/run-go-cli-basic-unit-test.sh: line 303: $: command not found
not ok 32 - updateCustomAttributesPartially
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 311: $: command not found sh/run-go-cli-basic-unit-test.sh: line 311: $: command not found
not ok 33 - getPrivateCustomAttributesInfo
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 320: $: command not found sh/run-go-cli-basic-unit-test.sh: line 320: $: command not found
not ok 34 - updatePrivateCustomAttributesPartially
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 328: $: command not found sh/run-go-cli-basic-unit-test.sh: line 328: $: command not found
not ok 35 - updateUserProfileStatus
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 337: $: command not found sh/run-go-cli-basic-unit-test.sh: line 337: $: command not found
not ok 36 - publicGetTime
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 346: $: command not found sh/run-go-cli-basic-unit-test.sh: line 346: $: command not found
not ok 37 - publicGetNamespaces
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 352: $: command not found sh/run-go-cli-basic-unit-test.sh: line 352: $: command not found
not ok 38 - publicGeneratedUploadUrl
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 359: $: command not found sh/run-go-cli-basic-unit-test.sh: line 359: $: command not found
not ok 39 - publicGetCountries
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 368: $: command not found sh/run-go-cli-basic-unit-test.sh: line 368: $: command not found
not ok 40 - publicGetLanguages
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 376: $: command not found sh/run-go-cli-basic-unit-test.sh: line 376: $: command not found
not ok 41 - publicGetTimeZones
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 383: $: command not found sh/run-go-cli-basic-unit-test.sh: line 383: $: command not found
not ok 42 - publicGetUserProfilePublicInfoByIds
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 390: $: command not found sh/run-go-cli-basic-unit-test.sh: line 390: $: command not found
not ok 43 - publicGetNamespacePublisher
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 398: $: command not found sh/run-go-cli-basic-unit-test.sh: line 398: $: command not found
not ok 44 - getMyProfileInfo
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 405: $: command not found sh/run-go-cli-basic-unit-test.sh: line 405: $: command not found
not ok 45 - updateMyProfile
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 412: $: command not found sh/run-go-cli-basic-unit-test.sh: line 412: $: command not found
not ok 46 - createMyProfile
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 420: $: command not found sh/run-go-cli-basic-unit-test.sh: line 420: $: command not found
not ok 47 - getMyZipCode
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 428: $: command not found sh/run-go-cli-basic-unit-test.sh: line 428: $: command not found
not ok 48 - updateMyZipCode
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 435: $: command not found sh/run-go-cli-basic-unit-test.sh: line 435: $: command not found
not ok 49 - publicReportUser
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 443: $: command not found sh/run-go-cli-basic-unit-test.sh: line 443: $: command not found
not ok 50 - publicGeneratedUserUploadContentUrl
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 452: $: command not found sh/run-go-cli-basic-unit-test.sh: line 452: $: command not found
not ok 51 - publicGetUserProfileInfo
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 461: $: command not found sh/run-go-cli-basic-unit-test.sh: line 461: $: command not found
not ok 52 - publicUpdateUserProfile
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 469: $: command not found sh/run-go-cli-basic-unit-test.sh: line 469: $: command not found
not ok 53 - publicCreateUserProfile
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 478: $: command not found sh/run-go-cli-basic-unit-test.sh: line 478: $: command not found
not ok 54 - publicGetCustomAttributesInfo
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 487: $: command not found sh/run-go-cli-basic-unit-test.sh: line 487: $: command not found
not ok 55 - publicUpdateCustomAttributesPartially
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 495: $: command not found sh/run-go-cli-basic-unit-test.sh: line 495: $: command not found
not ok 56 - publicGetUserProfilePublicInfo
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 504: $: command not found sh/run-go-cli-basic-unit-test.sh: line 504: $: command not found
not ok 57 - publicUpdateUserProfileStatus
  ---
  error: |-
    sh/run-go-cli-basic-unit-test.sh: line 512: $: command not found sh/run-go-cli-basic-unit-test.sh: line 512: $: command not found
```

```tap
sh/run-go-cli-gametelemetry-unit-test.sh

TAP version 13
1..3
not ok 1 - protectedSaveEventsGameTelemetryV1ProtectedEventsPost
  ---
  error: |-
    sh/run-go-cli-gametelemetry-unit-test.sh: line 68: $: command not found sh/run-go-cli-gametelemetry-unit-test.sh: line 68: $: command not found
not ok 2 - protectedGetPlaytimeGameTelemetryV1ProtectedSteamIdsSteamIdPlaytimeGet
  ---
  error: |-
    sh/run-go-cli-gametelemetry-unit-test.sh: line 75: $: command not found sh/run-go-cli-gametelemetry-unit-test.sh: line 75: $: command not found
not ok 3 - protectedUpdatePlaytimeGameTelemetryV1ProtectedSteamIdsSteamIdPlaytimePlaytimePut
  ---
  error: |-
    sh/run-go-cli-gametelemetry-unit-test.sh: line 82: $: command not found sh/run-go-cli-gametelemetry-unit-test.sh: line 82: $: command not found
```

